@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
//@include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

//@include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow');

@import "common";

//home page
@import "pages/index";
@import "pages/popular";
@import "pages/actions";
@import "pages/news";
@import "pages/brands_of_shop";
@import "pages/online_support";
@import "pages/subscription";
@import "pages/about_shop";
@import "pages/footer";
@import "partials/search";

//catalog page
@import "pages/catalog/catalog";
@import "partials/catalog/clothes";
@import "partials/catalog/shoes";
@import "partials/catalog/bags";
@import "partials/catalog/tourism";
@import "partials/catalog/equipment";
@import "partials/catalog/ski";
@import "partials/catalog/cycling";

//news page
@import "partials/blog/news_page";

//search page
@import "partials/search-page/search_part";
@import "partials/filter_part";
@import "partials/filter_top_line";
@import "pages/category_list";

@import "pages/sale_list";

//wrong pages
@import "pages/page_403";
@import "pages/page_404";
@import "pages/page_500";

//article
@import "pages/article";
@import "partials/article/article_text";
@import "partials/article/get_news";

//product-page
@import "pages/product_page";
@import "partials/product-page/same-category";
@import "partials/product-page/buy_with_it";
@import "partials/product-page/maybe_you_found";
@import "partials/product-page/recently_viewed";

//checkout
@import "pages/checkout";
@import "partials/checkout/checkout_left_side";
@import "partials/checkout/checkout_right_side";

//brands page
@import "pages/brands_page";

//about shop page
@import "pages/about_shop_page";

//contacts page
@import "pages/contacts_page";

//feedback
@import "pages/feedback";

//size chart
@import "pages/size_chart";

//comparison
@import "pages/comparison";

//personal-account
@import "pages/personal_account";

//guarantee
@import "pages/guarantee";

//privacy
@import "pages/privacy";

//shipping
@import "pages/shipping_page";

//questions_page
@import "pages/questions_page";

//others
@import "components/custom-btn";
@import "components/headers";
@import "components/inputs";

@import "partials/header_common";
@import "partials/header_dark";
@import "partials/header_light";
@import "partials/header_mobile";
