.viewport-fullheight {
  min-height: 100vh;
  padding-top: rem-calc(50);

  @include breakpoint(large) {
    padding-top: rem-calc(100);

  }
}

.top-line-show-only-for-large {
  display: none;

  @include breakpoint(large) {
    display: flex;
  }
}

.flex-for-medium-down {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: rem-calc(25);

  @include breakpoint(large) {
    display: block;
    padding-top: 0;
  }
}