<section id="actions" class="viewport-fullheight">
    <h2 class="actions-title title title-2 title-bold title-uppercase">Акции и предложения
        недели</h2>
    <div class="actions-container">
        <div class="actions-left-side">
            <span class="offer">предложение дня</span>
            <button class="button primary days">28 сентября - 20 октября</button>
            <span class="huge-percent">-70%</span>
            <h2 class="left-side-title title-white title-bold title-uppercase">откройте свой велосезон
                <br>в
                Шамбале</h2>
            <p class="left-side-descr">Будьте в курсе последних новинок в сфере активного отдыха
                и <br>туризма</p>
            <button class="hollow button watch-collection">Смотреть коллекцию</button>
        </div>
        <!-- /.actions-left-side -->
        <!--<div class="actions-right-side">-->
            <div class="top-container">
                <span class="offer">предложение дня</span>
                <button class="button primary days">28 сентября - 20 октября</button>
                <h2 class="top-container-title title-white title-bold title-uppercase">откройте свой велосезон <br>в Шамбале</h2>
                <p class="top-container-descr">Будьте в курсе последних новинок в сфере активного
                    отдыха и <br>туризма</p>
                <button class="hollow button watch-collection">Смотреть коллекцию</button>
            </div>
            <div class="bottom-container">
                <div class="timer">
                    <div class="timer-content">
                        <span class="time day">07</span>
                        <span class="text">дней</span>
                    </div>
                    <div class="timer-content">
                        <span class="time hour">07</span>
                        <span class="text">часов</span>
                    </div>
                    <div class="timer-content">
                        <span class="time minute">07</span>
                        <span class="text">минут</span>
                    </div>
                    <div class="timer-content">
                        <span class="time second">07</span>
                        <span class="text">секунд</span>
                    </div>
                </div>
                <h2 class="bottom-container-title title-white title-bold title-uppercase">откройте свой велосезон <br>в Шамбале</h2>
                <p class="bottom-container-descr">Будьте в курсе последних новинок в сфере активного
                    отдыха и <br>туризма</p>
                <button class="hollow button watch-collection">Смотреть коллекцию</button>
            </div>
        <!--</div>-->
        <!-- /.actions-right-side -->
    </div>
    <!-- /.actions-container -->
</section>
<!-- /#actions -->