<section id="brands">
    <h2 class="brands-title title title-2 title-bold title-uppercase">бренды магазина</h2>
    <!-- /.brands-title -->
    <div class="grid-container">
        <div class="brands-container grid-x medium-up-6 small-up-2">
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-1.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-2.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-3.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-4.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-5.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-6.png" alt="brand" class="brands-img" /></a>

            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-7.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-8.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-9.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-10.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-11.png" alt="brand" class="brands-img" /></a>
            <a href="/brands_page.html" class="brands-link cell"><img src="../../assets/img/brands-of-shop/pick-brand-12.png" alt="brand" class="brands-img" /></a>
        </div>
        <!-- /.brands-container -->
        <a href="/brands_page.html" class="all-brands button hollow">все бренды</a>
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#brands -->