<footer id="footer">
    <div class="grid-container">
        <div class="grid-x">
            <h3 class="about-shop-title title title-3 title-bold title-uppercase">Интернет-магазин
                шамбала</h3>
            <p class="about-shop-text">В некоторых странах проводили специальные исследования после которых сделали заключение, что те люди, которые добираются на роботу на велосипедах, значительно меньше болеют, у них увеличивается трудоспосбность и укрепляется иммунитет. Достаточно большое количество стран в мире, заботясь о благополучии и здоровье своей нации, начали активно строить велодорожки. Как говорят: “На велосипеде можна уехать от инфаркта, сердечного приступа и от частых простудных заболеваний”. Кстати, тем, кто бросил курить, байк поможет быстро очистить лёгкие. И, даже если Вы полностью здоровы и не имеете вредных привычек, согласитесь, что кататься на велосипеде правда очень приятно – это всегда добавляет чудесного настрения и держит человека в хорошей форме.</p>
            <p class="about-shop-text">В некоторых странах проводили специальные исследования после которых сделали заключение, что те люди, которые добираются на роботу на велосипедах, значительно меньше болеют, у них увеличивается трудоспосбность и укрепляется иммунитет. Достаточно большое количество стран в мире, заботясь о благополучии и здоровье своей нации, начали активно строить велодорожки. Как говорят: “На велосипеде можна уехать от инфаркта, сердечного приступа и от частых простудных заболеваний”. Кстати, тем, кто бросил курить, байк поможет быстро очистить лёгкие. И, даже если Вы полностью здоровы и не имеете вредных привычек, согласитесь, что кататься на велосипеде правда очень приятно – это всегда добавляет чудесного настрения и держит человека в хорошей форме.</p>
            <p class="about-shop-text">В некоторых странах проводили специальные исследования после которых сделали заключение, что те люди, которые добираются на роботу на велосипедах, значительно меньше болеют, у них увеличивается трудоспосбность и укрепляется иммунитет. Достаточно большое количество стран в мире, заботясь о благополучии и здоровье своей нации, начали активно строить велодорожки. Как говорят: “На велосипеде можна уехать от инфаркта, сердечного приступа и от частых простудных заболеваний”. Кстати, тем, кто бросил курить, байк поможет быстро очистить лёгкие. И, даже если Вы полностью здоровы и не имеете вредных привычек, согласитесь, что кататься на велосипеде правда очень приятно – это всегда добавляет чудесного настрения и держит человека в хорошей форме.</p>
        </div>
        <!-- /.gtid-x -->
        <div class="grid-x">
            <div class="bottom-part">
                <div class="bottom-part-container payment">
                    <a href="#" class="payment-link"><img src="../../assets/img/footer/logo.png" alt="logo" class="payment-logo"></a>
                    <a href="#" class="payment-link">Политика конфиденциальности</a>
                    <a href="#" class="payment-link">Правила пользования сайтом</a>
                    <div class="payment-systems">
                        <img src="../../assets/img/footer/visa.svg" alt="visa" class="payment-systems-img">
                        <img src="../../assets/img/footer/mastercard.svg" alt="mastercard" class="payment-systems-img">
                        <img src="../../assets/img/footer/maestro.svg" alt="maestro" class="payment-systems-img">
                        <img src="../../assets/img/footer/privatbank.jpg" alt="privatbank" class="payment-systems-img">
                    </div>
                </div>
                <div class="bottom-part-container shop">
                    <a href="#" class="shop-link">Магазин</a>
                    <a href="#" class="shop-link">Каталог товаров</a>
                    <a href="#" class="shop-link">Бренды</a>
                    <a href="#" class="shop-link">Новости</a>
                    <a href="#" class="shop-link">Акции и распродажи</a>
                    <a href="#" class="shop-link">Контакты</a>
                </div>
                <div class="bottom-part-container information">
                    <a href="#" class="information-link">Информация</a>
                    <a href="#" class="information-link">Размерные сетки</a>
                    <a href="#" class="information-link">FAQ</a>
                    <a href="#" class="information-link">Гарантия на продукцию</a>
                    <a href="#" class="information-link">Доставка и оплата</a>
                    <a href="#" class="information-link">Связаться с нами</a>
                </div>
                <div class="bottom-part-container contacts">
                    <a href="#" class="contacts-link">Контактная информация</a>
                    <a href="#" class="contacts-link">Украина, г. Днепр, пр-т Александра Поля111-а<a>
                    <a href="#" class="contacts-link">0 800 888 8888</a>
                    <a href="#" class="contacts-link">095 888 88 88</a>
                    <a href="#" class="contacts-link">095 888 88 88</a>
                </div>
                <div class="bottom-part-container social">
                    <a href="#" class="social-link">Соцсети</a>
                    <a href="#" class="social-link"><img src="../../assets/img/footer/normal-1.svg" alt="facebook"></a>
                    <a href="#" class="social-link"><img src="../../assets/img/footer/normal-2.svg" alt="facebook"></a>
                    <a href="#" class="social-link"><img src="../../assets/img/footer/normal-3.svg" alt="facebook"></a>
                </div>
            </div>
            <div class="copyright">©2017. Shambala shop. All rights reserved.</div>
            <!-- /.copyright -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</footer>
<!-- /#footer -->