<section id="greetings" class="home-page viewport-fullheight">
    <div class="grid-container">
        <div class="home-page-content">
            <div class="home-page-slider-arrow hide-for-large-up">
                <a href="#" class="home-page-slider-arrow-link"><img src="../../assets/img/home/slider-arrow.svg" alt="ar"></a>
                <a href="#" class="home-page-slider-arrow-link"><img src="../../assets/img/home/slider-arrow.svg" alt="ar"></a>
            </div>
            <!-- /.home-page-slider-arrow -->
            <input class="home-search input-common input-common-size-14 input-common-white" type="text" name="search" placeholder="Что Вы ищите?">
            <div>
                <h1 class="home-page-title title title-1 title-white title-bold title-uppercase">Открой свой велосезон <br> в Шамбале</h1>
                <button class="hollow button watch-collection">Смотреть коллекцию</button>
            </div>
            <div class="home-page-link-container">
                <a href="#" class="home-page-link fishing">Рыбалка 2017</a>
                <a href="#" class="home-page-link new-collection">Новая коллекция</a>
                <a href="#" class="home-page-link crossfit">Кроссфит</a>
                <a href="#" class="home-page-link the-best">Лучшее предложение</a>
            </div>
            <!-- /.home-page-link-container -->
        </div>
        <!-- /.home-page-content -->
        <div class="home-page-slider-nav hide-for-large-only">
            <a href="#" class="home-page-slider-nav-link"></a>
            <a href="#" class="home-page-slider-nav-link"></a>
            <a href="#" class="home-page-slider-nav-link home-page-slider-nav-link-active"></a>
            <a href="#" class="home-page-slider-nav-link"></a>
            <a href="#" class="home-page-slider-nav-link"></a>
        </div>
        <!-- /.home-page-slider-nav -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /.home -->