<section id="news" class="viewport-fullheight">
    <h2 class="news-title title title-2 title-bold title-uppercase">Новости</h2>
    <p class="news-title-descr">Будьте в курсе последних новинок в сфере активного отдыха и туризма</p>
    <div class="news-container">
        <div class="article-container">
            <div class="article-img-container">
                <a href="/blog.html">
                    <img src="../assets/img/news/pic-back-1.png" alt="snow" class="article-img" />
                </a>
                <a class="article-link" href="#">Новости</a>
            </div>
            <div class="article-text-container">
                <a href="/blog.html" class="article-title">Доступна услуга сезонного хранения велосипеда</a>
                <p class="article-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                <div class="under-article">
                    <span class="date">3 недели назад</span>
                    <a href="/blog.html" class="more">Подробнее</a>
                </div>
            </div>
            <!-- /.article-text-container -->
        </div>
        <div class="article-container">
            <div class="article-img-container">
                <a href="/blog.html">
                    <img src="../assets/img/news/pic-back-2.png" alt="snow" class="article-img" />
                </a>
                <a class="article-link" href="#">фотоотчет</a>
            </div>
            <div class="article-text-container">
                <a href="/blog.html" class="article-title">Доступна услуга сезонного хранения велосипеда</a>
                <p class="article-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                <div class="under-article">
                    <span class="date">3 недели назад</span>
                    <a href="/blog.html" class="more">Подробнее</a>
                </div>
            </div>
            <!-- /.article-text-container -->
        </div>
        <div class="article-container">
            <div class="article-img-container">
                <a href="/blog.html">
                    <img src="../assets/img/news/pic-back-3.png" alt="snow" class="article-img" />
                </a>
                <a class="article-link" href="#">обзор</a>
            </div>
            <div class="article-text-container">
                <a href="/blog.html" class="article-title">Доступна услуга сезонного хранения велосипеда</a>
                <p class="article-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                <div class="under-article">
                    <span class="date">3 недели назад</span>
                    <a href="/blog.html" class="more">Подробнее</a>
                </div>
            </div>
            <!-- /.article-text-container -->
        </div>
        <a href="/blog.html" class="button primary see-all-news">Все новости</a>
        <!-- /.see-all-news -->
    </div>
    <!-- /.news-container -->
</section>
<!-- /.news -->