<section id="support">
    <div class="grid-container">
        <div class="grid-x medium-up-4 add-shadow">
            <div class="support-container cell">
                <a href="/questions_page.html">
                    <img src="../../assets/img/online_support/logo-1.svg" alt="icon" class="support-container-icon" />
                </a>
                <a href="/questions_page.html" class="support-container-title">онлайн поддержка покупателей</a>
                <p class="support-container-descr">Описание преимущества описание преимущества</p>
                <a href="/questions_page.html" class="support-container-more">Подробнее</a>
            </div>
            <div class="support-container cell">
                <a href="/questions_page.html">
                    <img src="../../assets/img/online_support/logo-2.svg" alt="icon" class="support-container-icon" />
                </a>
                <a href="/questions_page.html" class="support-container-title">онлайн поддержка покупателей</a>
                <p class="support-container-descr">Описание преимущества описание преимущества</p>
                <a href="/questions_page.html" class="support-container-more">Подробнее</a>
            </div>
            <div class="support-container cell">
                <a href="/questions_page.html">
                    <img src="../../assets/img/online_support/logo-3.svg" alt="icon" class="support-container-icon" />
                </a>
                <a href="/questions_page.html" class="support-container-title">онлайн поддержка покупателей</a>
                <p class="support-container-descr">Описание преимущества описание преимущества</p>
                <a href="/questions_page.html" class="support-container-more">Подробнее</a>
            </div>
            <div class="support-container cell">
                <a href="/questions_page.html">
                    <img src="../../assets/img/online_support/logo-4.svg" alt="icon" class="support-container-icon" />
                </a>
                <a href="/questions_page.html" class="support-container-title">онлайн поддержка покупателей</>
                <p class="support-container-descr">Описание преимущества описание преимущества</p>
                <a href="/questions_page.html" class="support-container-more">Подробнее</a>
            </div>
        </div>
    </div>
    <!--grid-container-->
</section>
<!--#support-->
