<section id="popular" class="viewport-fullheight">
    <h2 class="popular-title title title-2 title-bold title-uppercase">Популярные товары</h2>
    <div class="grid-container">
        <div class="popular-flex ">
            <div class="popular-flex-left-side ">
                <div class="actions-container ">
                    <div class="action-container-link">
                        <a class="actions-with-product to-desire" href="#">В желания</a>
                        <a class="actions-with-product to-compare" href="#">Сравнить</a>
                    </div>
                    <button class="button primary minus-percent">-30%</button>
                </div>
                <a href="product_page.html">
                    <img class="product-img-right" src="../assets/img/home/pic-1-product.png" alt="product-1" />
                </a>
                <a href="/product_page.html" class="product-title pop-product">Under armour</a>
                <a href="product_page.html" class="product-descr pop-product">Raid Solid 8in Short - Men’s</a>
                <span class="new-price pop-product">12 000.00 грн.</span>
                <span class="old-price">12 000.00 грн.</span>
                <div class="product-colors">
                    <input id="k" class="choose-color" type="radio" name="jacket" value="k">
                    <label class="choose-color-label" for="k"></label>
                    <input id="l" class="choose-color" type="radio" name="jacket" value="l">
                    <label class="choose-color-label" for="l"></label>
                    <input id="m" class="choose-color" type="radio" name="jacket" value="m" checked>
                    <label class="choose-color-label" for="m"></label>
                </div>
            </div>
            <!-- /.popular-flex-left-side -->
            <!--<div class="popular-flex-right-side ">-->
                <div class="product-container product-container-first">
                    <div class="actions-container">
                        <div class="action-container-link">
                            <a class="actions-with-product to-desire" href="#">В желания</a>
                            <a class="actions-with-product to-compare" href="#">Сравнить</a>
                        </div>
                        <button class="button primary minus-percent">-30%</button>
                    </div>
                    <a href="product_page.html">
                        <img src="../assets/img/home/pic-2-product.png" alt="product" class="product-img" />
                    </a>
                    <a href="product_page.html" class="product-title pop-product">Under armour</a>
                    <a href="product_page.html" class="product-descr pop-product">Raid Solid 8in Short - Men’s</a>
                    <span class="price pop-product">12 000.00 грн.</span>
                    <!--<span class="old-price">12 000.00 грн.</span>-->
                    <div class="product-colors">
                        <input id="first-color" class="choose-color" type="radio" name="color" value="first">
                        <label class="choose-color-label" for="first-color"></label>
                        <input id="second-color" class="choose-color" type="radio" name="color" value="second">
                        <label class="choose-color-label" for="second-color"></label>
                        <input id="third-color" class="choose-color" type="radio" name="color" value="third" checked>
                        <label class="choose-color-label" for="third-color"></label>
                    </div>
                </div>
                <div class="product-container product-container-third">
                    <div class="actions-container">
                        <div class="action-container-link">
                            <a class="actions-with-product to-desire" href="#">В желания</a>
                            <a class="actions-with-product to-compare" href="#">Сравнить</a>
                        </div>
                        <button class="button primary minus-percent">-30%</button>
                    </div>
                    <a href="product_page.html">
                        <img src="../assets/img/home/pic-3-product.png" alt="product" class="product-img" />
                    </a>
                    <a href="product_page.html" class="product-title pop-product">Under armour</a>
                    <a href="product_page.html" class="product-descr pop-product">Raid Solid 8in Short - Men’s</a>
                    <span class="new-price pop-product">12 000.00 грн.</span>
                    <span class="old-price">12 000.00 грн.</span>
                    <div class="product-colors">
                        <input id="a" class="choose-color" type="radio" name="cycle" value="a">
                        <label class="choose-color-label" for="a"></label>
                        <input id="b" class="choose-color" type="radio" name="cycle" value="b">
                        <label class="choose-color-label" for="b"></label>
                        <input id="c" class="choose-color" type="radio" name="cycle" value="c" checked>
                        <label class="choose-color-label" for="c"></label>
                    </div>
                </div>
                <div class="product-container product-container-second">
                    <div class="actions-container">
                        <div class="action-container-link">
                            <a class="actions-with-product to-desire" href="#">В желания</a>
                            <a class="actions-with-product to-compare" href="#">Сравнить</a>
                        </div>
                        <button class="button primary minus-percent">-30%</button>
                    </div>
                    <a href="product_page.html">
                        <img src="../assets/img/home/pic-4-product.png" alt="product" class="product-img" />
                    </a>
                    <a href="product_page.html" class="product-title pop-product">Under armour</a>
                    <a href="product_page.html" class="product-descr pop-product">Raid Solid 8in Short - Men’s</a>
                    <span class="price pop-product">12 000.00 грн.</span>
                    <!--<span class="old-price">12 000.00 грн.</span>-->
                    <div class="product-colors">
                        <input id="e" class="choose-color" type="radio" name="gloves" value="e">
                        <label class="choose-color-label" for="e"></label>
                        <input id="f" class="choose-color" type="radio" name="gloves" value="f">
                        <label class="choose-color-label" for="f"></label>
                        <input id="g" class="choose-color" type="radio" name="gloves" value="g" checked>
                        <label class="choose-color-label" for="g"></label>
                    </div>
                </div>
                <div class="product-container product-container-fourth">
                    <div class="actions-container">
                        <div class="action-container-link">
                            <a class="actions-with-product to-desire" href="#">В желания</a>
                            <a class="actions-with-product to-compare" href="#">Сравнить</a>
                        </div>
                        <button class="button primary minus-percent">-30%</button>
                    </div>
                    <a href="product_page.html">
                        <img src="../assets/img/home/pic-5-product.png" alt="product" class="product-img" />
                    </a>
                    <a href="product_page.html" class="product-title pop-product">Under armour</a>
                    <a href="product_page.html" class="product-descr pop-product">Raid Solid 8in Short - Men’s</a>
                    <span class="new-price pop-product">12 000.00 грн.</span>
                    <span class="old-price">12 000.00 грн.</span>
                    <div class="product-colors">
                        <input id="h" class="choose-color" type="radio" name="shoes" value="h">
                        <label class="choose-color-label" for="h"></label>
                        <input id="i" class="choose-color" type="radio" name="shoes" value="i">
                        <label class="choose-color-label" for="i"></label>
                        <input id="j" class="choose-color" type="radio" name="shoes" value="j" checked>
                        <label class="choose-color-label" for="j"></label>
                    </div>
                </div>
            <!--</div>-->
            <!-- /.popular-flex-left-side -->
        </div>
        <!-- /.popular-flex -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#popular -->

