<section id="subscription">
    <div class="grid-container-max">
        <div class="grid-x medium-up-1 large-up-2">
            <div class="get-news cell">
                <h2 class="get-news-title title title-bold title-uppercase">Будьте в курсе новостей</h2>
                <p class="get-news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.BPS Company предлагает всем велолюбителям простое обновление </p>
                <form class="get-news-form">
                    <input type="email" class="get-news-form-email" placeholder="E-mail" name="email">
                    <button class="button get-news-btn"></button>
                    <!--<input class="get-news-submit" type="submit">-->
                </form>
            </div>
            <!-- /.get-news -->
            <div class="get-help cell">
                <h2 class="get-help-title title-white title-bold title-uppercase">Нужна помошь?</h2>
                <p class="get-help-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.BPS Company предлагает всем велолюбителям простое обновление </p>
                <button class="button get-help-call-back">Перезвоните мне</button>
                <button class="button hollow get-help-ask-question">Задать вопрос</button>
            </div>
            <!-- /.get-help cell -->
        </div>
        <!-- /.grid-x medium-up-6 -->
    </div>
    <!-- /.grid -->
</section>
<!-- /#subscription -->