<section id="news-page">
    <div class="grid-container">
        <div class="news-page-input-wrapper">
            <a href="#" class="news-page-back-link">Назад в магазин</a>
            <input class="news-page-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
    </div>
    <h2 class="news-page-title">Новости</h2>
    <!-- /.news-page-title -->
    <div class="grid-container">
        <div class="news-search">
            <span class="news-sort">Сортировка:</span>
            <input class="news-search-field" type="text" placeholder="Обзоры и статьи">
        </div>
        <!-- /.news-search -->
        <div class="news-flex-container">
            <div class="news-container mg-top-26">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-1.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Новости</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения
                        велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container mg-top-26">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-2.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Фотоотчет</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container mg-top-26">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-3.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Обзор</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-4.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Новости</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-5.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Фотоотчет</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-6.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Обзор</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-7.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Новости</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-8.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Фотоотчет</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-10.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Обзор</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-11.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Новости</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-12.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Фотоотчет</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
            <div class="news-container">
                <div class="news-img-container">
                    <a href="#" class="news-img-link">
                        <img src="../../assets/img/blog/pic-back-13.png" alt="img" class="news-img" />
                    </a>
                    <a href="#" class="news-link">Обзор</a>
                </div>
                <div class="news-text-container">
                    <a class="news-title title title-3 title-bold">Доступна услуга сезонного хранения велосипеда</a>
                    <p class="news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться программой трейд-ин.</p>
                    <div class="under-news">
                        <span class="date-of-published">3 недели назад</span>
                        <a href="#" class="news-more">Подробнее</a>
                    </div>
                    <!-- /.under-news -->
                </div>
                <!-- /.news-text-container -->
            </div>
        </div>
        <!-- /.grid-x medium-up-3 large-up-3 -->

    </div>
    <!-- /.grid-container -->
</section>
<!-- /.news -->