<section id="buy-with-it">
    <div class="grid-container">
        <h2 class="buy-with-it-title title title-2 title-bold title-uppercase">С этим часто покупают</h2>
        <!-- /.buy-with-it -->
        <div class="grid-x marg-top-20">
            <div class="medium-12 large-8 medium-offset- small-up-2 medium-up-3 large-offset-2 large-up-3 grid-x">
                <div class="product-container cell">
                    <a href="#">
                        <img src="../../assets/img/product-page/prod-1.png" alt="pr">
                    </a>
                    <a class="product-name">UNDER ARMOUR</a>
                    <a class="product-descr">Raid Solid 8in Short - Men’s</a>
                    <span class="product-price">12 000.00 грн.</span>
                    <select name="product-color" id="color-one">
                        <option value="Серебристый металлик">Серебристый металлик</option>
                        <option value="Мокрый асфальт">Мокрый асфальт</option>
                        <option value="Красный">Красный</option>
                    </select>
                    <div class="to-order">
                        <input type="checkbox" id="ch-1">
                        <label for="ch-1">Включить в заказ</label>
                    </div>
                    <!-- /.to-order -->
                </div>
                <!-- /.product-container cell -->
                <div class="product-container cell">
                    <a href="#">
                        <img src="../../assets/img/product-page/prod-2.png" alt="pr">
                    </a>
                    <a class="product-name">UNDER ARMOUR</a>
                    <a class="product-descr">Raid Solid 8in Short - Men’s</a>
                    <span class="product-price">12 000.00 грн.</span>
                    <select name="product-color" id="color-two">
                        <option value="Серебристый металлик">Серебристый металлик</option>
                        <option value="Мокрый асфальт">Мокрый асфальт</option>
                        <option value="Красный">Красный</option>
                    </select>
                    <div class="to-order">
                        <input type="checkbox" id="ch-2">
                        <label for="ch-2">Включить в заказ</label>
                    </div>
                    <!-- /.to-order -->
                </div>
                <!-- /.product-container cell -->
                <div class="product-container cell">
                    <a href="#">
                        <img src="../../assets/img/product-page/prod-3.png" alt="pr">
                    </a>
                    <a class="product-name">UNDER ARMOUR</a>
                    <a class="product-descr">Raid Solid 8in Short - Men’s</a>
                    <span class="product-price">12 000.00 грн.</span>
                    <select name="product-color" id="color-three">
                        <option value="Серебристый металлик">Серебристый металлик</option>
                        <option value="Мокрый асфальт">Мокрый асфальт</option>
                        <option value="Красный">Красный</option>
                    </select>
                    <div class="to-order">
                        <input type="checkbox" id="ch-3">
                        <label for="ch-3">Включить в заказ</label>
                    </div>
                    <!-- /.to-order -->
                </div>
                <!-- /.product-container cell -->
            </div>
            <!-- /.medium-8 large-8 medium-offset-2 -->
        </div>
        <!-- /.grid-x -->
        <div class="total">
            Всего (<span class="product-count">1</span> товар): <span class="total-sum">12 000.00 грн.</span>
        </div>
        <!-- /.total -->
        <div class="buy-set-container">
            <a href="#" class="buy-set">Купить набор</a>
            <!-- /.buy-set -->
        </div>
        <!-- /.buy-set-container -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#buy-with-it -->