<section id="maybe-you-found">
    <div class="grid-container">
        <h2 class="maybe-you-found-title title title-2 title-bold title-uppercase">Возможно вы искали</h2>
        <!-- /.maybe-you-found -->
        <div class="grid-x maybe-flex">
            <div class="you-found-container cell">
                <a href="#">
                    <img src="../../assets/img/product-page/prod-2.png" alt="pr">
                </a>
                <a class="you-found-name">UNDER ARMOUR</a>
                <a class="you-found-descr">Raid Solid 8in Short - Men’s</a>
                <span class="you-found-price">12 000.00 грн.</span>
            </div>
            <!-- /.you-found-container -->
            <div class="you-found-container cell">
                <button class="button primary minus-percent">-30%</button>
                <a href="#">
                    <img src="../../assets/img/product-page/prod-2.png" alt="pr">
                </a>
                <a class="you-found-name">UNDER ARMOUR</a>
                <a class="you-found-descr">Raid Solid 8in Short - Men’s</a>
                <span class="you-found-price new-price">12 000.00 грн.</span>
                <span class="old-price">12 000.00 грн.</span>
            </div>
            <!-- /.you-found-container -->
            <div class="you-found-container cell">
                <button class="button primary minus-percent">-30%</button>
                <a href="#">
                    <img src="../../assets/img/product-page/prod-2.png" alt="pr">
                </a>
                <a class="you-found-name">UNDER ARMOUR</a>
                <a class="you-found-descr">Raid Solid 8in Short - Men’s</a>
                <span class="you-found-price new-price">12 000.00 грн.</span>
                <span class="old-price">12 000.00 грн.</span>
            </div>
            <!-- /.you-found-container -->
            <div class="you-found-container cell">
                <button class="button primary minus-percent">-30%</button>
                <a href="#">
                    <img src="../../assets/img/product-page/prod-2.png" alt="pr">
                </a>
                <a class="you-found-name">UNDER ARMOUR</a>
                <a class="you-found-descr">Raid Solid 8in Short - Men’s</a>
                <span class="you-found-price new-price">12 000.00 грн.</span>
                <span class="old-price">12 000.00 грн.</span>
            </div>
            <!-- /.you-found-container -->
        </div>
        <!-- /.gird-x -->
    </div>
    <!-- /.grid-x -->
</section>
<!-- /#maybe-you-found -->