<section id="recently-viewed">
    <div class="grid-container">
        <h2 class="recently-viewed-title title title-2 title-bold title-uppercase">Недавно просмотренные</h2>
        <div class="grid-x recently-flex">
            <div class="recently-container cell">
                <a href="#">
                    <img src="../../assets/img/product-page/prod-2.png" alt="pr">
                </a>
                <a class="recently-name">UNDER ARMOUR</a>
                <a class="recently-descr">Raid Solid 8in Short - Men’s</a>
                <span class="recently-price">12 000.00 грн.</span>
            </div>
            <!-- /.recently-container -->
            <div class="recently-container cell">
                <button class="button primary minus-percent">-30%</button>
                <a href="#">
                    <img src="../../assets/img/product-page/prod-2.png" alt="pr">
                </a>
                <a class="recently-name">UNDER ARMOUR</a>
                <a class="recently-descr">Raid Solid 8in Short - Men’s</a>
                <span class="recently-price new-price">12 000.00 грн.</span>
                <span class="old-price">12 000.00 грн.</span>
            </div>
            <!-- /.you-found-container -->
            <div class="recently-container cell">
                <button class="button primary minus-percent">-30%</button>
                <a href="#">
                    <img src="../../assets/img/product-page/prod-2.png" alt="pr">
                </a>
                <a class="recently-name">UNDER ARMOUR</a>
                <a class="recently-descr">Raid Solid 8in Short - Men’s</a>
                <span class="recently-price new-price">12 000.00 грн.</span>
                <span class="old-price">12 000.00 грн.</span>
            </div>
            <!-- /.you-found-container -->
            <div class="recently-container cell">
                <button class="button primary minus-percent">-30%</button>
                <a href="#">
                    <img src="../../assets/img/product-page/prod-2.png" alt="pr">
                </a>
                <a class="recently-name">UNDER ARMOUR</a>
                <a class="recently-descr">Raid Solid 8in Short - Men’s</a>
                <span class="recently-price new-price">12 000.00 грн.</span>
                <span class="old-price">12 000.00 грн.</span>
            </div>
            <!-- /.you-found-container -->
        </div>
        <!-- /.gird-x -->
    </div>
    <!-- /.grid-x -->
</section>
<!-- /#maybe-you-found -->