<section id="same-category">
    <div class="grid-container">
        <h2 class="same-category-title title title-2 title-bold title-uppercase">Товары этой же
            категории</h2>
        <!-- /.same-category-title -->
        <div class="grid-x">
            <div class="medium-10 large-10  medium-offset-1 cell">
                <div class="same-category-container">
                    <div class="photo">
                        <div class="photo-title">Фото</div>
                        <div class="photo-content"><img src="../../assets/img/same-category/bitmap.png" alt="a"></div>
                        <div class="photo-content"><img src="../../assets/img/same-category/bitmap.png" alt="a"></div>
                        <div class="photo-content"><img src="../../assets/img/same-category/bitmap.png" alt="a"></div>
                        <div class="photo-content"><img src="../../assets/img/same-category/bitmap.png" alt="a"></div>
                        <div class="photo-content"><img src="../../assets/img/same-category/bitmap.png" alt="a"></div>
                        <div class="photo-content"><img src="../../assets/img/same-category/bitmap.png" alt="a"></div>
                    </div>
                    <!-- /.photo -->
                    <div class="name">
                        <div class="name-title">Наименование товара</div>
                        <div class="name-content"><span>Fjallraven Kanken Backpack - 976cu in</span></div>
                        <div class="name-content"><span>Fjallraven Kanken Backpack - 976cu in</span></div>
                        <div class="name-content"><span>Norrøna Lofoten 30 Removable Airbag 3.0 Ready Backpack - 1831cu in</span></div>
                        <div class="name-content"><span>Fjallraven Kanken Backpack - 976cu in</span></div>
                        <div class="name-content"><span>Fjallraven Kanken Backpack - 976cu in</span></div>
                        <div class="name-content"><span>Fjallraven Kanken Backpack - 976cu in</span></div>
                    </div>
                    <!-- /.name -->
                    <div class="art">
                        <div class="art-title">АРТ.</div>
                        <div class="art-content"><span>123124</span></div>
                        <div class="art-content"><span>123124</span></div>
                        <div class="art-content"><span>123124</span></div>
                        <div class="art-content"><span>123124</span></div>
                        <div class="art-content"><span>123124</span></div>
                        <div class="art-content"><span>123124</span></div>
                    </div>
                    <!-- /.art -->
                    <div class="price">
                        <div class="price-title">Цена</div>
                        <div class="price-content"><span>124  000.00 грн.</span></div>
                        <div class="price-content"><span>124  000.00 грн.</span></div>
                        <div class="price-content"><span>124  000.00 грн.</span></div>
                        <div class="price-content"><span>124  000.00 грн.</span></div>
                        <div class="price-content"><span>124  000.00 грн.</span></div>
                        <div class="price-content"><span>124  000.00 грн.</span></div>
                    </div>
                    <!-- /.price -->
                    <div class="rating">
                        <div class="rating-title">Рейтинг</div>
                        <div class="rating-content">
                            <div class="stars">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/half-full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/empty-star.svg" alt="f">
                            </div>
                            <!-- /.stars -->
                            <div class="score">4.5</div>
                        </div>
                        <div class="rating-content">
                            <div class="stars">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/half-full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/empty-star.svg" alt="f">
                            </div>
                            <!-- /.stars -->
                            <div class="score">4.5</div>
                        </div>
                        <div class="rating-content">
                            <div class="stars">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/half-full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/empty-star.svg" alt="f">
                            </div>
                            <!-- /.stars -->
                            <div class="score">4.5</div>
                        </div>
                        <div class="rating-content">
                            <div class="stars">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/half-full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/empty-star.svg" alt="f">
                            </div>
                            <!-- /.stars -->
                            <div class="score">4.5</div>
                        </div>
                        <div class="rating-content">
                            <div class="stars">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/half-full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/empty-star.svg" alt="f">
                            </div>
                            <!-- /.stars -->
                            <div class="score">4.5</div>
                        </div>
                        <div class="rating-content">
                            <div class="stars">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/half-full-star.svg" alt="f">
                                <img src="../../assets/img/same-category/empty-star.svg" alt="f">
                            </div>
                            <!-- /.stars -->
                            <div class="score">4.5</div>
                        </div>
                    </div>
                    <!-- /.rating -->
                </div>
                <!-- /.same-category-container -->
            </div>
            <!-- /.medium-10 large-10 -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#same-category -->