$base-blue: #6395f9;
$base-pink: #ff6c6b;
$base-light-gray: #303030;
$base-black: #1a1a1a;
$base-white: rgba(242, 242, 242, 0.3);

$noti-ok: #62c48b;
$noti-warning: #f39c12;
$noti-error: #c95350;
$noti-round: #ff7171;

$white: #ffffff;
$black: #000000;
$close-to-white: #fbfbfb;
$orange: #f39c12;
$greyish: #b2b2b2;
$opacity-grey: rgba(48, 48, 48, 0.7);
$opacity-grey-1: rgba(48, 48, 48, 0.3);
$bg-search-page: #fafafa;
$switch-bg: #e0e0e0;
$fb-btn-color: #3b5998;
$fb-btn-color-two: #0084ff;
$g-plus-btn-color: #dd4b39;
$pagination-active: #383838;

