//#home {

  .watch-collection {
    width: 200px;
    height: 40px;
    border-color: $white !important;
    color: $white !important;
    padding: 0 rem-calc(30) 0 0;
    transition: all .3s;
    background-image: url(../img/home/white-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 90% 55%;

    &:hover {
      border-color: #303030;
    }
  }

//}


