.title {
  color: $base-light-gray;

  &-white {
    color: $white;
  }

  &-bold {
    font-weight: bold;
  }

  &-bolder {
    font-weight: 900;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.title-1 {
  font-size: rem-calc(50);

  @include breakpoint(medium only) {
    font-size: rem-calc(40);
    letter-spacing: rem-calc(.3);
  }

  @include breakpoint(small only) {
    font-size: rem-calc(20);
    letter-spacing: rem-calc(.3);
  }
}

.title-2 {
  font-size: rem-calc(30);
  letter-spacing: rem-calc(.5);

  @include breakpoint (medium only) {
    font-size: rem-calc(24);
    letter-spacing: rem-calc(.4);
  }

  @include breakpoint(small only) {
    font-size: rem-calc(18);
    letter-spacing: rem-calc(.3);
  }
}

.title-3 {
  font-size: rem-calc(20);
  letter-spacing: rem-calc(.3);

  @include breakpoint(small only) {
    font-size: rem-calc(14);
    letter-spacing: rem-calc(.2);
  }
}

.title-4 {
  font-size: rem-calc(14);
  letter-spacing: rem-calc(.2);
}


