.input-common {
  //font-size: rem-calc(14);
  height: rem-calc(44);
  //padding-top: rem-calc(15);
  //padding-bottom: rem-calc(15);

  &-size-16 {
    font-size: rem-calc(16);
  }

  &-size-14 {
    font-size: rem-calc(14);
  }

  &-size-12 {
    font-size: rem-calc(12);
  }

  &-light-grey {
    color: rgba(48, 48, 48, 0.6);
  }

  &-white {
    color: $white;
  }

  &-black {
    color: $base-black;
  }

  &-greyish {
    color: $greyish;
  }

}