.nav-container {
  display: none;

  @include breakpoint(large) {
    display: flex;
    margin-top: rem-calc(10);
    justify-content: center;
  }

  .breadcrumbs {
    margin-bottom: 0;
  }
}

.breadcrumbs li {
  text-transform: none;
}

.breadcrumbs li:not(:last-child)::after {
  content: '';
  display: inline-block;
  height: rem-calc(10);
  width: rem-calc(10);
  top: rem-calc(1);
  background-color: $black;
  text-transform: none;
}

#search-part, #snow-catalog, #black-friday-search {
  background-color: $bg-search-page;
  padding-bottom: rem-calc(40);

  a:hover {
    text-decoration: underline;
  }

  .search-part {

    &-input-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: rem-calc(20);
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }




  .search-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    padding: rem-calc(17 10);
    border: rem-calc(1) solid rgba(48, 48, 48, 0.05);
    background-color: $white;
    font-size: rem-calc(14);
    transition: all .4s;

    @include breakpoint(large) {
      flex-direction: row;
      width: auto;
      padding: rem-calc(17 0);
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: rem-calc(0 3 20 0) rgba(0, 0, 0, 0.1);
    }
  }

  .search-img-wrapper {
    flex-grow: 1;
    text-align: center;
  }

  .product-container {
    flex-grow: 1;

    &-name {
      display: block;
    }

    &-descr {
      display: block;
    }

    & span:not(:first-child), a:not(:first-child) {
      margin-top: rem-calc(6);
    }

    &-name,
    &-number {
      color: $opacity-grey;
    }

    &-number {
      display: none;

      @include breakpoint(large) {
        display: block;
      }
    }

  }

  .actions {
    display: flex;

    @include breakpoint(large) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-grow: 2;
    }

    a {
      display: none;

      @include breakpoint(large) {
        display: inline-block;
      }
    }

    .price {
      color: rgba(26, 26, 26, 0.7);
    }
    
    & .read-more {
      padding: rem-calc(11 27);
      background-color: $base-light-gray;
      color: $white;
      -webkit-transition: all .4s;
      -moz-transition: all .4s;
      -ms-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;

      &:hover {
        box-shadow: rem-calc(2 2 7) $opacity-grey;
      }
    }

    &-link-arrow {
      width: rem-calc(18);
    }

    &-link-heard {
      width: rem-calc(13);
    }
  }


  .pagination-container {
    width: 100%;
    margin-top: rem-calc(40);

    .pagination li {
      //width: rem-calc(40);
      //height: rem-calc(40);
      //background-color: $white;
    }

    .pagination .current {
      background-color: $pagination-active;
      color: $white;

      @include  breakpoint(large) {
        background-color: transparent;
        color: $base-black;
      }
    }

    .pagination-next, .pagination-previous {
      background-color: $pagination-active;
      color: $white;

      @include breakpoint(large) {
        background-color: transparent;
        color: $base-black;
      }

      & > a {
        color: $white;

        @include breakpoint(large) {
          color: $base-black;
        }
      }
    }
  }


}
