<div id="checkout-left-side">
    <div class="step step-1">
        <div class="option-first">
            <ul class="tabs step-tabs" data-tabs id="checkout-tabs">
                <li class="tabs-title is-active"><a href="#check1" aria-selected="true">Постоянный
                    клиент</a></li>
                <li class="tabs-title"><a data-tabs-target="check2" href="#check2">Новый клиент</a></li>
            </ul>
        </div>
        <!-- /.option-first -->
        <div class="option-second">
            <ul class="tabs step-tabs" data-tabs id="checkout-tabs">
                <li class="tabs-title"><a href="#check1" aria-selected="true">Постоянный
                    клиент</a></li>
                <li class="tabs-title is-active"><a data-tabs-target="check2" href="#check2">Новый клиент</a></li>
            </ul>
        </div>
        <!-- /.option-second -->
        <ul class="tabs step-tabs" data-tabs id="checkout-tabs">
            <li class="tabs-title is-active"><a href="#check1" aria-selected="true">Постоянный
                клиент</a></li>
            <li class="tabs-title"><a data-tabs-target="check2" href="#check2">Новый клиент</a></li>
        </ul>
        <div class="step-title">1. Контактные данные <img src="../../assets/img/checkout/hint.svg" alt="i"></div>
        <!-- /.step-title -->
        <div class="tabs-content" data-tabs-content="checkout-tabs">
            <div class="tabs-panel is-active" id="check1">
                <div class="regular-customer-container">
                    <form>
                        <label for="regular-email">Email</label>
                        <input id="regular-email" class="input-common input-size-16 input-common-greyish" type="email" placeholder="Email" required>

                        <label for="regular-pass">Пароль</label>
                        <input id="regular-pass" class="input-common input-size-16 input-common-greyish" type="password" placeholder="Your password">

                        <button class="button btn-entrance">Войти</button>

                        <span>или</span>
                        <button class="button btn-entrance-fb">ВОЙТИ С ПОМОЩЬЮ FACEBOOK</button>
                        <button class="button btn-entrance-g-plus">ВОЙТИ С ПОМОЩЬЮ GOOGLE+</button>
                    </form>
                </div>
                <!-- /.regular-customer-container -->
            </div>
            <div class="tabs-panel" id="check2">
                <div class="new-customer-container">
                    <form>
                        <label for="new-name">Имя</label>
                        <label for="new-surname">Фамилия</label>

                        <input id="new-name" class="input-common input-size-16 input-common-greyish"  type="text" placeholder="Александр" required>
                        <input id="new-surname" class="input-common input-size-16 input-common-greyish" type="text" placeholder="Салтыков" required>

                        <label for="new-phone">Телефон</label>
                        <label for="new-email">Ваш e-mail</label>

                        <input id="new-phone" class="input-common input-size-16 input-common-greyish" type="tel" placeholder="+38 95 888 88 88" required>
                        <input id="new-email" class="input-common input-size-16 input-common-greyish" type="email" placeholder="your-mail@gmail.com" required>

                        <div class="new-btn-wrapper">
                            <button class="button new-next">Далее</button>
                        </div>
                        <!-- /.new-btn-wrapper -->
                    </form>
                </div>
                <!-- /.new-customer-container -->
            </div>
        </div>
    </div>
    <!-- /.step -->

    <div class="step step-2">
        <div class="step-title">2. Способ доставки <img src="../../assets/img/checkout/hint.svg" alt="i"></div>
        <!-- /.step-title -->
        <div class="step-2-content">
            <input id="new-post" type="radio">
            <label for="new-post">Новая Почта</label>
            <div class="select-container">
                <select name="city" class="input-common input-common-size-16 input-common-greyish" id="city-post">
                    <option value="Lvov">Львов</option>
                    <option value="Krivoy-Rog">Кривой Рог</option>
                    <option value="Odessa">Одесса</option>
                </select>

                <select name="post-office" class="input-common input-common-size-16 input-common-greyish" id="post-office">
                    <option value="№19">№19</option>
                    <option value="№3">№3</option>
                    <option value="№8">№8</option>
                </select>
            </div>
            <!-- /.select-container -->
            <input id="courier" type="radio">
            <label for="courier">Курьерская доставка</label>

            <input id="by-yourself" type="radio">
            <label for="by-yourself">Самовывоз из магазина в г. Днепре</label>
            <a href="#" class="show-on-map">показать на карте</a>
            <!-- /.show-on-map -->
            <button class="button btn-next">Далее</button>
        </div>
        <!-- /.step-2-content -->
    </div>
    <!-- /.step step-2 -->
    <div class="step step-3">
        <div class="step-title">3. Способ оплаты <img src="../../assets/img/checkout/hint.svg" alt="i"></div>
        <!-- /.step-title -->
        <div class="step-3-content">
            <input id="cash-on-delivery" type="radio">
            <label for="cash-on-delivery">Наложный платеж</label>

            <input id="privat-24" type="radio">
            <label for="privat-24">Приват24</label>

            <input id="credit-card" type="radio">
            <label for="credit-card">Карта Visa/Mastercard</label>

            <div class="img-container"><img src="../../assets/img/checkout/frontcard.svg" alt="c"></div>
            <!-- /.img-container -->
            <input id="part-payment" type="radio">
            <label for="part-payment">Оплата частями</label>
        </div>
        <!-- /.step-3-content -->
    </div>
    <!-- /.step-3 -->
</div>
<!-- /#checkout-left-side -->