<div id="checkout-right-side">
    <span class="checkout-right-side-title">Ваш заказ</span>
    <!-- /.checkout-right-side-title -->
    <div class="right-side-top-line">
        <span>Фото</span>
        <span>Наименование товара</span>
        <span>Цена, грн</span>
    </div>
    <!-- /.right-side-top-line -->
    <div class="your-order-container">
        <div class="your-order-container-content">
            <img src="../../assets/img/checkout/bitmap-3.png" alt="ski">
            <div class="your-order-describe">
                <a class="order-name">Raid Solid 8in Short - Men’s. Raid Solid 8i</a>
                <span class="order-descr">XXL, Серебристый металлик</span>
                <span class="order-count">Кол-во: 12</span>
            </div>
            <!-- /.your-order-describe -->
            <span class="order-price">124 000.00</span>
        </div>
        <!-- /.your-order-container-content -->
        <div class="your-order-container-content">
            <img src="../../assets/img/checkout/bitmap-1.png" alt="ski">
            <div class="your-order-describe">
                <a class="order-name">Raid Solid 8in Short - Men’s. Raid Solid 8i</a>
                <span class="order-descr">XXL, Серебристый металлик</span>
                <span class="order-count">Кол-во: 12</span>
            </div>
            <!-- /.your-order-describe -->
            <span class="order-price">124 000.00</span>
        </div>
        <!-- /.your-order-container-content -->
        <div class="your-order-container-content">
            <img src="../../assets/img/checkout/bitmap-2.png" alt="ski">
            <div class="your-order-describe">
                <a class="order-name">Raid Solid 8in Short - Men’s. Raid Solid 8i</a>
                <span class="order-descr">XXL, Серебристый металлик</span>
                <span class="order-count">Кол-во: 12</span>
            </div>
            <!-- /.your-order-describe -->
            <span class="order-price">124 000.00</span>
        </div>
        <!-- /.your-order-container-content -->
    </div>
    <!-- /.your-order-container -->

    <div class="to-order-container">
        <div class="total-sum-container">
            <span>Всего, грн.</span>
            <span class="total-sum">372 000.00</span>
        </div>
        <!-- /.total-sum-container -->
        <a href="#" class="have-promo">У меня есть промокод</a>
        <div class="promo-container">
            <input class="promo-input input-common-size-14 input-common-black" type="text"
                   placeholder="введите промокод">
            <button class="btn-promo"></button>
        </div>
        <!-- /.promo-container -->

        <a href="#" class="have-card">У меня есть скидочная карта</a>

        <div class="last-sum-container">
            <span>К оплате, грн.</span>
            <span class="last-sum">334 000.00</span>
        </div>
        <!-- /.last-sum-container -->
        <div class="check-container">
            <div class="for-present-container">
                <input type="checkbox" id="for-present">
                <label for="for-present">Это для подарка</label>
                <img src="../../assets/img/checkout/hint.svg" alt="hint">
            </div>
            <!-- /.for-present-container -->

            <input type="checkbox" id="get-news">
            <label for="get-news">Я хочу получать актуальные новости и об акциях</label>
        </div>
        <!-- /.check-container -->
        <button class="button btn-send-order">Оформить заказ</button>
    </div>
    <!-- /.to-order-container -->
</div>
<!-- /#checkout-right-side -->

<div class="have-questions">
    <span class="have-questions-title">Возникли вопросы?</span>
    <p class="have-questions-text">Наши консультанты с радостью подскажут Вам как офрмить покупку и какие данные нужно указывать. Закажите звонок или уточните в чате интересующиу Вас информацию</p>
</div>
<!-- /.have-question -->