<section id="about-shop-page">
    <div class="grid-container">
        <div class="shop-page-input-wrapper">
            <input class="shop-page-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="shop-page-title title title-2 title-bold title-uppercase">О магазине</h2>
        <!-- /.about-shop-page-title -->
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Магазины</li>
                </ul>
            </nav>
        </div>

        <div class="shop-page-container grid-x">
            <div class="shop-page-img-container cell medium-12 large-5">
                <img src="../../assets/img/about-shop-page/pic.png" alt="a">
                <img src="../../assets/img/about-shop-page/pic-medium.png" alt="ab">
            </div>
            <!-- /.shop-page-img-container -->
            <div class="shop-page-info-container cell medium-offset-1 large-offset-0 small-9 medium-8 large-5">
                <p>В 1980 году, после смерти Кхамы, Масире уверенно выиграл партийные выборы и до конца неоконченного срока президентства Кхамы занимал президентское кресло, в 1984 году победив на всеобщих выборах уже самостоятельно. </p>

                <p>В 1980 году, после смерти Кхамы, Масире уверенно выиграл партийные выборы и до конца неоконченного срока президентства Кхамы занимал президентское кресло, в 1984 году победив на всеобщих выборах уже самостоятельно. </p>

                <p>В 1980 году, после смерти Кхамы, Масире уверенно выиграл партийные выборы и до конца неоконченного срока президентства Кхамы занимал президентское кресло, в 1984 году победив на всеобщих выборах уже самостоятельно. </p>

                <p>В 1980 году, после смерти Кхамы, Масире уверенно выиграл партийные выборы и до конца неоконченного срока президентства Кхамы занимал президентское кресло, в 1984 году победив на всеобщих выборах уже самостоятельно. </p>
            </div>
            <!-- /.shop-page-info-container -->
            <div class="shop-page-years-container medium-offset-1 large-offset-0 small-3 medium-1 large-2 cell">
                <div class="shop-page-years-point">
                    <span class="black-point"></span>
                    <span class="year">2017</span>
                </div>
                <div class="shop-page-years-point">
                    <span class="black-point"></span>
                    <span class="year">2017</span>
                </div>
                <div class="shop-page-years-point">
                    <span class="black-point"></span>
                    <span class="year">2017</span>
                </div>
                <div class="shop-page-years-point">
                    <span class="black-point"></span>
                    <span class="year">2017</span>
                </div>
            </div>
            <!-- /.shop-page-years-container -->
        </div>
        <!-- /.shop-page-container -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#about-shop-page -->

{{> footer}}