<section id="article">

    <div class="grid-container">
        <div class="article-input-wrapper">
            <a href="#" class="article-back-link">Назад в магазин</a>
            <input class="article-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
    </div>
    <!-- /.grid-container -->
    <section class="article-top">
        <div class="grid-container">
            <a href="#" class="article-top-view">Обзор</a>
            <h1 class="article-top-title title-1 title-white title-bold">Доступна услуга сезонного
                хранения велосипеда хранения велосипеда</h1>
            <span class="article-top-date">2 года назад</span>
        </div>
        <!-- /.grid-container -->
    </section>
    <!-- /.article-top -->
    {{> article_text}}

    {{> get_news}}

    {{> footer}}
</section>
<!-- /#article -->