<section id="brands-page">
    <div class="grid-container">
        <div class="brands-page-input-wrapper">
            <input class="brands-page-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="brands-page-title title title-2 title-bold title-uppercase">Бренды</h2>
        <!-- /.brands-page-title -->
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Бренды</li>
                </ul>
            </nav>
        </div>
        <div class="grid-x">
            <div class="medium-12 large-12 cell brands-wrapper">
                <div class="brands-container">
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-1.png" alt="b"></a>
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-2.png" alt="b"></a>
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-3.png" alt="b"></a>
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-4.png" alt="b"></a>
                </div>
                <!-- /.brands-container -->
                <div class="brands-container">
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-5.png" alt="b"></a>
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-6.png" alt="b"></a>
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-7.png" alt="b"></a>
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-8.png" alt="b"></a>
                </div>
                <!-- /.brands-container -->
                <div class="brands-container">
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-9.png" alt="b"></a>
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-10.png" alt="b"></a>
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-11.png" alt="b"></a>
                    <a href="#" class="brands-link "><img src="../../assets/img/brands-page/pick-brend-12.png" alt="b"></a>
                </div>
                <!-- /.brands-container -->
            </div>
            <!-- /.medium-12 large-12 cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#brands-page -->

{{> footer}}