<!--header will be here-->

<section id="catalog">
    <div class="grid-container">
        <div class="catalog-input-wrapper">
            <input class="catalog-search-field input-common input-common-size-14 input-common-light-grey" type="text" placeholder="Что Вы ищите?">
        </div>
        <!-- /.search-part-input-wrapper -->
        <h2 class="catalog-title title title-2 title-bold title-uppercase">Каталог товаров</h2>
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Каталог товаров</li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#catalog -->

<!-- /.catalog -->
{{> clothes}}
{{> shoes}}
{{> bags}}
{{> tourism}}
{{> equipment}}
{{> ski}}
{{> cycling}}
{{> footer}}