---
layout: layout_dark
---

<section id="snowboard">
    <div class="grid-container">
        <div class="snowboard-container">
            <input class="home-search input-common input-common-size-14 input-common-white" type="text"
                   name="search"
                   placeholder="Что Вы ищите?">
            <hr class="snowboard-hr">
            <h2 class="snowboard-title title-white title-2 title-bold title-uppercase">Лыжи и сноуборд</h2>
        </div>
        <!-- /.snowboard-container -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#snowboard -->

<section id="snow-catalog">
    <div class="grid-container">
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Каталог товаров</li>
                </ul>
            </nav>
        </div>
        {{> filter_top_line}}
        <div class="grid-x">
            {{> filter_part}}
            <div class="medium-offset-2 medium-8 large-offset-0 large-9 cell flex-for-medium-down">
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-1.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-2.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-3.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-4.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-5.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-6.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-1.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-2.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-3.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-4.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-5.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-6.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
            </div>
            <!-- /.medium-9 large-9 cell -->
            <div class="pagination-container">
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <li class="pagination-previous disabled">Пред.</li>
                    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                    <li><a href="#" aria-label="Page 2">2</a></li>
                    <li><a href="#" aria-label="Page 3">3</a></li>
                    <li class="ellipsis"></li>
                    <li><a href="#" aria-label="Page 182">182</a></li>
                    <li class="pagination-next"><a href="#" aria-label="Next page">След.</a></li>
                </ul>
            </div>
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#casnow-catalog -->

{{> footer}}