<section id="checkout">

    <div class="grid-container">

        <a href="#" class="back-to-store">Назад в магазин</a>
        <!-- /.back-to-store -->
        <h2 class="checkout-title title title-2 title-bold title-uppercase">Корзина</h2>
        <!-- /.checkout-title -->

        <div class="grid-x marg-top-45">
            <div class="medium-7 large-7 cell">
                {{> checkout_left_side}}
            </div>
            <!-- /.medium-7 large-7 cell -->
            <div class="medium-5 large-5 cell">
                {{> checkout_right_side}}
            </div>
            <!-- /.medium-5 large-5 cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.gird-container -->
</section>
<!-- /#checkout -->

{{> footer}}