<section id="comparison">

    <div class="grid-container">

        <div class="comparison-input-wrapper">
            <input class="comparison-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="comparison-title title title-2 title-bold title-uppercase">Сравнение</h2>
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Сравнение размера</li>
                </ul>
            </nav>
        </div>

        <div class="grid-x">
            <div class="medium-12 large-12 cell">
                <table class="unstriped comparison-table">
                    <thead>
                        <tr>
                            <th width="190"></th>
                            <th width="190">Сноуборды <button class="cell-close"></button></th>
                            <th width="190">Сноуборды <button class="cell-close"></button></th>
                            <th width="190">Сноуборды <button class="cell-close"></button></th>
                            <th width="190">Сноуборды <button class="cell-close"></button></th>
                            <th width="190">Сноуборды <button class="cell-close"></button></th>
                        </tr>
                    </thead>
                    <tr class="product-row">
                        <td>
                            <span class="prod-count">12</span>
                            <span class="prod-count-label">Товар(ов)к сравнению</span>
                            <div class="with-arrows">
                                <a href="#"><img src="../../assets/img/comparison/ic-arrow-circle-black-left.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/ic-arrow-circle-black-left.svg" alt="a"></a>
                            </div>
                            <!-- /.with-arrows -->
                        </td>
                        <td>
                            <span class="prod-name">Jones Aviator</span>
                            <span class="prod-price">25 000.00 грн.</span>
                            <img src="../../assets/img/comparison/bitmap-1.png" alt="p">
                            <span class="reviews-count">20 отзывов</span>
                            <div class="stars-img-container">
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/half-full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/empty-star.svg" alt="a"></a>
                            </div>
                        </td>
                        <td>
                            <span class="prod-name">Jones Aviator</span>
                            <span class="prod-price">25 000.00 грн.</span>
                            <img src="../../assets/img/comparison/bitmap-2.png" alt="p">
                            <span class="reviews-count">20 отзывов</span>
                            <div class="stars-img-container">
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/half-full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/empty-star.svg" alt="a"></a>
                            </div>
                        </td>
                        <td>
                            <span class="prod-name">Jones Aviator</span>
                            <span class="prod-price">25 000.00 грн.</span>
                            <img src="../../assets/img/comparison/bitmap-3.png" alt="p">
                            <span class="reviews-count">20 отзывов</span>
                            <div class="stars-img-container">
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/half-full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/empty-star.svg" alt="a"></a>
                            </div>
                        </td>
                        <td>
                            <span class="prod-name">Jones Aviator</span>
                            <span class="prod-price">25 000.00 грн.</span>
                            <img src="../../assets/img/comparison/bitmap-4.png" alt="p">
                            <span class="reviews-count">20 отзывов</span>
                            <div class="stars-img-container">
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/half-full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/empty-star.svg" alt="a"></a>
                            </div>
                        </td>
                        <td>
                            <span class="prod-name">Jones Aviator</span>
                            <span class="prod-price">25 000.00 грн.</span>
                            <img src="../../assets/img/comparison/bitmap-1.png" alt="p">
                            <span class="reviews-count">20 отзывов</span>
                            <div class="stars-img-container">
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/half-full-star.svg" alt="a"></a>
                                <a href="#"><img src="../../assets/img/comparison/empty-star.svg" alt="a"></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="descr-row">
                        <td class="have-border"><div class="td-content">Артикул:</div></td>
                        <td><div class="td-content">120006</div></td>
                        <td><div class="td-content">120006</div></td>
                        <td><div class="td-content">120006</div></td>
                        <td><div class="td-content">120006</div></td>
                        <td><div class="td-content">120006</div></td>
                    </tr>
                    <tr class="descr-row">
                        <td><div class="td-content">Материал:</div></td>
                        <td><div class="td-content">Дерево</div></td>
                        <td><div class="td-content">Дерево</div></td>
                        <td><div class="td-content">Дерево</div></td>
                        <td><div class="td-content">Дерево</div></td>
                        <td><div class="td-content">Дерево</div></td>
                    </tr>
                    <tr class="descr-row">
                        <td><div class="td-content">Гарантия:</div></td>
                        <td><div class="td-content">12 мес</div></td>
                        <td><div class="td-content">8 мес</div></td>
                        <td><div class="td-content">12 мес</div></td>
                        <td><div class="td-content">8 мес</div></td>
                        <td><div class="td-content">12 мес</div></td>
                    </tr>
                    <tr class="descr-row">
                        <td><div class="td-content">Цвета:</div></td>
                        <td><div class="td-content">
                            <img src="../../assets/img/comparison/colors/bitmap-1.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-2.png" alt="e">
                        </div></td>
                        <td><div class="td-content">
                            <img src="../../assets/img/comparison/colors/bitmap-3.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-4.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-5.png" alt="e">
                        </div></td>
                        <td><div class="td-content">
                            <img src="../../assets/img/comparison/colors/bitmap-1.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-2.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-3.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-4.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-5.png" alt="e">
                        </div></td>
                        <td><div class="td-content">
                            <img src="../../assets/img/comparison/colors/bitmap-4.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-5.png" alt="e">
                        </div></td>
                        <td><div class="td-content">
                            <img src="../../assets/img/comparison/colors/bitmap-1.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-2.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-3.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-4.png" alt="e">
                            <img src="../../assets/img/comparison/colors/bitmap-5.png" alt="e">
                        </div></td>
                    </tr>
                    <tr class="descr-row">
                        <td><div class="td-content">Уровень:</div></td>
                        <td><div class="td-content">профи</div></td>
                        <td><div class="td-content">профи</div></td>
                        <td><div class="td-content">профи</div></td>
                        <td><div class="td-content">профи</div></td>
                        <td><div class="td-content">профи</div></td>
                    </tr>
                    <tr class="descr-row">
                        <td><div class="td-content">Пол:</div></td>
                        <td><div class="td-content">муж</div></td>
                        <td><div class="td-content">жен</div></td>
                        <td><div class="td-content">муж</div></td>
                        <td><div class="td-content">жен</div></td>
                        <td><div class="td-content">муж</div></td>
                    </tr>
                    <tr class="descr-row">
                        <td><div class="td-content">Руль:</div></td>
                        <td><div class="td-content"><img src="../../assets/img/comparison/check.svg" alt="n"></div></td>
                        <td><div class="td-content"
                        ><img src="../../assets/img/comparison/ic-close.svg" alt="n"></div></td>
                        <td><div class="td-content"><img src="../../assets/img/comparison/check.svg" alt="n"></div></td>
                        <td><div class="td-content"
                        ><img src="../../assets/img/comparison/ic-close.svg" alt="n"></div></td>
                        <td><div class="td-content"><img src="../../assets/img/comparison/check.svg" alt="n"></div></td>
                    </tr>
                    <tr class="descr-row">
                        <td><div class="td-content">Вес:</div></td>
                        <td><div class="td-content">1, 77 кг</div></td>
                        <td><div class="td-content">3, 57 кг</div></td>
                        <td><div class="td-content">1, 77 кг</div></td>
                        <td><div class="td-content">3, 57 кг</div></td>
                        <td><div class="td-content">1, 77 кг</div></td>
                    </tr>
                    <tr class="descr-row descr-row-last">
                        <td>Описание:</td>
                        <td>
                            <p>Шоссейный велосипед Scott Speedster 60 16 хорошо подойдет для передвижения по дорогам в городе и за его чертой. Достаточно легкий, надежные и качественные комплектующие, классическая геометрия шоссейного велосипеда и прочная вилка.</p>
                        </td>
                        <td>
                            <p>Шоссейный велосипед Scott Speedster 60 16 хорошо подойдет для передвижения по дорогам в городе и за его чертой. Достаточно легкий, надежные и качественные комплектующие, классическая геометрия шоссейного велосипеда и прочная вилка.
                                Шоссейный велосипед Scott Speedster 60 16 хорошо подойдет для передвижения по дорогам в городе и за его чертой. Достаточно легкий, надежные и качественные комплектующие, классическая геометрия шоссейного велосипеда и прочная вилка.
                            </p>
                        </td>
                        <td>
                            <p>Шоссейный велосипед Scott Speedster 60 16 хорошо подойдет для передвижения по дорогам в городе и за его чертой. Достаточно легкий, надежные и качественные комплектующие, классическая геометрия шоссейного велосипеда и прочная вилка.</p>
                        </td>
                        <td>
                            <p>Шоссейный велосипед Scott Speedster 60 16 хорошо подойдет для передвижения по дорогам в городе и за его чертой. Достаточно легкий, надежные и качественные комплектующие, классическая геометрия шоссейного велосипеда и прочная вилка.
                                Шоссейный велосипед Scott Speedster 60 16 хорошо подойдет для передвижения по дорогам в городе и за его чертой. Достаточно легкий, надежные и качественные комплектующие, классическая геометрия шоссейного велосипеда и прочная вилка.</p>
                        </td>
                        <td>
                            <p>Шоссейный велосипед Scott Speedster 60 16 хорошо подойдет для передвижения по дорогам в городе и за его чертой. Достаточно легкий, надежные и качественные комплектующие, классическая геометрия шоссейного велосипеда и прочная вилка.</p>
                        </td>
                    </tr>
                    <tr class="descr-row">
                        <td></td>
                        <td>
                            <div class="bottom-container">
                                <span class="label-color">Цвет</span>
                                <select name="color" id="color-td-1">
                                    <option value="blue">Синий</option>
                                    <option value="yellow">Красный</option>
                                    <option value="yellow">Желтый</option>
                                </select>
                                <!-- /# -->
                                <span class="label-size">Размер</span>
                                <select name="size" id="size-td-1">
                                    <option value="sm">sm</option>
                                    <option value="m">m</option>
                                    <option value="xl">xl</option>
                                </select>
                                <!-- /# -->
                                <button class="button bottom-container-btn">Купить</button>
                            </div>
                            <!-- /.bottom-container -->
                        </td>
                        <td>
                            <div class="bottom-container">
                                <span class="label-color">Цвет</span>
                                <select name="color" id="color-td-2">
                                    <option value="blue">Синий</option>
                                    <option value="yellow">Красный</option>
                                    <option value="yellow">Желтый</option>
                                </select>
                                <!-- /# -->
                                <span class="label-size">Размер</span>
                                <select name="size" id="size-td-2">
                                    <option value="sm">sm</option>
                                    <option value="m">m</option>
                                    <option value="xl">xl</option>
                                </select>
                                <!-- /# -->
                                <button class="button bottom-container-btn">Купить</button>
                            </div>
                            <!-- /.bottom-container -->
                        </td>
                        <td>
                            <div class="bottom-container">
                                <span class="label-color">Цвет</span>
                                <select name="color" id="color-td-3">
                                    <option value="blue">Синий</option>
                                    <option value="yellow">Красный</option>
                                    <option value="yellow">Желтый</option>
                                </select>
                                <!-- /# -->
                                <span class="label-size">Размер</span>
                                <select name="size" id="size-td-3">
                                    <option value="sm">sm</option>
                                    <option value="m">m</option>
                                    <option value="xl">xl</option>
                                </select>
                                <!-- /# -->
                                <button class="button bottom-container-btn">Купить</button>
                            </div>
                            <!-- /.bottom-container -->
                        </td>
                        <td>
                            <div class="bottom-container">
                                <span class="label-color">Цвет</span>
                                <select name="color" id="color-td-4">
                                    <option value="blue">Синий</option>
                                    <option value="yellow">Красный</option>
                                    <option value="yellow">Желтый</option>
                                </select>
                                <!-- /# -->
                                <span class="label-size">Размер</span>
                                <select name="size" id="size-td-4">
                                    <option value="sm">sm</option>
                                    <option value="m">m</option>
                                    <option value="xl">xl</option>
                                </select>
                                <!-- /# -->
                                <button class="button bottom-container-btn">Купить</button>
                            </div>
                            <!-- /.bottom-container -->
                        </td>
                        <td>
                            <div class="bottom-container">
                                <span class="label-color">Цвет</span>
                                <select name="color" id="color-td-5">
                                    <option value="blue">Синий</option>
                                    <option value="yellow">Красный</option>
                                    <option value="yellow">Желтый</option>
                                </select>
                                <!-- /# -->
                                <span class="label-size">Размер</span>
                                <select name="size" id="size-td-5">
                                    <option value="sm">sm</option>
                                    <option value="m">m</option>
                                    <option value="xl">xl</option>
                                </select>
                                <!-- /# -->
                                <button class="button bottom-container-btn">Купить</button>
                            </div>
                            <!-- /.bottom-container -->
                        </td>
                    </tr>
                </table>
                <!-- /.unstriped -->
            </div>
            <!-- /.medium-12 large-12 cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#comparison -->

{{> footer}}