<section id="contacts-page">
    <div class="grid-container">
        <div class="contacts-page-input-wrapper">
            <input class="contacts-page-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="contacts-page-title title title-2 title-bold title-uppercase">О магазине</h2>
        <!-- /.contacts-page-title -->
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Контакты</li>
                </ul>
            </nav>
        </div>

        <div class="grid-x contacts-grid">
            <div class="small-12 medium-12 large-6">
                <div class="contacts-page-content">
                    <div class="contacts-page-content-wrapper contacts-page-content-wrapper-1">
                        <img src="../../assets/img/contacts-page/61.svg" alt="i">
                        <div class="contacts-page-content-info">
                            <span class="content-info-title">Время работы </span>
                            <span>Пн-Пт: 8.00 - 20.00</span>
                            <span>Сб: 9:00 - 15:00</span>
                        </div>
                    </div>
                    <div class="contacts-page-content-wrapper contacts-page-content-wrapper-2">
                        <img src="../../assets/img/contacts-page/17.svg" alt="i">
                        <div class="contacts-page-content-info">
                            <span class="content-info-title">Адрес</span>
                            <span>г. Днепр</span>
                            <span>ул. Александра Поля 81</span>
                        </div>
                    </div>
                    <div class="contacts-page-content-wrapper contacts-page-content-wrapper-3">
                        <img src="../../assets/img/contacts-page/67.svg" alt="i">
                        <div class="contacts-page-content-info">
                            <span class="content-info-title">Телефон</span>
                            <span>+38095 867 7777</span>
                        </div>
                    </div>
                    <div class="contacts-page-content-wrapper contacts-page-content-wrapper-4">
                        <img src="../../assets/img/contacts-page/90.svg" alt="i">
                        <div class="contacts-page-content-info">
                            <span class="content-info-title">E-mail</span>
                            <span>shop@shambala.com.ua</span>
                        </div>
                    </div>
                </div>
                <!-- /.contacts-page-content -->
            </div>
            <!-- /.medium-6 large-6 -->
            <div class="small-12 medium-12 large-6">
                <div class="map-container"></div>
                <!-- /.map-container -->
            </div>
            <!-- /.medium-6 large-6 -->
        </div>
        <!-- /.grid-x margin-top-35 -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#contacts-page -->

{{> footer}}


<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>

    <!-- Menu -->
    <ul class="vertical menu">
        <li><a href="#">Foundation</a></li>
        <li><a href="#">Dot</a></li>
        <li><a href="#">ZURB</a></li>
        <li><a href="#">Com</a></li>
        <li><a href="#">Slash</a></li>
        <li><a href="#">Sites</a></li>
    </ul>

</div>

<div class="off-canvas-content" data-off-canvas-content>
    <!-- Your page content lives here -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi, beatae consectetur consequuntur culpa
        cum earum eos eum exercitationem fuga fugiat illo laboriosam laborum magni molestiae necessitatibus nostrum
        officia officiis perferendis placeat quaerat quis sequi sunt tempora ullam. Adipisci dicta dolor ducimus ipsa
        iure maiores qui quod quos ratione reiciendis, repudiandae sapiente sunt, temporibus vitae voluptate voluptatem
        voluptatibus? Accusamus aliquam aut beatae consequatur delectus dolor eligendi ex expedita facilis fugiat illum
        inventore iste iusto libero maiores minus molestiae natus numquam praesentium quae quasi quia quibusdam quis
        quod quos reprehenderit sed similique sint tempora, temporibus totam ut, vel veritatis vitae voluptate!</p>
</div>

<button type="button" class="button" data-toggle="offCanvasLeft">Open Menu</button>


