<section id="feedback">
    <div class="grid-container">
        <div class="feedback-input-wrapper">
            <input class="feedback-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="feedback-title title title-2 title-bold- title-uppercase">Обратная связь</h2>
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Контакты</li>
                </ul>
            </nav>
        </div>

        <div class="grid-x">
            <div class="small-12 medium-12 large-6 large-offset-3">
                <form class="feedback-form">
                    <a href="#" class="text-to-fb">НАПИСАТЬ В FACEBOOK MESSENGER</a>
                    <p>Для быстрого ответа или заполните форму ниже</p>

                    <label for="name">Имя</label>
                    <input id="name" type="text" required>

                    <label for="phone">Телефон</label>
                    <input id="phone" type="tel" required>

                    <input class="can-we-help" type="text" placeholder="Чем мы можем Вам помочь?">

                    <textarea name="text" id="textarea" cols="30"></textarea>

                    <button class="button feedback-btn">Отправить</button>

                </form>
                <!-- /.feedback-content -->
            </div>
            <!-- /.medium-6 large-6 medium-3-offset -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#feedback -->

{{> footer}}