<section id="page-404" class="viewport-fullheight">
    <div class="grid-container">
        <div class="page-404-flex">
            <img class="page-404-img" src="../assets/img/page-403/group.png" alt="img" />
            <div class="page-404-descr">
                <span class="page-404-number">404</span>
                <h2 class="page-404-title title-2 title-bold">Ой!</h2>
                <p class="page-404-text">Нам кажется, что такой страницы уже нет и в помине! Но Вы всегда можете её поискать или купить что-то в нашем магазине </p>
                <a href="#" class="button page-404-go-home">На главную</a>
            </div>
            <!-- /.page-404-descr -->
        </div>
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#page-404 -->