<section id="page-500" class="viewport-fullheight">
    <div class="grid-container">
        <div class="page-500-flex">
            <img class="page-500-img" src="../assets/img/page-403/group.png" alt="img" />
            <div class="page-500-descr">
                <span class="page-500-number">500</span>
                <h2 class="page-500-title title-2 title-bold">Ошибка сервера!!</h2>
                <p class="page-500-text">На сервере произошла непредвиденная ошибка. Попробуйте повторить Ваши действия снова</p>
                <a href="#" class="button page-500-go-home">На главную</a>
            </div>
            <!-- /.page-500-descr -->
        </div>
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#page-500 -->