<section id="personal-account">

    <div class="grid-container">


        <h2 class="personal-account-title title title-2 title-bold title-uppercase">Личный кабинет</h2>
        <div class="nav-container">
            <img src="../../assets/img/personal-account/hover.svg" alt="hov">
            <a href="#" class="personal-account-exit">Выход</a>
        </div>

        <div class="grid-x">
            <div class="medium-12 large-12 cell">
                <div class="personal-container">
                    <ul class="tabs-ul grid-x medium-up-4 large-up-4">
                        <li class="tabs-li cell"><a href="#" class="tabs-a active-tab">Личные
                            данные</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">История заказов</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Список желаний</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Предзаказанные
                            товары</a></li>
                    </ul>
                    <!-- /.tabs-ul -->
                    <div class="tab-content">
                        <div class="top-flex">
                            <div class="left-side">
                                <h3 class="tab-content-title title title-3 title-bold title-uppercase">Добро
                                    пожаловать, Александр!</h3>
                                <p>Это раздел позвояет редактировать личные данные, привязывать соцсети для быстрой регистрации и входа, редактировать пароль</p>
                            </div>
                            <div class="right-side">
                                <div class="right-side-content">
                                    Ваша персональная скидка: <span>15 %</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.top-flex -->
                        <div class="contact-info">
                            <h4 class="contact-info-title title title-4 title-uppercase title-bold">Контактная
                                информация</h4>
                            <form class="contact-info-form">
                                <div class="input-wrapper">
                                    <label for="name">Имя</label>
                                    <input id="name" class="form-inp" type="text">
                                </div>
                                <!-- /.input-wrapper -->
                                <div class="input-wrapper">
                                    <label for="surname">Фамилия</label>
                                    <input id="surname" class="form-inp" type="text">
                                </div>
                                <!-- /.input-wrapper -->
                                <div class="select-wrapper">
                                    <select name="day" id="day">
                                        <option value="День">День</option>
                                        <option value="01">01</option>
                                        <option value="01">02</option>
                                        <option value="01">03</option>
                                        <option value="01">04</option>
                                    </select>
                                    <select name="month" id="month">
                                        <option value="Месяц">Месяц</option>
                                        <option value="april">Апрель</option>
                                        <option value="may">Май</option>
                                        <option value="june">Июнь</option>
                                        <option value="july">Июль</option>
                                    </select>
                                    <select name="year" id="year">
                                        <option value="Год">Год</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                    <!-- /# -->
                                </div>
                                <!-- /.select-wrapper -->
                                <div class="input-wrapper">
                                    <label for="email">Email</label>
                                    <input id="email" class="form-inp" type="email">
                                </div>
                                <!-- /.input-wrapper -->
                                <div class="input-wrapper">
                                    <label for="phone">Телефон</label>
                                    <input id="phone" class="form-inp" type="tel">
                                </div>
                                <!-- /.input-wrapper -->
                                <div class="select-wrapper">
                                    <select name="sex" id="sex">
                                        <option value="male">Мужской</option>
                                        <option value="female">Женский</option>
                                    </select>
                                    <!-- /# -->
                                </div>
                                <!-- /.select-wrapper -->
                                <button class="button save-changes">Сохранить изменения</button>
                            </form>
                            <!--contact-info-form-->
                        </div>
                        <!-- /.contact-info -->
                        <div class="social-network">
                            <h4 class="social-network-title title title-4 title-bold title-uppercase">Мои аккаунты в соцсетях :</h4>
                            <div class="social-links-wrapper">
                                <a href="#" class="social-link social-fb">Связать с моим
                                    Facebook</a>
                                <a href="#" class="social-link social-gplus">Связать с моим
                                    Google+</a>
                            </div>
                            <!-- /.social-btn-wrapper -->
                            <input id="get-news" type="checkbox">
                            <label for="get-news">Я хочу получать актуальные новости и об акциях</label>

                            <input id="gets-reviews" type="checkbox">
                            <label for="gets-reviews">Я хочу получать актуальные обзоры на почту</label>
                            <!-- /.social-network-title -->
                        </div>
                        <!-- /.social-network -->
                        <div class="edit-password">
                            <h4 class="edit-password-title title title-4 title-bold title-uppercase">Редактирование профиля</h4>

                            <label for="current-pass">Текущий пароль</label>
                            <input id="current-pass" type="password">

                            <div class="input-pass-wrapper">
                                <div class="input-pass-content">
                                    <label for="new-pass">Новый пароль</label>
                                    <input id="new-pass" type="password">
                                </div>
                                <!-- /.input-pass-content -->
                                <div class="input-pass-content">
                                    <label for="new-pass-repeat">Новый пароль повторно</label>
                                    <input id="new-pass-repeat" type="password">
                                </div>
                                <!-- /.input-pass-content -->
                            </div>
                            <!-- /.input-pass-wrapper -->
                            <button class="button save-pass">Сохранить пароль</button>
                        </div>
                        <!-- /.edit-password -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.personal-container -->

                <div class="personal-container">
                    <ul class="tabs-ul grid-x medium-up-4 large-up-4">
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Личные данные</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a active-tab">История заказов</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Список желаний</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Предзаказанные
                            товары</a></li>
                    </ul>
                    <!-- /.tabs-ul -->
                    <div class="tab-content order-history">
                        <div class="order-history-title-container">
                            <h3 class="tab-content-title title title-3 title-uppercase title-bold">Добро пожаловать, Александр!</h3>
                            <p>Просматривайте, совершенные Вами заказы, повторяйте уже любимые Вами заказы.</p>
                        </div>
                        <!-- /.order-history-title-container -->

                        <div class="grid-x about-order-container">
                            <div class="medium-10 large-10 cell medium-offset-2 large-offset-2">
                                <div class="about-order-content">
                                    <div class="about-order-general">
                                        <div class="left-side">
                                            <span>№180717-2</span>
                                            <span>12/06/17 15:15</span>
                                            <a href="#">Печатать заказ</a>
                                        </div>
                                        <div class="right-side">
                                            <span class="status">Доставлен</span>
                                        </div>
                                    </div>
                                    <!-- /.about-order-general -->
                                    <div class="order-list">
                                        <div class="order-list-img">
                                            <img src="../../assets/img/personal-account/more/bitmap-history-1.png" alt="a">
                                        </div>
                                        <!-- /.order-list-img -->
                                        <div class="order-list-descr">
                                            <span>Арт. 18080813</span>
                                            <a href="#">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                                            <span>15 400.00 грн</span>
                                        </div>
                                        <!-- /.order-list-descr -->
                                        <span class="order-list-count">12 шт</span>
                                        <span class="order-list-price">184 800.00 грн</span>
                                    </div>
                                    <!-- /.order-list -->
                                    <div class="order-list">
                                        <div class="order-list-img">
                                            <img src="../../assets/img/personal-account/more/bitmap-history.png" alt="a">
                                        </div>
                                        <!-- /.order-list-img -->
                                        <div class="order-list-descr">
                                            <span>Арт. 18080813</span>
                                            <a href="#">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                                            <span>15 400.00 грн</span>
                                        </div>
                                        <!-- /.order-list-descr -->
                                        <span class="order-list-count">12 шт</span>
                                        <span class="order-list-price">184 800.00 грн</span>
                                    </div>
                                    <!-- /.order-list -->
                                    <div class="grid-x">
                                        <div class="medium-5 medium-offset-7 cell">
                                            <div class="total-info-container">
                                                <div class="total-info-container-left-side">
                                                    <span class="total-info-container-shipping">Доставка</span>
                                                    <span class="total-info-container-discount">Скидка</span>
                                                    <span class="total-info-container-payment">К оплате</span>
                                                </div>
                                                <!-- /.total-info-container-left-side -->
                                                <div class="total-info-container-right-side">
                                                    <span>100.00 грн</span>
                                                    <span>44.00 грн</span>
                                                    <span>184 900.00 грн</span>
                                                </div>
                                                <!-- /.total-info-container-right-side -->
                                            </div>
                                            <!-- /.total-info-container -->
                                        </div>
                                        <!-- /.medium-4 medium-offset-8 -->
                                    </div>
                                    <!-- /.grid-x -->
                                    <div class="order-bottom-content">
                                        <div class="order-bottom-content-left-side">
                                            <span>Дата доставки: </span>
                                            <span>Адрес доставки: </span>
                                            <span>Телефон: </span>
                                            <span>Способ оплаты: </span>
                                        </div>
                                        <!-- /.order-bottom-content-right-side -->
                                        <div class="order-bottom-content-right-side">
                                            <span>18 августа 2017</span>
                                            <span>Днепр, Отделение №1, ул. Маршала Малиновского, д. 114, 0-800-500-609</span>
                                            <span>+380 95 888 8888</span>
                                            <span>Visa/MasterCard</span>
                                        </div>
                                        <!-- /.order-bottom-content-right-side -->
                                    </div>
                                    <!-- /.order-bottom-content -->
                                    <div class="order-bottom-content-btn-wrap">
                                        <button class="button repeat-order">Повторить
                                            заказ</button>
                                    </div>
                                    <!-- /.order-bottom-content-btn-wrap -->
                                </div>
                                <!-- /.about-order-content -->
                                <div class="about-order-content">
                                    <div class="about-order-general">
                                        <div class="left-side">
                                            <span>№180717-2</span>
                                            <span>12/06/17 15:15</span>
                                            <a href="#">Печатать заказ</a>
                                        </div>
                                        <div class="right-side">
                                            <span class="status-red">Отменен</span>
                                        </div>
                                    </div>
                                    <!-- /.about-order-general -->
                                    <div class="order-list">
                                        <div class="order-list-img">
                                            <img src="../../assets/img/personal-account/more/bitmap-history-1.png" alt="a">
                                        </div>
                                        <!-- /.order-list-img -->
                                        <div class="order-list-descr">
                                            <span>Арт. 18080813</span>
                                            <a href="#">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                                            <span>15 400.00 грн</span>
                                        </div>
                                        <!-- /.order-list-descr -->
                                        <span class="order-list-count">12 шт</span>
                                        <span class="order-list-price">184 800.00 грн</span>
                                    </div>
                                    <!-- /.order-list -->
                                    <div class="order-list">
                                        <div class="order-list-img">
                                            <img src="../../assets/img/personal-account/more/bitmap-history.png" alt="a">
                                        </div>
                                        <!-- /.order-list-img -->
                                        <div class="order-list-descr">
                                            <span>Арт. 18080813</span>
                                            <a href="#">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                                            <span>15 400.00 грн</span>
                                        </div>
                                        <!-- /.order-list-descr -->
                                        <span class="order-list-count">12 шт</span>
                                        <span class="order-list-price">184 800.00 грн</span>
                                    </div>
                                    <!-- /.order-list -->
                                    <div class="grid-x">
                                        <div class="medium-5 medium-offset-7 cell">
                                            <div class="total-info-container">
                                                <div class="total-info-container-left-side">
                                                    <span class="total-info-container-shipping">Доставка</span>
                                                    <span class="total-info-container-discount">Скидка</span>
                                                    <span class="total-info-container-payment">К оплате</span>
                                                </div>
                                                <!-- /.total-info-container-left-side -->
                                                <div class="total-info-container-right-side">
                                                    <span>100.00 грн</span>
                                                    <span>44.00 грн</span>
                                                    <span>184 900.00 грн</span>
                                                </div>
                                                <!-- /.total-info-container-right-side -->
                                            </div>
                                            <!-- /.total-info-container -->
                                        </div>
                                        <!-- /.medium-4 medium-offset-8 -->
                                    </div>
                                    <!-- /.grid-x -->
                                    <div class="order-bottom-content">
                                        <div class="order-bottom-content-left-side">
                                            <span>Дата доставки: </span>
                                            <span>Адрес доставки: </span>
                                            <span>Телефон: </span>
                                            <span>Способ оплаты: </span>
                                        </div>
                                        <!-- /.order-bottom-content-right-side -->
                                        <div class="order-bottom-content-right-side">
                                            <span>18 августа 2017</span>
                                            <span>Днепр, Отделение №1, ул. Маршала Малиновского, д. 114, 0-800-500-609</span>
                                            <span>+380 95 888 8888</span>
                                            <span>Visa/MasterCard</span>
                                        </div>
                                        <!-- /.order-bottom-content-right-side -->
                                    </div>
                                    <!-- /.order-bottom-content -->
                                    <div class="order-bottom-content-btn-wrap">
                                        <button class="button repeat-order">Повторить
                                            заказ</button>
                                    </div>
                                    <!-- /.order-bottom-content-btn-wrap -->
                                </div>
                            </div>
                            <!-- /.medium-9 -->
                        </div>
                        <!-- /.grid-x -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.personal-container -->
                <div class="personal-container">
                    <ul class="tabs-ul grid-x medium-up-4 large-up-4">
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Личные данные</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a active-tab">История заказов</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Список желаний</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Предзаказанные
                            товары</a></li>
                    </ul>
                    <div class="tab-content order-history">
                        <div class="order-history-title-container">
                            <h3 class="tab-content-title title title-3 title-bold title-uppercase">Добро пожаловать, Александр!</h3>
                            <p>Здесь Вы можете просматривайть совершенные Вами заказы или  повторять уже любимые заказы.</p>
                            <div class="to-go-shopping-wrap">
                                <button class="to-go-shopping-btn button">Перейти к
                                    покупкам</button>
                            </div>
                            <!-- /.to-go-shopping-wrap -->
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.personal-container -->
                <div class="personal-container">
                    <ul class="tabs-ul grid-x medium-up-4 large-up-4">
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Личные данные</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">История заказов</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a active-tab">Список желаний</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Предзаказанные
                            товары</a></li>
                    </ul>
                    <div class="tab-content wish-list">
                        <div class="grid-x medium-up-4 large-up-4">
                            <div class="wish-list-unit cell">
                                <button class="wish-list-unit-close"></button>
                                <img src="../../assets/img/personal-account/wish-list/bitmap-1.png" alt="n">
                                <span class="wish-list-unit-name">UNDER ARMOUR</span>
                                <span class="wish-list-unit-descr">Raid Solid 8in Short - Men’s</span>
                                <span class="wish-list-unit-price">12 000.00 грн.</span>
                            </div>
                            <!-- /.wish-list-unit -->
                            <div class="wish-list-unit cell">
                                <button class="wish-list-unit-close"></button>
                                <button class="wish-list-unit-percent">-30%</button>
                                <img src="../../assets/img/personal-account/wish-list/bitmap-2.png" alt="n">
                                <span class="wish-list-unit-name">UNDER ARMOUR</span>
                                <span class="wish-list-unit-descr">Raid Solid 8in Short - Men’s</span>
                                <span class="wish-list-unit-price new-price">12 000.00 грн.</span>
                                <span class="wish-list-unit-price old-price">12 000.00 грн.</span>
                            </div>
                            <!-- /.wish-list-unit -->
                            <div class="wish-list-unit cell">
                                <button class="wish-list-unit-close"></button>
                                <button class="wish-list-unit-percent">-30%</button>
                                <img src="../../assets/img/personal-account/wish-list/bitmap-3.png" alt="n">
                                <span class="wish-list-unit-name">UNDER ARMOUR</span>
                                <span class="wish-list-unit-descr">Raid Solid 8in Short - Men’s</span>
                                <span class="wish-list-unit-price new-price">12 000.00 грн.</span>
                                <span class="wish-list-unit-price old-price">12 000.00 грн.</span>
                            </div>
                            <!-- /.wish-list-unit -->
                            <div class="wish-list-unit cell">
                                <button class="wish-list-unit-close"></button>
                                <button class="wish-list-unit-percent">-30%</button>
                                <img src="../../assets/img/personal-account/wish-list/bitmap-2.png" alt="n">
                                <span class="wish-list-unit-name">UNDER ARMOUR</span>
                                <span class="wish-list-unit-descr">Raid Solid 8in Short - Men’s</span>
                                <span class="wish-list-unit-price new-price">12 000.00 грн.</span>
                                <span class="wish-list-unit-price old-price">12 000.00 грн.</span>
                            </div>
                            <!-- /.wish-list-unit -->
                            <div class="wish-list-unit cell">
                                <button class="wish-list-unit-close"></button>
                                <button class="wish-list-unit-percent">-30%</button>
                                <img src="../../assets/img/personal-account/wish-list/bitmap-4.png" alt="n">
                                <span class="wish-list-unit-name">UNDER ARMOUR</span>
                                <span class="wish-list-unit-descr">Raid Solid 8in Short - Men’s</span>
                                <span class="wish-list-unit-price new-price">12 000.00 грн.</span>
                                <span class="wish-list-unit-price old-price">12 000.00 грн.</span>
                            </div>
                            <!-- /.wish-list-unit -->
                            <div class="wish-list-unit cell">
                                <button class="wish-list-unit-close"></button>
                                <img src="../../assets/img/personal-account/wish-list/bitmap-5.png" alt="n">
                                <span class="wish-list-unit-name">UNDER ARMOUR</span>
                                <span class="wish-list-unit-descr">Raid Solid 8in Short - Men’s</span>
                                <span class="wish-list-unit-price">12 000.00 грн.</span>
                            </div>
                            <!-- /.wish-list-unit -->
                            <div class="wish-list-unit cell">
                                <button class="wish-list-unit-close"></button>
                                <img src="../../assets/img/personal-account/wish-list/bitmap-6.png" alt="n">
                                <span class="wish-list-unit-name">UNDER ARMOUR</span>
                                <span class="wish-list-unit-descr">Raid Solid 8in Short - Men’s</span>
                                <span class="wish-list-unit-price">12 000.00 грн.</span>
                            </div>
                            <!-- /.wish-list-unit -->
                            <div class="wish-list-unit cell">
                                <button class="wish-list-unit-close"></button>
                                <img src="../../assets/img/personal-account/wish-list/bitmap-4.png" alt="n">
                                <span class="wish-list-unit-name">UNDER ARMOUR</span>
                                <span class="wish-list-unit-descr">Raid Solid 8in Short - Men’s</span>
                                <span class="wish-list-unit-price">12 000.00 грн.</span>
                            </div>
                            <!-- /.wish-list-unit -->
                        </div>
                        <!-- /.grid-x medium-up-4 large-up-4 -->
                    </div>
                    <!-- /.tab-content wish-list -->
                </div>
                <!-- /.personal-container -->
                <div class="personal-container">
                    <ul class="tabs-ul grid-x medium-up-4 large-up-4">
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Личные данные</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">История заказов</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Список желаний</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a active-tab">Предзаказанные
                            товары</a></li>
                    </ul>
                    <div class="tab-content pre-ordered">
                        <div class="pre-ordered-head">
                            <div class="pre-ordered-head-left-side">
                                <span>Фото</span>
                                <span>Наименование товара</span>
                            </div>
                            <!-- /.pre-ordered-head-left-side -->
                            <div class="pre-ordered-head-right-side">
                                <span>Кол-во</span>
                                <span>Сумма</span>
                                <span>Статус</span>
                            </div>
                            <!-- /.pre-ordered-head-right-side -->
                        </div>
                        <!-- /.pre-ordered-head -->
                        <div class="pre-ordered-unit">
                            <div class="pre-ordered-unit-img">
                                <img src="../../assets/img/personal-account/pre-ordered/bitmap.png" alt="g">
                            </div>
                            <div class="pre-ordered-unit-about">
                                <span>Арт. 18080813</span>
                                <span class="pre-ordered-unit-name">Norrøna Lofoten 30 Removable Airbag 3.0 Ready</span>
                                <span class="pre-ordered-unit-price">15 400.00 грн</span>
                            </div>
                            <!-- /.pre-ordered-about -->
                            <div class="right-span-wrapp">
                                <span class="pre-ordered-unit-count">12 шт</span>
                                <span class="pre-ordered-unit-total-price">184 800.00 грн</span>
                                <span class="pre-ordered-unit-status">Ожидает отправки</span>
                            </div>
                            <!-- /.right-span-wrapp -->
                        </div>
                        <!-- /.pre-ordered-unit -->
                        <div class="pre-ordered-unit">
                            <div class="pre-ordered-unit-img">
                                <img src="../../assets/img/personal-account/pre-ordered/bitmap.png" alt="g">
                            </div>
                            <div class="pre-ordered-unit-about">
                                <span>Арт. 18080813</span>
                                <span class="pre-ordered-unit-name">Norrøna Lofoten 30 Removable Airbag 3.0 Ready</span>
                                <span class="pre-ordered-unit-price">15 400.00 грн</span>
                            </div>
                            <!-- /.pre-ordered-about -->
                            <div class="right-span-wrapp">
                                <span class="pre-ordered-unit-count">12 шт</span>
                                <span class="pre-ordered-unit-total-price">184 800.00 грн</span>
                                <span class="pre-ordered-unit-status">Ожидает отправки</span>
                            </div>
                            <!-- /.right-span-wrapp -->
                        </div>
                        <!-- /.pre-ordered-unit -->
                        <div class="pre-ordered-unit">
                            <div class="pre-ordered-unit-img">
                                <img src="../../assets/img/personal-account/pre-ordered/bitmap.png" alt="g">
                            </div>
                            <div class="pre-ordered-unit-about">
                                <span>Арт. 18080813</span>
                                <span class="pre-ordered-unit-name">Norrøna Lofoten 30 Removable Airbag 3.0 Ready</span>
                                <span class="pre-ordered-unit-price">15 400.00 грн</span>
                            </div>
                            <!-- /.pre-ordered-about -->
                            <div class="right-span-wrapp">
                                <span class="pre-ordered-unit-count">12 шт</span>
                                <span class="pre-ordered-unit-total-price">184 800.00 грн</span>
                                <span class="pre-ordered-unit-status">Ожидает отправки</span>
                            </div>
                            <!-- /.right-span-wrapp -->
                        </div>
                        <!-- /.pre-ordered-unit -->
                    </div>
                    <!-- /.tab-content pre-ordered -->
                </div>
                <!-- /.personal-container -->
                <div class="personal-container">
                    <ul class="tabs-ul grid-x medium-up-4 large-up-4">
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Личные данные</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">История заказов</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a">Список желаний</a></li>
                        <li class="tabs-li cell"><a href="#" class="tabs-a active-tab">Предзаказанные
                            товары</a></li>
                    </ul>
                    <div class="tab-content pre-ordered-empty">
                        <div class="pre-ordered-empty-title-container">
                            <h3 class="pre-ordered-empty-title">Добро пожаловать</h3>
                            <p>Здесь Вы можете просматривайть статус Ваших заказ и наблюдать где именно они сейчас.  </p>
                            <div class="to-go-shopping-wrap">
                                <button class="to-go-shopping-btn button">Перейти к
                                    покупкам</button>
                            </div>
                        </div>
                        <!-- /.pre-ordered-empty-title-container -->
                    </div>
                    <!-- /.tab-content pre-ordered-empty -->
                </div>
                <!-- /.personal-container -->
            </div>
            <!-- /.medium-12 large-12 cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#personal-account -->
{{> footer}}