<section id="privacy">
    <div class="grid-container">
        <div class="privacy-input-wrapper">
            <input class="privacy-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="privacy-title title title-2 title-bold title-bold">политика
            конфеденциальности</h2>
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Политика конфеденциальности</li>
                </ul>
            </nav>
        </div>
        <div class="grid-x">
            <div class="medium-12 large-12 cell">
                <div class="privacy-content">
                    <h2 class="privacy-content-title title title-2 title-bold">Политика
                        конфеденциальности</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur
                        blanditiis cumque dolorem exercitationem iste iusto natus. Accusamus ad
                        aliquam, at doloremque fuga labore laborum modi mollitia natus, quam quos
                        repellendus reprehenderit tempore tenetur vel veniam vitae voluptatem. Eos
                        facilis maxime quae totam veniam? Eligendi illo labore quisquam tempora
                        voluptatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nemo odit
                        placeat porro quasi. Accusantium animi in iure laborum mollitia nostrum
                        praesentium repellat sed, tempora?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad assumenda at
                        atque blanditiis commodi consequuntur dolorem doloremque ducimus et fugiat
                        hic illo in incidunt ipsum iure labore laboriosam magnam minus molestias
                        natus nemo nesciunt nihil perferendis placeat praesentium qui quidem
                        reprehenderit soluta tenetur, totam vero voluptas voluptates! Assumenda
                        distinctio, dolore ea eaque, iste iure non perspiciatis possimus quas soluta
                        temporibus ullam vero. Accusamus aspernatur maxime obcaecati placeat quis
                        voluptatem.</p>
                </div>
                <!-- /.privacy-content -->
            </div>
            <!-- /.medium-12 large-12 cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#privacy -->
{{> footer}}