<section id="product-page">

    <div class="grid-container border-bottom">
        <div class="product-page-input-wrapper">
            <input class="product-page-search-field input-common input-common-size-14input-common-light-grey" type="text" placeholder="Что Вы ищите?">
        </div>
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Лыжи и сноуборд</a></li>
                    <li><span class="show-for-sr">Current: </span> Рюкзак Marmot Calistoga </li>
                </ul>
            </nav>
        </div>
        <!-- /.nav-container -->
        <div class="grid-x medium-up-1 large-up-2 marg-top-45">
            <div class="product-gallery cell">
                <div class="small-img-container">
                    <a href="#" class="small-img-link"><img src="../../assets/img/product-page/bitmap-1.png" alt="img" class="small-img"></a>
                    <a href="#" class="small-img-link"><img src="../../assets/img/product-page/bitmap-2.png" alt="img" class="small-img"></a>
                    <a href="#" class="small-img-link"><img src="../../assets/img/product-page/bitmap-3.png" alt="img" class="small-img"></a>
                    <a href="#" class="small-img-link"><img src="../../assets/img/product-page/bitmap-1.png" alt="img" class="small-img"></a>
                    <a href="#" class="small-img-link"><img src="../../assets/img/product-page/bitmap-2.png" alt="img" class="small-img"></a>
                </div>
                <!-- /.small-img-container -->
                <div class="big-img-container">
                    <button class="button primary minus-percent">-30%</button>
                    <div class="big-img-wrapper">
                        <img src="../../assets/img/product-page/pick-bik.png" alt="img" class="big-img">
                        <button class=" button zoom"></button>
                    </div>
                    <!-- /.big-ing-wrapper -->
                </div>
                <!-- /.big-img-container -->
            </div>
            <!-- /.product-gallery -->

            <div class="product-page-slider-nav hide-for-large-only">
                <a href="#" class="product-page-slider-nav-link"></a>
                <a href="#" class="product-page-slider-nav-link"></a>
                <a href="#" class="product-page-slider-nav-link product-page-slider-nav-link-active"></a>
                <a href="#" class="product-page-slider-nav-link"></a>
                <a href="#" class="product-page-slider-nav-link"></a>
            </div>


            <div class="product-info cell">
                <div class="product-info-top-line">
                    <span class="something">Norrøna</span>
                    <div class="product-code-container">
                        <span>Код товара:</span>
                        <span class="product-code">12-12-12</span>
                        <!-- /.product-code -->
                    </div>
                    <!-- /.product-code-container -->
                </div>
                <!-- /.product-info-top-line -->
                <h2 class="product-title title title-2">Norrøna Lofoten 30 Removable Airbag 3.0 Ready Backpack - 1831cu in</h2>
                <!-- /.product-title -->
                <div class="social-with-stars">
                    <div class="with-stars-container">
                        <div class="stars-img-container">
                            <a href="#"><img src="../../assets/img/product-page/full-star.svg" alt="a"></a>
                            <a href="#"><img src="../../assets/img/product-page/full-star.svg" alt="a"></a>
                            <a href="#"><img src="../../assets/img/product-page/full-star.svg" alt="a"></a>
                            <a href="#"><img src="../../assets/img/product-page/half-full-star.svg" alt="a"></a>
                            <a href="#"><img src="../../assets/img/product-page/empty-star.svg" alt="a"></a>
                        </div>
                        <!-- /.stars-img-container -->
                        <a class="count-reviews-container">
                            <span class="count-reviews">28</span>
                            <span> отзывов</span>
                        </a>
                        <!-- /.count-reviews -->
                    </div>
                    <!-- /.with-stars-container -->
                    <div class="social-links-container">
                        <a href="#" class="social-links"><img src="../../assets/img/product-page/fb.svg" alt="i"></a>
                        <a href="#" class="social-links"><img src="../../assets/img/product-page/gplus.svg" alt="i"></a>
                    </div>
                    <!-- /.social-links-container -->
                </div>
                <!-- /.social-with-stars -->
                <div class="about-price">
                    <span class="price-title">Цена</span>
                    <div class="price-container">
                        <span class="price-sum">124  000.00 грн.</span>
                        <span class="old-price-sum">124  000.00 грн.</span>
                    </div>
                    <!-- /.price-container -->
                    <div class="count-container">
                        <span class="count-content">Кол-во: 12</span>
                        <span class="stock">Есть в наличии</span>
                        <!-- /.stock -->
                    </div>
                    <!-- /.count-container -->
                    <div class="size-color grid-x">
                        <div class="small-12 medium-12 large-4 columns">
                            <label for="product-size">Размер:</label>
                            <select name="size" class="input-common input-common-size-14 input-common-light-grey" id="product-size">
                                <option value="30 L">30 L</option>
                                <option value="30 L">30 L</option>
                                <option value="30 L">30 L</option>
                                <option value="30 L">30 L</option>
                                <option value="30 L">30 L</option>
                                <option value="30 L">30 L</option>
                            </select>
                        </div>
                        <!-- /.medium-4 large-4 -->
                        <div class="small-12 medium-12 large-6 medium-offset- large-offset-2 columns">
                            <label for="product-color">Цвет:</label>
                            <select name="size" class="input-common input-common-size-14 input-common-light-grey" id="product-color">
                                <option value="30 L">Серебристый металлик</option>
                                <option value="30 L">Серебристый металлик</option>
                                <option value="30 L">Серебристый металлик</option>
                                <option value="30 L">Серебристый металлик</option>
                                <option value="30 L">Серебристый металлик</option>
                                <option value="30 L">Серебристый металлик</option>
                            </select>
                        </div>
                        <!-- /.medium-6 large-6 -->
                    </div>
                    <!-- /.size-color -->
                    <div class="table-size">
                        <a href="#" class="table-size-title">Таблица размеров</a>
                        <div class="table-size-container">
                            <button class="button primary to-basket">В корзину</button>
                            <a href="#" class="quick-order" data-reveal-id="quickOrder-pop">Быстрый заказ</a>
                            <!--quick-modal-pop start-->
                            <!--<div id="quickOrder-pop" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">-->
                                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet architecto-->
                            <!--</div>-->
                            
                            <!--quick-modal-pop end-->
                            <button class="btn privat"><img src="../../assets/img/product-page/privatbank-1.svg" alt="p"></button>
                        </div>
                        <!-- /.table-size-container -->
                    </div>
                    <!-- /.table-size -->
                    <div class="bottom-links">
                        <a href="#" class="to-wish-list">В список желаний</a>
                        <a href="#" class="to-compare">К сравнению</a>
                        <a href="#" class="follow-price">Следить за ценой</a>
                    </div>
                    <!-- /.bottom-links -->
                </div>
                <!-- /.about-price -->
            </div>
            <!-- /.product-info cell -->
        </div>
        <!-- /.grid-x -->
        <div class="grid-x medium-up-1 large-up-2">
            <div class="product-description cell">
                <ul class="tabs" data-tabs id="example-tabs">
                    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Описание и отзывы</a></li>
                    <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Характеристики</a></li>
                    <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Доставка и оплата</a></li>
                </ul>
                <div class="tabs-content" data-tabs-content="example-tabs">
                    <div class="tabs-panel is-active" id="panel1">
                        <span class="tab-title">О товаре</span>
                        <p class="tabs-text">
                            Экспедиционно-трекинговая серия рюкзаков объемом 75L для экстремальных экспедиций, высотных восхождений, горных походов.
                            Приятные мелочи
                            * подвесная система X-VAR TORSO
                            * полностью вентилируемая спина
                            * съемный клапан с внутренним карманом для документов, большим верхним отделением с органайзером и карабином для ключей
                            * памятка с сигналами помощи, вшитая в клапан
                            * двухслойная анатомическая бесшовная конструкция плечевых лямок с мягкими краями, регулируемая по высоте
                            * анатомическая жесткая конструкция вентилируемого поясного ремня «TORSO»
                            * грудная стяжка
                            * непромокаемый чехол от дождя, убираемый в специальный карман на «молнии»
                            * усиленное дно
                            * нижний вход и внутренняя перегородка на «молнии»
                            * петли для ледового снаряжения и палок
                            * Z-образные компрессионные боковые ремни увеличенной длины
                            * фронтальный карман с эластичным шнуром и боковые карманы с регулируемым объемом
                            * два нижних боковых кармана из сетки
                            * Н2О внутренний карман и специальный клапан для питьевой системы
                        </p>
                    </div>
                    <div class="tabs-panel" id="panel2">
                        <table class="unstriped character-table">
                            <tbody>
                                <tr>
                                    <td>Модель (Год):</td>
                                    <td>1992</td>
                                </tr>
                                <tr>
                                    <td>Рама:</td>
                                    <td>Карбон</td>
                                </tr>
                                <tr>
                                    <td>Колеса:</td>
                                    <td>Shimano WH-RS330 16 Front / 20 Rear</td>
                                </tr>
                                <tr>
                                    <td>Пол:</td>
                                    <td>Муж.</td>
                                </tr>
                                <tr>
                                    <td>Производитель:</td>
                                    <td>Scott</td>
                                </tr>
                                <tr>
                                    <td>Вес:</td>
                                    <td>10 кг</td>
                                </tr>
                                <tr>
                                    <td>Материал:</td>
                                    <td>Картон</td>
                                </tr>
                                <tr>
                                    <td>Модель:</td>
                                    <td>FOIL</td>
                                </tr>
                                <tr>
                                    <td>Вилка:</td>
                                    <td>FOIL HMF 1 1/4» - 1 1/2» Carbon steerer Integrated Carbon Dropout</td>
                                </tr>
                                <tr>
                                    <td>Задний переключатель:</td>
                                    <td>Shimano 105 RD-5800-SS 22 Speed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tabs-panel" id="panel3">
                        <div class="shipping-first">
                            <span class="tab-title">Условия доставки:</span>
                            <ul class="shipping-first-list">
                                <li>— Самостоятельно в нашем магазине по адресу: <br>г. Днепр, ул. А. Поля , 89 после предварительного согласования заказа;</li>
                                <li>— Курьером;</li>
                                <li>— Новая Почта.</li>
                            </ul>
                        </div>
                        <!-- /.ship-container-first -->
                        <div class="shipping-second">
                            <span class="tab-title">Условия доставки:</span>
                            <ul class="shipping-second-list">
                                <li>— Наличными;</li>
                                <li>— Безналичными;</li>
                                <li>— Карта Visa/Mastercard;</li>
                                <li>— Рассрочка.</li>
                            </ul>
                        </div>
                        <!-- /.shipping-second -->
                    </div>
                </div>
                </div>
                <div class="product-comments cell">
                    <div class="product-comments-container">
                        <span class="product-comments-title">Отзывы о товаре:</span>
                        <div class="comment-card">
                            <div class="with-stars-cont">
                                <div class="stars-cont">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/half-full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/empty-star.svg" alt="a">
                                </div>
                                <span class="with-stars-date">12/03/17</span>
                            </div>
                            <!--.with-stars-cont-->
                            <span class="comment-card-title">Очень доволен моей покупкой</span>
                            <p class="comment-card-text">Работаю свинопасом, удовольствие от носки на работе непередаваемое! Недавно убежал поросенок Борька, три часа гонялся за ним по пахоте, поймал, смотрю, а обувь как новая. Берите не думая</p>
                            <div class="comment-card-from">От <span class="comment-card-from-who">Владимир Салтыков-Щедрин</span></div>
                            <!-- /.comment-card-from -->
                            <div class="comment-card-links">
                                <a class="to-answer">Ответить</a>
                                <a class="how-many-answers">Ответ(ов) 2</a>
                            </div>
                            <!-- /.comment-card-links -->
                            <div class="survey-container">
                                <span class="survey-container-title">Был ли этот отзыв для Вас
                                    полезен?</span>
                                <div class="survey-container-btns">
                                    <button class="button btn-yes">Да</button>
                                    <button class="button whole btn-no">Нет</button>
                                </div>
                                <!-- /.survey-container-btns -->
                            </div>
                            <!-- /.survey-container -->
                        </div>
                        <!-- /.comment-card -->
                    </div>
                    <!-- /.product-comments-container -->
                    <div class="product-comments-container">
                        <div class="comment-card">
                            <div class="with-stars-cont">
                                <div class="stars-cont">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/half-full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/empty-star.svg" alt="a">
                                </div>
                                <span class="with-stars-date">12/03/17</span>
                            </div>
                            <!--.with-stars-cont-->
                            <span class="comment-card-title">Очень доволен моей покупкой</span>
                            <p class="comment-card-text">Работаю свинопасом, удовольствие от носки на работе непередаваемое! Недавно убежал поросенок Борька, три часа гонялся за ним по пахоте, поймал, смотрю, а обувь как новая. Берите не думая</p>
                            <div class="comment-card-from">От <span class="comment-card-from-who">Владимир Салтыков-Щедрин</span></div>
                            <!-- /.comment-card-from -->
                            <div class="comment-card-links">
                                <a class="to-answer">Ответить</a>
                                <a class="how-many-answers">Ответ(ов) 2</a>
                            </div>
                            <!-- /.comment-card-links -->
                            <div class="survey-container">
                                <span class="survey-container-title">Был ли этот отзыв для Вас
                                    полезен?</span>
                                <div class="survey-container-btns">
                                    <button class="button btn-yes">Да</button>
                                    <button class="button whole btn-no">Нет</button>
                                </div>
                                <!-- /.survey-container-btns -->
                            </div>
                            <!-- /.survey-container -->
                        </div>
                        <!-- /.comment-card -->
                    </div>
                    <!-- /.product-comments-container -->
                    <div class="product-comments-container">
                        <div class="comment-card">
                            <div class="with-stars-cont">
                                <div class="stars-cont">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/half-full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/empty-star.svg" alt="a">
                                </div>
                                <span class="with-stars-date">12/03/17</span>
                            </div>
                            <!--.with-stars-cont-->
                            <span class="comment-card-title">Очень доволен моей покупкой</span>
                            <p class="comment-card-text">Работаю свинопасом, удовольствие от носки на работе непередаваемое! Недавно убежал поросенок Борька, три часа гонялся за ним по пахоте, поймал, смотрю, а обувь как новая. Берите не думая</p>
                            <div class="comment-card-from">От <span class="comment-card-from-who">Владимир Салтыков-Щедрин</span></div>
                            <!-- /.comment-card-from -->
                            <div class="comment-card-links">
                                <a class="to-answer">Ответить</a>
                                <a class="how-many-answers">Ответ(ов) 2</a>
                            </div>
                            <!-- /.comment-card-links -->
                            <div class="survey-container">
                                <span class="survey-container-title">Был ли этот отзыв для Вас
                                    полезен?</span>
                                <div class="survey-container-btns">
                                    <button class="button btn-yes">Да</button>
                                    <button class="button whole btn-no">Нет</button>
                                </div>
                                <!-- /.survey-container-btns -->
                            </div>
                            <!-- /.survey-container -->
                        </div>
                        <!-- /.comment-card -->
                    </div>
                    <!-- /.product-comments-container -->
                    <div class="product-comments-container">
                        <div class="comment-card">
                            <div class="with-stars-cont">
                                <div class="stars-cont">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/half-full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/empty-star.svg" alt="a">
                                </div>
                                <span class="with-stars-date">12/03/17</span>
                            </div>
                            <!--.with-stars-cont-->
                            <span class="comment-card-title">Очень доволен моей покупкой</span>
                            <p class="comment-card-text">Работаю свинопасом, удовольствие от носки на работе непередаваемое! Недавно убежал поросенок Борька, три часа гонялся за ним по пахоте, поймал, смотрю, а обувь как новая. Берите не думая</p>
                            <div class="comment-card-from">От <span class="comment-card-from-who">Владимир Салтыков-Щедрин</span></div>
                            <!-- /.comment-card-from -->
                            <div class="comment-card-links">
                                <a class="to-answer">Ответить</a>
                                <a class="how-many-answers">Ответ(ов) 2</a>
                            </div>
                            <!-- /.comment-card-links -->
                            <div class="survey-container">
                                <span class="survey-container-title">Был ли этот отзыв для Вас
                                    полезен?</span>
                                <div class="survey-container-btns">
                                    <button class="button btn-yes">Да</button>
                                    <button class="button whole btn-no">Нет</button>
                                </div>
                                <!-- /.survey-container-btns -->
                            </div>
                            <!-- /.survey-container -->
                        </div>
                        <!-- /.comment-card -->
                    </div>
                    <!-- /.product-comments-container -->
                    <div class="product-comments-container">
                        <div class="comment-card">
                            <div class="with-stars-cont">
                                <div class="stars-cont">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/half-full-star.svg" alt="a">
                                    <img src="../../assets/img/product-page/empty-star.svg" alt="a">
                                </div>
                                <span class="with-stars-date">12/03/17</span>
                            </div>
                            <!--.with-stars-cont-->
                            <span class="comment-card-title">Очень доволен моей покупкой</span>
                            <p class="comment-card-text">Работаю свинопасом, удовольствие от носки на работе непередаваемое! Недавно убежал поросенок Борька, три часа гонялся за ним по пахоте, поймал, смотрю, а обувь как новая. Берите не думая</p>
                            <div class="comment-card-from">От <span class="comment-card-from-who">Владимир Салтыков-Щедрин</span></div>
                            <!-- /.comment-card-from -->
                            <div class="comment-card-links">
                                <a class="to-answer">Ответить</a>
                                <a class="how-many-answers">Ответ(ов) 2</a>
                            </div>
                            <!-- /.comment-card-links -->
                            <div class="survey-container">
                                <span class="survey-container-title">Был ли этот отзыв для Вас
                                    полезен?</span>
                                <div class="survey-container-btns">
                                    <button class="button btn-yes">Да</button>
                                    <button class="button whole btn-no">Нет</button>
                                </div>
                                <!-- /.survey-container-btns -->
                            </div>
                            <!-- /.survey-container -->
                        </div>
                        <!-- /.comment-card -->
                    </div>
                    <!-- /.product-comments-container -->
                    <div class="product-comments-container">
                        <button class="primary button more-reviews">Больше отзывов (<span>188
                        </span>)</button>
                        <!-- /.more-reviews -->
                    </div>
                    <!-- /.product-comments-container -->
                </div>
            </div>
            <!-- /.product-description -->

            <!-- /.product-comments -->
        </div>
        <!-- /.grid-x medium-up-2 large-up-2 -->
    </div>
    <!-- /.grid-container -->

</section>
<!-- /#product-page -->

{{> same-category}}

{{> buy_with_it}}

{{> maybe_you_found}}

{{> recently_viewed}}

{{> footer}}