<section id="questions-page">
    <div class="grid-container">
        <div class="questions-page-input-wrapper">
            <input class="questions-page-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="questions-page-title title title-2 title-bold title-uppercase">faq</h2>
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> FAQ</li>
                </ul>
            </nav>
        </div>
        <div class="grid-x">
            <div class="medium-12 large-12 cell">
                <div class="questions-page-content">
                    <h2 class="questions-page-content-title title title-2 title-bold">Часто
                        задаваемые вопросы</h2>
                    <ul class="accordion" data-accordion>
                        <li class="accordion-item is-active" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Что вы продаете?</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <p>Наличными курьеру при доставке (только по Киеву).
                                    В любом отделении «ПриватБанка» . Перевод на карточку  (подробности уточнять)
                                    Наличными при самовывозе из одного из наших магазинов.
                                    Убедительная просьба, прежде чем производить предоплату, уточните наличие товара и согласуйте детали доставки с менеджером магазина.</p>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Как я могу оплатить покупку?</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <p>Наличными курьеру при доставке (только по Киеву).
                                    В любом отделении «ПриватБанка» . Перевод на карточку  (подробности уточнять)
                                    Наличными при самовывозе из одного из наших магазинов.
                                    Убедительная просьба, прежде чем производить предоплату, уточните наличие товара и согласуйте детали доставки с менеджером магазина.</p>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Какие возмозжости открывает регистрация в личном кабинете?</a>
                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <p>Наличными курьеру при доставке (только по Киеву).
                                    В любом отделении «ПриватБанка» . Перевод на карточку  (подробности уточнять)
                                    Наличными при самовывозе из одного из наших магазинов.
                                    Убедительная просьба, прежде чем производить предоплату, уточните наличие товара и согласуйте детали доставки с менеджером магазина.</p>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Столько обычно стоит доставка продукции?</a>
                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <p>Наличными курьеру при доставке (только по Киеву).
                                    В любом отделении «ПриватБанка» . Перевод на карточку  (подробности уточнять)
                                    Наличными при самовывозе из одного из наших магазинов.
                                    Убедительная просьба, прежде чем производить предоплату, уточните наличие товара и согласуйте детали доставки с менеджером магазина.</p>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Куда осуществляется доставка товаров?</a>
                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <p>Наличными курьеру при доставке (только по Киеву).
                                    В любом отделении «ПриватБанка» . Перевод на карточку  (подробности уточнять)
                                    Наличными при самовывозе из одного из наших магазинов.
                                    Убедительная просьба, прежде чем производить предоплату, уточните наличие товара и согласуйте детали доставки с менеджером магазина.</p>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Почему не происходит переиндексация? </a>
                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <p>Наличными курьеру при доставке (только по Киеву).
                                    В любом отделении «ПриватБанка» . Перевод на карточку  (подробности уточнять)
                                    Наличными при самовывозе из одного из наших магазинов.
                                    Убедительная просьба, прежде чем производить предоплату, уточните наличие товара и согласуйте детали доставки с менеджером магазина.</p>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Что случилось с курсом доллара ?</a>
                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>
                                <p>Наличными курьеру при доставке (только по Киеву).
                                    В любом отделении «ПриватБанка» . Перевод на карточку  (подробности уточнять)
                                    Наличными при самовывозе из одного из наших магазинов.
                                    Убедительная просьба, прежде чем производить предоплату, уточните наличие товара и согласуйте детали доставки с менеджером магазина.</p>
                            </div>
                        </li>
                        <!-- ... -->
                    </ul>
                </div>
                <!-- /.questions-page-content -->
            </div>
            <!-- /.medium-12 large-12 cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#questions-page -->
{{> footer}}
