<section id="black-friday">
    <div class="grid-container">
        <div class="black-friday-input-wrapper">
            <input class="black-friday-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="black-friday-title title title-2 title-bold title-uppercase">Черная пятница</h2>
        <!-- /.black-friday-title -->
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Мужчины</a></li>
                    <li><span class="show-for-sr">Current: </span>Зимний спорт</li>
                </ul>
            </nav>
        </div>
        <div class="grid-x marg-top-45">
            <div class="medium-12 large-4 cell">
                <div class="black-friday-img-container">
                    <img src="../../assets/img/sale-list/bitmap.png" alt="img" class="black-img show-only-for-large" />
                    <img src="../../assets/img/sale-list/bitmap-1.png" alt="img-1" class="black-img hide-for-large" />
                </div>
                <!-- /.black-friday-img-container -->
            </div>
            <!-- /.medium-4 large-4 cell -->
            <div class="medium-12 large-8 cell">
                <div class="black-friday-right-container">
                    <span class="timer-title">До конца акции осталось:</span>
                    <div class="timer">
                        <div class="timer-content">
                            <span class="time day">07</span>
                            <span class="text">дней</span>
                        </div>
                        <div class="timer-content">
                            <span class="time hour">07</span>
                            <span class="text">часов</span>
                        </div>
                        <div class="timer-content">
                            <span class="time minute">07</span>
                            <span class="text">минут</span>
                        </div>
                        <div class="timer-content">
                            <span class="time second">07</span>
                            <span class="text">секунд</span>
                        </div>
                    </div>
                </div>
                <!-- /.black-friday-right-container -->
                <div class="promotion-conditions">
                    <h3 class="promotion-conditions-title title title-3 title-bold title-uppercase">Условия акции</h3>
                    <p class="promotion-conditions-descr">В некоторых странах проводили специальные исследования после которых сделали заключение, что те люди, которые добираются на роботу на велосипедах, значительно меньше болеют, у них увеличивается трудоспосбность и укрепляется иммунитет. Достаточно большое количество стран в мире, заботясь о благополучии и здоровье своей нации, начали активно строить велодорожки. Как говорят: “На велосипеде можна уехать от инфаркта, сердечного приступа и от частых простудных заболеваний”. Кстати, тем, кто бросил курить, байк поможет быстро очистить лёгкие. И, даже если Вы полностью здоровы и не имеете вредных привычек, согласитесь, что кататься на велосипеде правда очень приятно – это всегда добавляет чудесного настрения и держит человека в хорошей форме.</p>
                </div>
                <!-- /.promotion-conditions -->
            </div>
            <!-- /.medium-8 large-8 cell -->
        </div>
        <!-- /.grid-x marg-top-45 -->
    </div>
</section>
<!-- /#black-friday -->

<section id="black-friday-search">
    <div class="grid-container">
        {{> filter_top_line}}
        <div class="grid-x">
            {{> filter_part}}
            <div class="medium-offset-2 large-offset-0 medium-8 large-9 cell flex-for-medium-down">
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-1.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-2.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-3.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-4.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-5.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-6.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-1.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-2.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-3.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-4.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-5.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-6.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <span class="product-container-name">Сноуборд</span>
                        <span class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow"></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard"></a>
                        <a href="#" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
            </div>
            <div class="pagination-container">
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <li class="pagination-previous disabled">Пред.</li>
                    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                    <li><a href="#" aria-label="Page 2">2</a></li>
                    <li><a href="#" aria-label="Page 3">3</a></li>
                    <li class="ellipsis"></li>
                    <li><a href="#" aria-label="Page 182">182</a></li>
                    <li class="pagination-next"><a href="#" aria-label="Next page">След.</a></li>
                </ul>
            </div>
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>

{{> footer}}