<section id="shipping-page">
    <div class="grid-container">
        <div class="shipping-page-input-wrapper">
            <input class="shipping-page-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="shipping-page-title title title-2 title-bold title-uppercase">Доставка и оплата</h2>
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Доставка и оплата</li>
                </ul>
            </nav>
        </div>
        <div class="grid-x">
            <div class="medium-12 large-12 cell">
                <div class="shipping-page-content">
                    <div class="first-container">
                        <h2 class="shipping-page-content-title title title-2 title-bold">Способы
                            оплаты</h2>
                        <p>Оплату за товар можно произвести:</p>
                        <ul class="shipping-page-content-list">
                            <li>Наличными курьеру при доставке (только по Киеву).</li>
                            <li>В любом отделении «ПриватБанка» . Перевод на карточку  (подробности уточнять)</li>
                            <li>Наличными при самовывозе из одного из наших магазинов.</li>
                        </ul>
                        <!-- /.shipping-page-content-list -->
                        <p>Убедительная просьба, прежде чем производить предоплату, уточните наличие товара
                            и согласуйте детали доставки с менеджером магазина.</p>
                    </div>
                    <!-- /.first-container -->
                    <h2 class="shipping-page-content-title shipping-page-content-second-title">Способы доставки</h2>
                    <ul class="shipping-page-content-list">
                        <li>Доставка курьером (по Киеву) - 50 грн. При сумме покупки более 3000 грн - доставка бесплатная. Доставка осуществляется только до подъезда.
                            Транспортной компанией (Интайм, Новая Почта) Доставка курьером (по Киеву).
                            В будни: с 10:00 до 20:00 стоимость доставки - бесплатно при стоимости заказа больше 3000 грн., иначе стоимость доставки составит +50грн.</li>
                        <li>После оформления заказа наш менеджер обязательно свяжется с Вами и уточнит необходимые детали, время, а так же стоимость доставки.</li>
                        <li>Транспортной компанией (Интайм, Новая Почта) В течение 2-3 рабочих дней с момента поступления денег на наш расчетный счет заказ будет доставлен
                            в представительство компании перевозчика того города, куда был сделан заказ.</li>
                        <p>Стоимость доставки - бесплатно, при услови оплаты на карту с общей суммой покупки свыше 1000 грн</p>
                    </ul>
                    <!-- /.shipping-page-content-list -->
                </div>
                <!-- /.shipping-page-content -->
            </div>
            <!-- /.medium-12 large-12 cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#shipping-page -->
{{> footer}}