<section id="size-chart">

    <div class="grid-container">

        <div class="size-chart-input-wrapper">
            <input class="size-chart-search-field" type="text" placeholder="Что Вы ищите?">
        </div>
        <h2 class="size-chart-title title title-2 title-bold title-uppercase">Размерная сетка</h2>
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Размерная сетка</li>
                </ul>
            </nav>
        </div>

        <p class="second-title">
            Какой бренд одежды Вас интересует?<br>
            Также не забудьте выбрать нужный Вам тип одежды.
        </p>
        <!-- /.second-title -->

        <div class="grid-x">
            <div class="medium-10 large-10 medium-offset-1 large-offset-1 cell">
                <div class="size-chart-top-filter">
                    <span>Бренд:</span>
                    <select name="brand" id="brand-name">
                        <option value="The North Face">The North Face</option>
                        <option value="The North Face">The North Face</option>
                        <option value="The North Face">The North Face</option>
                    </select>
                    <!-- /# -->
                    <span>Тип одежды:</span>
                    <select name="type" id="type-of-clothes">
                        <option value="Перчатки">Перчатки</option>
                        <option value="The North Face">Перчатки</option>
                        <option value="The North Face">Перчатки</option>
                    </select>
                    <!-- /# -->
                    <button class="button top-filter-btn">Просмотреть</button>
                </div>
                <!-- /.size-chart-top-filter -->
                <table class="size-chart-table">
                    <thead>
                    <tr>
                        <th width="170">Размер Украина UA</th>
                        <th width="170">Размер Европа EUR</th>
                        <th width="170">US Men</th>
                        <th width="170">US Women</th>
                        <th width="170">Размер Британия UK</th>
                        <th width="170">Длина стопы, см</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>35,5 UA</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>35,5 UA</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>35,5 UA</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>35,5 UA</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>35,5 UA</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>35,5 UA</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>35,5 UA</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>35,5 UA</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>35,5 UA</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>362/3 EUR</td>
                        <td>36</td>
                    </tr>
                </table>
                <!-- /.size-chart-table -->
            </div>
            <!-- /.medium-10 large-10 medium-offset-1 large-offset-1 -->
        </div>
        <!-- /.grid-x -->
        <h2 class="bottom-title">Как измерить размер</h2>
        <!-- /.bottom-title -->
        <div class="grid-x">
            <div class="medium-6 large-6 medium-offset-1 large-offset-1 how-check">
                <span>Как измерить:</span>
                <p>Все измерения соответствуют эквивалентным измерениям тела, а не размерам предмета одежды. Для достижения наилучших результатов измерьте нижнее белье</p>
                <span>Грудь:</span>
                <p>Мера под руками, вокруг самой обьемной части груди.</p>
                <span>Рукав:</span>
                <p>Измерьте от середины спины к запястью руки.</p>
                <span>Талия:</span>
                <p>Измерьте вокруг вашей естественной талии, удерживая ленту немного свободной.</p>
                <span>Бедра:</span>
                <p>Измерьте вокруг самой полной части вашего тела в верхней части ног</p>
                <span>Ноги:</span>
                <p>Используя брюки, которые хорошо подходят, измерьте промежностный шов до нижней части ноги.</p>
            </div>
            <!-- /.how-check -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#size-chart -->

{{> footer}}