#bags {
  padding-bottom: rem-calc(40);

  .bags-title-container {
    background-image: url(../../assets/img/catalog/bags-1.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: rem-calc(60 0);
  }

  .bags-title {
    text-align: center;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: rem-calc(0.5);
    line-height: rem-calc(50);
    margin-bottom: 0;
  }

  .marg-top-40{
    margin-top: rem-calc(40);
  }

  .bags-ul {
    font-size: rem-calc(14);
    list-style: none;
    color: $base-black;
    margin: 0;
  }

  .bags-first-ul .bags-li:first-child {
    font-weight: bold;
    margin-bottom: rem-calc(16);
  }

  .all-bags:not(.bags-first-ul) {
    margin-top: rem-calc(38);
  }

  .bags-link {
    transition: all .3s;

    &:hover {
      text-decoration: underline;
    }
  }
}