#cycling {
  padding-bottom: rem-calc(40);

  .cycling-title-container {
    background-image: url(../../assets/img/catalog/cycling-1.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: rem-calc(60 0);
  }

  .cycling-title {
    text-align: center;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: rem-calc(0.5);
    line-height: rem-calc(50);
    margin-bottom: 0;
  }

  .marg-top-40{
    margin-top: rem-calc(40);
  }

  .cycling-ul {
    font-size: rem-calc(14);
    list-style: none;
    color: $base-black;
    margin: 0;
  }

  .cycling-ul .cycling-li:first-child {
    font-weight: bold;
    margin-bottom: rem-calc(16);
  }

  .cycling-ul-container:nth-child(3) .cycling-ul:first-child .cycling-li:first-child,
  .cycling-ul-container:nth-child(4) .cycling-li:first-child {
    font-weight: normal;
    margin-bottom: 0;
  }

  .cycling-ul-container:nth-child(3) .cycling-ul:last-child {
    margin-top: rem-calc(36);
  }



  .cycling-link {
    transition: all .3s;

    &:hover {
      text-decoration: underline;
    }
  }
}