#shoes {
  padding-bottom: rem-calc(40);

  .shoes-title-container {
    background-image: url(../../assets/img/catalog/shoes-1.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: rem-calc(60 0);
  }

  .shoes-title {
    text-align: center;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: rem-calc(0.5);
    line-height: rem-calc(50);
    margin-bottom: 0;
  }

  .marg-top-40{
    margin-top: rem-calc(40);
  }

  .shoes-ul {
    font-size: rem-calc(14);
    list-style: none;
    color: $base-black;
    margin: 0;
  }

  .shoes-li:first-child {
    font-weight: bold;
    margin-bottom: rem-calc(16);
  }

  .shoes-link {
    transition: all .3s;

    &:hover {
      text-decoration: underline;
    }
  }

}