.catalog {

  &-title {
    font-weight: bold;
    letter-spacing: rem-calc(0.5);
    line-height: rem-calc(50);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem-calc(30);
  }

  &-input-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: rem-calc(20);
  }

  &-search-field {
    width: rem-calc(314);
    height: rem-calc(44);
    padding: rem-calc(15 40 15 20);
    font-size: rem-calc(14);
    color: $opacity-grey;
    background-image: url(../img/search_page/black-search.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
    border: none;
    transition: all .4s;
    margin-bottom: 0;

    &:hover, &:focus {
      box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
    }
  }

  &-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: rem-calc(0.5);
    font-weight: bold;
    margin-top: rem-calc(20);
    margin-bottom: 0;
  }
}