<section id="bags">
    <div class="bags-title-container">
        <h2 class="bags-title title-white title-2 title-bold title-uppercase">Рюкзаки и сумки</h2>
    </div>
    <!-- /.bags-title-container -->
    <div class="grid-container marg-top-40">
        <div class="grid-x medium-up-5 large-up-5">
            <div class="cell bags-ul-container">
                <ul class="bags-ul all-bags bags-first-ul">
                    <li class="bags-li"><a href="#" class="bags-link bags">Рюкзаки и сумки</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Рюкзаки</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Сумки</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Питьевые системы</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Косметички</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Кошельки</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Аптечки</a></li>
                </ul>
            </div>
            <div class="cell bags-ul-container">
                <ul class="bags-ul all-bags">
                    <li class="bags-li"><a href="#" class="bags-link">Сумки для цифровой техники</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Сумки для ноутбуков</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Компрессионные мешки</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Герметичные мешки</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Чехлы</a></li>
                </ul>
            </div>
            <div class="cell bags-ul-container">
                <ul class="bags-ul all-bags">
                    <li class="bags-li"><a href="#" class="bags-link">Магнезницы</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Фастексы, пряжки</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Стяжные ремни</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Замки для сумок</a></li>
                    <li class="bags-li"><a href="#" class="bags-link">Дополнительные элементы</a></li>
                </ul>
            </div>
        </div>
        <!-- /.grid-x medium-up-5 -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#bags -->