<section id="clothes">
    <div class="clothes-title-container">
        <h2 class="clothes-title title-white title-2 title-bold title-uppercase">одежда</h2>
    </div>
    <!-- /.clothes-title-container -->
    <div class="grid-container marg-top-40">
        <div class="grid-x medium-up-5 large-up-5">
            <div class="cell clothes-ul-container">
                <ul class="clothes-ul mens-clothes">
                    <li class="clothes-li"><a href="#" class="clothes-link mens">Мужская одежда</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Термобелье</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Нижнее белье</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Куртки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Кофты, флис</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Штаны</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Жилетки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Перчатки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Майки, футболки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Рубашки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Шорты, капри</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Носки</a></li>
                </ul>
            </div>
            <div class="cell clothes-ul-container">
                <ul class="clothes-ul womens-clothes">
                    <li class="clothes-li"><a href="#" class="clothes-link womens">Женская
                        одежда</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Термобелье</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Нижнее белье</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Куртки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Кофты, флис</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Штаны</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Жилетки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Перчатки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Майки, футболки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Рубашки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Шорты, капри</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Носки</a></li>
                </ul>
            </div>
            <div class="cell clothes-ul-container">
                <ul class="clothes-ul childrens-clothes">
                    <li class="clothes-li"><a href="#" class="clothes-link childrens">Детская
                        одежда</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Термобелье</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Куртки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Кофты, флис</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Штаны</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Жилетки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Перчатки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Майки, футболки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Рубашки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Шорты, капри</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Носки</a></li>
                </ul>
            </div>
            <div class="cell clothes-ul-container">
                <ul class="clothes-ul accessories-clothes">
                    <li class="clothes-li"><a href="#" class="clothes-link accessories">Аксессуары для одежды</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Пончо</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Головные уборы</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Ремни</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Средства по уходу</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Украшения</a></li>
                </ul>
            </div>
            <div class="cell clothes-ul-container">
                <ul class="clothes-ul buff-clothes">
                    <li class="clothes-li"><a href="#" class="clothes-link buff">Buff</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Шапки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Балаклавы</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Шарфи многофункциональные</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Капюшоны</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Кепки</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Банданы</a></li>
                    <li class="clothes-li"><a href="#" class="clothes-link">Прочее</a></li>
                </ul>
            </div>
        </div>
        <!-- /.grid-x medium-up-5 -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#clothes -->