<section id="equipment">
    <div class="equipment-title-container">
        <h2 class="equipment-title title-white title-2 title-bold title-uppercase">Снаряжение</h2>
    </div>
    <!-- /.equipment-title-container -->
    <div class="grid-container marg-top-40">
        <div class="grid-x medium-up-5 large-up-5">
            <div class="cell equipment-ul-container">
                <ul class="equipment-ul all-equipment">
                    <li class="equipment-li"><a href="#" class="equipment-link equipment">Альпинизм и снаряжение</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Системы</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Каски</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Самостраховки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Лесенки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Лесенки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Карабины</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Гамаки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Оттяжки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Спусковые и
                        страховочные устройства</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Баулы</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Платформы</a></li>
                </ul>
            </div>
            <div class="cell equipment-ul-container">
                <ul class="equipment-ul all-equipment">
                    <li class="equipment-li"><a href="#" class="equipment-link">Веревочные зажимы</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Блоки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Веревки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Крючья/анкеры</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Закладные элементы</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Молотки скальные</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Вспомогательные элементы</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Разгрузки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Ледорубы, ледовые
                        инструменты</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Кошки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Ледобуры</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Магнезия</a></li>
                </ul>
            </div>
            <div class="cell equipment-ul-container">
                <ul class="equipment-ul all-equipment">
                    <li class="equipment-li"><a href="#" class="equipment-link">Снегоступы</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Крашпеды</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Треккинговые палки</a></li>
                </ul>
            </div>
            <div class="cell equipment-ul-container">
                <ul class="equipment-ul all-equipment">
                    <li class="equipment-li"><a href="#" class="equipment-link">Тактическое</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Рюкзаки тактические</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Чехлы для оружия</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Медицинское снаряжение</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Разгрузки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Подсумки</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Подсумки для магазинов</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Одежда тактическая</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Дополнительное снаряжение</a></li>
                </ul>
            </div>
            <div class="cell equipment-ul-container">
                <ul class="equipment-ul all-equipment">
                    <li class="equipment-li"><a href="#" class="equipment-link">Фонари</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Налобные фонари</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Кемпинговые фонари</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Тактические фонари</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Ручные фонари</a></li>
                    <li class="equipment-li"><a href="#" class="equipment-link">Аккумуляторы и зарядные
                        устройства</a></li>
                </ul>
            </div>
        </div>
        <!-- /.grid-x medium-up-5 -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#equipment -->