<section id="shoes">
    <div class="shoes-title-container">
        <h2 class="shoes-title title-white title-2 title-bold title-uppercase">Обувь</h2>
    </div>
    <!-- /.shoes-title-container -->
    <div class="grid-container marg-top-40">
        <div class="grid-x medium-up-5 large-up-5">
            <div class="cell shoes-ul-container">
                <ul class="shoes-ul mens-shoes">
                    <li class="shoes-li"><a href="#" class="shoes-link mens">Мужская обувь</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Ботинки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Кроссовки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Сандалии</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Вьетнамки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Утепленные тапочки</a></li>
                </ul>
            </div>
            <div class="cell shoes-ul-container">
                <ul class="shoes-ul womens-shoes">
                    <li class="shoes-li"><a href="#" class="shoes-link womens">Женская обувь</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Ботинки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Кроссовки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Сандалии</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Вьетнамки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Утепленные тапочки</a></li>
                </ul>
            </div>
            <div class="cell shoes-ul-container">
                <ul class="shoes-ul childrens-shoes">
                    <li class="shoes-li"><a href="#" class="shoes-link childrens">Детская обувь</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Ботинки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Кроссовки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Сандалии</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Вьетнамки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Утепленные тапочки</a></li>
                </ul>
            </div>
            <div class="cell shoes-ul-container">
                <ul class="shoes-ul special-shoes">
                    <li class="shoes-li"><a href="#" class="shoes-link special">Специализированная обувь</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Скальные туфли</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Коралловые тапочки</a></li>
                </ul>
            </div>
            <div class="cell shoes-ul-container">
                <ul class="shoes-ul accessories-shoes">
                    <li class="shoes-li"><a href="#" class="shoes-link accessories">Аксессуары для обуви</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Средства по уходу</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Шнурки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Стельки</a></li>
                    <li class="shoes-li"><a href="#" class="shoes-link">Бахилы</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#shoes -->