<section id="ski">
    <div class="ski-title-container">
        <h2 class="ski-title title-white title-2 title-bold title-uppercase">Лыжи и сноуборд</h2>
    </div>
    <!-- /.ski-title-container -->
    <div class="grid-container marg-top-40">
        <div class="grid-x medium-up-5 large-up-5">
            <div class="cell ski-ul-container">
                <ul class="ski-ul all-ski">
                    <li class="ski-li"><a href="#" class="ski-link ski">Лыжи и сноуборды</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Лыжи</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Лыжные ботинки</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Лыжные палки</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Сноуборды</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Сплитборды</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Сноубордические ботинки</a></li>
                </ul>
            </div>
            <div class="cell ski-ul-container">
                <ul class="ski-ul all-ski">
                    <li class="ski-li"><a href="#" class="ski-link">Шлемы, защита</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Крепления лыжные</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Крепления сноубордические</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Маски</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Чехлы, сумки</a></li>
                    <li class="ski-li"><a href="#" class="ski-link">Лавинное оборудование</a></li>
                </ul>
            </div>
        </div>
        <!-- /.grid-x medium-up-5 -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#ski -->