<section id="tourism">
    <div class="tourism-title-container">
        <h2 class="tourism-title title-white title-2 title-bold title-uppercase">Туризм и
            кемпинг</h2>
    </div>
    <!-- /.tourism-title-container -->
    <div class="grid-container marg-top-40">
        <div class="grid-x medium-up-5 large-up-5">
            <div class="cell tourism-ul-container">
                <ul class="tourism-ul all-tourism">
                    <li class="tourism-li"><a href="#" class="tourism-link tourism">Туризм</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Палатки</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Спальные мешки</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Карематы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Самонадувные коврики</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Термосы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Посуда</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Гамаки</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Костровое</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Кемпинговая мебель</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Горелки и печи</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Сублиматы</a></li>
                </ul>
            </div>
            <div class="cell tourism-ul-container">
                <ul class="tourism-ul all-tourism">
                    <li class="tourism-li"><a href="#" class="tourism-link">Подушки надувные</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Полотенца, гигиен.средства</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Ножи</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Пилы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Компасы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Карты, гайдбуки</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Шагомеры</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Солнечные батареи,
                        аккумуляторы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Дополнительные элементы</a></li>
                </ul>
            </div>
            <div class="cell tourism-ul-container">
                <ul class="tourism-ul all-tourism">
                    <li class="tourism-li"><a href="#" class="tourism-link">Экшн-камеры и часы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Часы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Экшн-камеры, аксессуары</a></li>
                </ul>
                <ul class="tourism-ul all-tourism">
                    <li class="tourism-li"><a href="#" class="tourism-link">Очки</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Спортивные</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Повседневные</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Альпинистские</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Аксессуары</a></li>
                </ul>
            </div>
            <div class="cell tourism-ul-container">
                <ul class="tourism-ul all-tourism">
                    <li class="tourism-li"><a href="#" class="tourism-link">Слэклайн</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Стропы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Наборы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Защита</a></li>
                </ul>
            </div>
            <div class="cell tourism-ul-container">
                <ul class="tourism-ul all-tourism">
                    <li class="tourism-li"><a href="#" class="tourism-link">Автобагажники</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Боксы</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Поперечины</a></li>
                    <li class="tourism-li"><a href="#" class="tourism-link">Крепления</a></li>
                </ul>
            </div>
        </div>
        <!-- /.grid-x medium-up-5 -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#tourism -->