.filter-container {
  padding: rem-calc(14 0 14 28);
  background-color: $white;
  margin-bottom: rem-calc(10);
  font-weight: bold;
  font-size: rem-calc(14);
}

.show-only-for-large {
  display: none;

  @include breakpoint(large) {
    display: block;
  }
}

.marg-top-45 {
  margin-top: rem-calc(45);
}

.results-flex {
  display: flex;
  justify-content: space-between;

  div {
    background-color: $white;
    padding: rem-calc(14 0 14 28);
    border-left: rem-calc(1) solid rgba(48, 48, 48, 0.05);
    font-size: rem-calc(14);
  }

  .all-results {
    flex-grow: 3;
  }

  .positions {
    flex-grow: 1;
  }

  .from-expensive {
    flex-grow: 1;
  }

  .view {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    align-items: center;

    &-btn {
      display: inline-block;
      width: rem-calc(17);
      height: rem-calc(13);
      cursor: pointer;
    }
  }
}