// filters right bar
.left-sidebar {
  background-color: $white;
  margin-right: rem-calc(3);
  padding: rem-calc(23 23 39 23);
  font-size: rem-calc(14);
}

//for switch
.slideTwo, .slideOne {
  width: rem-calc(40);
  height: rem-calc(16);
  background: $switch-bg;
  position: relative;
  border-radius: rem-calc(50);


  label {
    display: block;
    width: rem-calc(20);
    height: rem-calc(20);
    cursor: pointer;
    position: absolute;
    top: rem-calc(-2);
    z-index: 1;
    left: rem-calc(-6);
    background: $base-light-gray;
    border-radius: rem-calc(50);
    transition: all 0.4s ease;
  }

  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: rem-calc(10);
      &:after {
        background: red; /*activeColor*/
      }
    }
  }
}
//end for switch


.category {
  display: flex;
  justify-content: space-between;
}

.category-list {
  list-style: none;
  padding: rem-calc(23 0 22);
  border-bottom: rem-calc(1) solid rgba(151, 151, 151, 0.3);
  margin: 0;

  &-link {
    display: block;
    margin-top: rem-calc(4);
    color: rgba(26, 26, 26, 0.7);
  }
}

//colors

.colors {
  margin-top: rem-calc(26);
  padding-bottom: rem-calc(20);
  border-bottom: rem-calc(1) solid rgba(151, 151, 151, 0.3);
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem-calc(9);
  align-items: center;
}

//.colors-link {
//  margin: rem-calc(3);
//}

.color-wrap {

  input[type="checkbox"] {
    display: none;

    &:checked + label {
      //background-image: url(check.png);
      background-repeat: no-repeat;
      background-position: center;
      border: rem-calc(1) solid $base-light-gray;
      border-radius: 50%;
    }
  }

  label {
    margin: rem-calc(3);
  }
}


//size
.size {
  margin-top: rem-calc(25);
  padding-bottom: rem-calc(20);
  border-bottom: rem-calc(1) solid rgba(151, 151, 151, 0.3);

  &-container {
    margin-top: rem-calc(12);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .size-wrapper {

    input[type="checkbox"] {
      display: none;

      &:checked + label {
        background-color: $base-light-gray;
        color: $white;
      }
    }

    label {
      margin: rem-calc(3);
      display: inline-block;
      width: rem-calc(30);
      height: rem-calc(30);
      border: rem-calc(1) solid rgba(48, 48, 48, 0.3);
      text-align: center;
      line-height: rem-calc(30);
      transition: all .4s;
    }
  }
}

//price
.price-slider {
  margin-top: rem-calc(23);
  padding-bottom: rem-calc(20);
  border-bottom: rem-calc(1) solid rgba(151, 151, 151, 0.3);

  .under-slider {
    display: flex;
    justify-content: space-between;

    input {
      width: rem-calc(74);
      border: none;

      &:last-of-type {
        text-align: right;
      }
    }
  }

  .price-ok {
    padding: rem-calc(9 18);
    margin: 0 auto;
    display: block;
  }
}

//brand
.brand {
  margin-top: rem-calc(24);
  padding-bottom: rem-calc(20);
  border-bottom: rem-calc(1) solid rgba(151, 151, 151, 0.3);

  &-container {
    margin-top: rem-calc(16);

    input[type="checkbox"] {
      display: none;
      
      &:checked + label::before {
        background-image: url(../img/filter_part/selected.svg);
        background-repeat: no-repeat;
      }
    }

    & label {
      color: $base-light-gray;
      position: relative;
      margin: 0;
      padding-left: rem-calc(25);

      &::before {
        content: "";
        background-image: url(../img/filter_part/disabled.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: rem-calc(16);
        height: rem-calc(16);
        position: absolute;
        left: 0;
        top: 3px;
      }
    }
  }
}

//material
.material {
  margin-top: rem-calc(24);
  padding-bottom: rem-calc(20);
  border-bottom: rem-calc(1) solid rgba(151, 151, 151, 0.3);

  &-container {
    margin-top: rem-calc(16);

    input[type="checkbox"] {
      display: none;

      &:checked + label::before {
        background-image: url(../img/filter_part/selected.svg);
        background-repeat: no-repeat;
      }
    }

    & label {
      color: $base-light-gray;
      position: relative;
      margin: 0;
      padding-left: rem-calc(25);

      &::before {
        content: "";
        background-image: url(../img/filter_part/disabled.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: rem-calc(16);
        height: rem-calc(16);
        position: absolute;
        left: 0;
        top: 3px;
      }
    }
  }
}

//promotional
.promotional-items {
  margin-top: rem-calc(24);
  padding-bottom: rem-calc(20);
  border-bottom: rem-calc(1) solid rgba(151, 151, 151, 0.3);

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//liters
.liters-slider {
  margin-top: rem-calc(23);
  padding-bottom: rem-calc(20);
  border-bottom: rem-calc(1) solid rgba(151, 151, 151, 0.3);

  .under-liters {
    display: flex;
    justify-content: space-between;

    input {
      width: rem-calc(74);
      border: none;

      &:last-of-type {
        text-align: right;
      }
    }
  }

  .liters-ok {
    padding: rem-calc(9 18);
    margin: 0 auto;
    display: block;
  }
}