#header-mobile {
  background-color: $base-black;
  height: rem-calc(50);
  display: flex;
  justify-content: center;
  padding: rem-calc(0 16);
  align-items: center;
  position: relative;

  @include breakpoint(large) {
    display: none;
  }

  .header-mobile {

    &-show-search {
      margin-left: rem-calc(15);
    }

    &-left-controls {
      position: absolute;
      left: rem-calc(16);
    }

    &-right-controls {
      position: absolute;
      right: rem-calc(16);
    }
  }
}