#header-light {
  background-color: $white;
  box-shadow: rem-calc(0 1 10 0) rgba(0, 0, 0, 0.12);
  border-bottom: rem-calc(1) solid rgba(255, 255, 255, 0.3);
  display: none;

  @include breakpoint(large) {
    display: block;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .header-logo-link {
    line-height: rem-calc(79);
  }

  .header-nav {
    list-style: none;
    margin: 0;
    display: flex;

    &-li {
      //float: left;
    }

    &-link {
      display: block;
      text-transform: uppercase;
      color: $base-light-gray;
      margin: 0 rem-calc(40) 0 0;
      font-size: rem-calc(12);
      letter-spacing: rem-calc(0.2);
      line-height: rem-calc(79);
      font-weight: bold;
    }

    .directory {
      background-image: url("../img/home-header-dark/triangle.svg");
      background-repeat: no-repeat;
      background-position: 100% 50%;
      padding-right: rem-calc(7);
      margin-right: rem-calc(33);
    }
  }

  .header-phones {

    &-number {
      font-size: rem-calc(10);
      color: $base-light-gray;
      padding: rem-calc(5 7 5 15);
      background-image: url("../img/home-header-dark/triangle.svg"), url(../img/home-header-dark/phone.svg);
      background-repeat: no-repeat;
      background-position: 100% 50%, 0 50%;
      line-height: rem-calc(79);
    }

    &-callback {
      font-size: rem-calc(10);
      margin-left: rem-calc(5);
      color: $base-light-gray;
    }
  }

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
      margin: rem-calc(0 8);
      text-align: center;
      display: block;
      & img {

      }
    }

    &-link {
      display: block;
      font-size: rem-calc(10);
      color: $base-light-gray;
      position: relative;
    }

    &-img {
      display: block;
      margin: 0 auto;
    }

    &-heart::before {
      content: '';
      position: absolute;
      width: rem-calc(5);
      height: rem-calc(5);
      background-color: $noti-round;
      top: 0;
      right: rem-calc(1);
      border-radius: 50%;
    }

    &-basket::before {
      content: '';
      position: absolute;
      width: rem-calc(5);
      height: rem-calc(5);
      background-color: $noti-round;
      top: rem-calc(1);
      right: rem-calc(6);
      border-radius: 50%;
    }
  }

}

#openReveal {
  position: relative;
  padding: 0;
  //top: rem-calc(86)!important;
  //overflow-y: visible !important;

  &.reveal {
    border: none;
    top: rem-calc(86) !important;
    overflow-y: visible;
  }

  .ul-container {
    width: rem-calc(200);
  }

  .categories {

    &-ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-li {
      &:hover .li-container {
        display: flex;
      }
    }

    &-link {
      padding: rem-calc(12 0 14 20);
      display: block;
      line-height: rem-calc(14);
      border: rem-calc(1) solid rgba(151, 151, 151, 0.05);
      transition: all .3s;

      &:hover {
        color: $base-blue;
        background-color: rgba(216, 216, 216, 0.2);
      }

    }
  }

  .li-container {
    position: absolute;
    right: 0;
    top: 0;
    max-width: rem-calc(840);
    width: 100%;
    height: 100%;
    transition: all .3s;
    //border: 1px solid red;
    //display: flex;
    justify-content: space-between;
    display: none;

    &-left-side {
      padding: rem-calc(13 0 0 16);
    }
  }

  .left-side-flex-li {
    display: flex;

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-container {
      padding-left: rem-calc(14);
      padding-right: rem-calc(30);
      border-left: rem-calc(1) solid rgba(178, 178, 178, 0.2);

      & li {
        line-height: 1.2;
      }
    }
  }

  .title-link {
    font-size: rem-calc(14);
    font-weight: bold;
    padding-right: rem-calc(7);
    background-image: url(../img/home/triangle-2.svg);
    background-repeat: no-repeat;
    background-position: 100% 60%;
  }

  .title-mg-top {
    display: inline-block;
    margin-top: rem-calc(26);
  }

  .cycle-link, .components-link, .accessories-link {
    font-size: 14px;
    line-height: rem-calc(14);
    color: rgba(48, 48, 48, 0.7);
    letter-spacing: rem-calc(0.2);
  }

  .left-side-brands {
    margin-top: rem-calc(26);
    .brands {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    .all-brands {
      font-size: rem-calc(14);
      color: $base-blue;
      background-image: url(../img/home/triangle-2-copy-6.svg);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      padding-right: rem-calc(8);
    }
  }

  .li-container-right-side {
    max-width: rem-calc(226);
    width: 100%;
    //background-image: url(../img/home/mask@2x.png);
    background-image: linear-gradient(to right, $white 10%, $close-to-white 10%);
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    background-position: center;
    position: relative;
  }

  .sale {
    padding: rem-calc(4 11);
    text-transform: uppercase;
    font-size: rem-calc(14);
    letter-spacing: rem-calc(0.2);
    margin-top: rem-calc(60);
    background-color: $black;
  }

  .right-side-title {
    font-size: rem-calc(26);
    line-height: rem-calc(36);
    letter-spacing: rem-calc(0.4);
    font-weight: bold;
  }

  .know-more {
    text-transform: uppercase;
    color: $base-blue;
    letter-spacing: rem-calc(0.2);
    padding-right: rem-calc(8);
    background-image: url(../img/home/triangle-2-copy-6.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    font-size: rem-calc(14);
  }

  .bike-bg {
    position: absolute;
    max-width: 150% !important;
    bottom: rem-calc(-32);
    right: rem-calc(-58);
  }

  //TOURISM
  .tourism {

    .li-container-right-side {
      background-image: url(../img/home/bitmap@1x.png);
      background-repeat: no-repeat;
      background-size: cover;

    }

    .action {
      padding: rem-calc(4 33);
      text-transform: uppercase;
      font-size: rem-calc(14);
      letter-spacing: rem-calc(0.2);
      margin-top: rem-calc(20);
      background-color: $black;
    }

  }

  //CLOTHES
  .clothes {
    .li-container-right-side {
      background-color: $close-to-white;
      background-image: none;

    }

    .sale-1 {
      padding: rem-calc(3 10);
      text-transform: uppercase;
      font-size: rem-calc(14);
      letter-spacing: rem-calc(0.2);
      margin-top: rem-calc(20);
      background-color: $black;
    }

    .right-side-title {
      line-height: rem-calc(31);
    }
  }

  //SHOES
  .shoes {
    .li-container-right-side {
      background-image: url(../img/home/shoes.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .action {
      background-color: $base-pink;
      text-transform: uppercase;
      font-size: rem-calc(14);
      letter-spacing: rem-calc(0.2);
      margin-top: rem-calc(20);
      padding: rem-calc(4 33);
    }

    .right-side-title {
      color: $white;
      margin-bottom: rem-calc(22);
    }

    .percents {
      color: $base-pink;
    }
  }

  //BAGS
  .bags {
    .li-container-right-side {
      background-image: url(../img/home/bags.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .action {
      padding: rem-calc(4 33);
      background-color: $orange;
      margin: rem-calc(22 0 20);
      text-transform: uppercase;
    }

    .right-side-title {
      color: $white;
    }

    .percents {
      color: $orange;
    }

    .know-more {
      color: $white;
    }
  }

  //SKI
  .ski {
    .li-container-right-side {
      background-image: url(../img/home/pick-snowbord.png);
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position-y: bottom;
    }

    .right-side-title {
      background-color: $black;
      color: $white;
      margin: rem-calc(20 5 25);
    }

  }

  //EQUIPMENT
  .equipment {
    .li-container-right-side {
      background-image: url(../img/home/group.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      text-align: left;
    }

    .right-side-title {
      color: $base-pink;
      margin: rem-calc(160 12 10);

    }

    .know-more {
      margin-left: 12px;
    }
  }

}