#header {
  position: fixed;
  width: 100%;

  .header-container {
    @extend .grid-container;

    .header-nav-li {
      outline: none;

      a {
        outline: none;
        font-weight: bold;
      }
    }
  }
}

#open-catalogue-menu {
  position: relative;
  padding: 0;
  //top: rem-calc(86)!important;
  //overflow-y: visible !important;

  &.reveal {
    position: relative;
    border: none;
    top: rem-calc(86) !important;
    overflow-y: visible;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: rem-calc(-19);
      left: rem-calc(90);
      border: 10px solid transparent;
      border-bottom: rem-calc(10) solid $white;
    }
  }

  .ul-container {
    width: rem-calc(200);
  }

  .categories {

    &-ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-li {

      &:hover .li-container {
        display: flex;
      }

      &:hover .categories-link {
        color: $base-blue;
        background-color: rgba(216, 216, 216, 0.2);
      }

    }

    &-link {
      padding: rem-calc(12 0 14 20);
      display: block;
      line-height: rem-calc(14);
      border: rem-calc(1) solid rgba(151, 151, 151, 0.05);
      transition: all .3s;

      &:hover {
        color: $base-blue;
        background-color: rgba(216, 216, 216, 0.2);
      }

    }
  }

  .li-container {
    position: absolute;
    right: 0;
    top: 0;
    max-width: rem-calc(840);
    width: 100%;
    height: 100%;
    transition: all .3s;
    //border: 1px solid red;
    //display: flex;
    justify-content: space-between;
    display: none;

    &-left-side {
      padding: rem-calc(13 0 0 16);
    }
  }

  .left-side-flex-li {
    display: flex;

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-container {
      padding-left: rem-calc(14);
      padding-right: rem-calc(30);
      border-left: rem-calc(1) solid rgba(178, 178, 178, 0.2);

      & li {
        line-height: 1.2;
      }

      & a:hover {
        text-decoration: underline;
      }
    }
  }

  .title-link {
    font-size: rem-calc(14);
    font-weight: bold;
    padding-right: rem-calc(7);
    background-image: url(../img/home/triangle-2.svg);
    background-repeat: no-repeat;
    background-position: 100% 60%;
  }

  .title-mg-top {
    display: inline-block;
    margin-top: rem-calc(26);
  }

  .cycle-link, .components-link, .accessories-link {
    font-size: 14px;
    line-height: rem-calc(14);
    color: rgba(48, 48, 48, 0.7);
    letter-spacing: rem-calc(0.2);
  }

  .left-side-brands {
    margin-top: rem-calc(26);
    .brands {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    .all-brands {
      font-size: rem-calc(14);
      color: $base-blue;
      background-image: url(../img/home/triangle-2-copy-6.svg);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      padding-right: rem-calc(8);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .li-container-right-side {
    max-width: rem-calc(226);
    width: 100%;
    //background-image: url(../img/home/mask@2x.png);
    background-image: linear-gradient(to right, $white 10%, $close-to-white 10%);
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    background-position: center;
    position: relative;
  }

  .sale {
    padding: rem-calc(4 11);
    text-transform: uppercase;
    font-size: rem-calc(14);
    letter-spacing: rem-calc(0.2);
    margin-top: rem-calc(60);
    background-color: $black;
  }

  .right-side-title {
    font-size: rem-calc(26);
    line-height: rem-calc(36);
    letter-spacing: rem-calc(0.4);
    font-weight: bold;
  }

  .know-more {
    text-transform: uppercase;
    color: $base-blue;
    letter-spacing: rem-calc(0.2);
    padding-right: rem-calc(8);
    background-image: url(../img/home/triangle-2-copy-6.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    font-size: rem-calc(14);

    &:hover {
      text-decoration: underline;
    }
  }

  .bike-bg {
    position: absolute;
    max-width: 150% !important;
    bottom: rem-calc(-32);
    right: rem-calc(-58);
  }

  //TOURISM
  .tourism {

    .li-container-right-side {
      background-image: url(../img/home/bitmap@1x.png);
      background-repeat: no-repeat;
      background-size: cover;

    }

    .action {
      padding: rem-calc(4 33);
      text-transform: uppercase;
      font-size: rem-calc(14);
      letter-spacing: rem-calc(0.2);
      margin-top: rem-calc(20);
      background-color: $black;
    }

  }

  //CLOTHES
  .clothes {
    .li-container-right-side {
      background-color: $close-to-white;
      background-image: none;

    }

    .sale-1 {
      padding: rem-calc(3 10);
      text-transform: uppercase;
      font-size: rem-calc(14);
      letter-spacing: rem-calc(0.2);
      margin-top: rem-calc(20);
      background-color: $black;
    }

    .right-side-title {
      line-height: rem-calc(31);
    }
  }

  //SHOES
  .shoes {
    .li-container-right-side {
      background-image: url(../img/home/shoes.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .action {
      background-color: $base-pink;
      text-transform: uppercase;
      font-size: rem-calc(14);
      letter-spacing: rem-calc(0.2);
      margin-top: rem-calc(20);
      padding: rem-calc(4 33);
    }

    .right-side-title {
      color: $white;
      margin-bottom: rem-calc(22);
    }

    .percents {
      color: $base-pink;
    }
  }

  //BAGS
  .bags {
    .li-container-right-side {
      background-image: url(../img/home/bags.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .action {
      padding: rem-calc(4 33);
      background-color: $orange;
      margin: rem-calc(22 0 20);
      text-transform: uppercase;
    }

    .right-side-title {
      color: $white;
    }

    .percents {
      color: $orange;
    }

    .know-more {
      color: $white;
    }
  }

  //SKI
  .ski {
    .li-container-right-side {
      background-image: url(../img/home/pick-snowbord.png);
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position-y: bottom;
    }

    .right-side-title {
      background-color: $black;
      color: $white;
      margin: rem-calc(20 5 25);
    }

  }

  //EQUIPMENT
  .equipment {
    .li-container-right-side {
      background-image: url(../img/home/group.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      text-align: left;
    }

    .right-side-title {
      color: $base-pink;
      margin: rem-calc(160 12 10);

    }

    .know-more {
      margin-left: 12px;
    }
  }

}