#header-dark {
  display: none;
  justify-content: space-between;
  border-bottom: rem-calc(1) solid rgba(255, 255, 255, 0.3);

  @include breakpoint(large) {
    display: flex;
  }

  .header-logo-link {
    line-height: rem-calc(79);
  }

  .header-nav {
    list-style: none;
    margin: 0;

    &-li {
      float: left;
    }

    &-link {
      display: block;
      text-transform: uppercase;
      color: #fff;
      margin: 0 rem-calc(40) 0 0;
      font-size: rem-calc(12);
      letter-spacing: rem-calc(0.2);
      line-height: rem-calc(79);
    }
    
    .directory {
      background-image: url("../img/home/triangle.png");
      background-repeat: no-repeat;
      background-position: 100% 50%;
      padding-right: rem-calc(7);
      margin-right: rem-calc(33);
    }
  }

  .header-phones {

    &-number {
      font-size: rem-calc(10);
      color: #fff;
      padding: rem-calc(5 7 5 15);
      background-image: url("../img/home/triangle.png"), url(../img/home/phone.svg);
      background-repeat: no-repeat;
      background-position: 100% 50%, 0 50%;
      line-height: rem-calc(79);
    }

    &-callback {
      font-size: rem-calc(10);
      margin-left: rem-calc(5);
      color: #fff;
    }
  }

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
      margin: rem-calc(0 8);
      text-align: center;
      display: block;
      & img {

      }
    }

    &-link {
      display: block;
      font-size: rem-calc(10);
      color: #fff;
      position: relative;
    }

    &-img {
      display: block;
      margin:0 auto;
    }

    &-heart::before {
      content: '';
      position: absolute;
      width: rem-calc(5);
      height: rem-calc(5);
      background-color: $noti-round;
      top: 0;
      right: rem-calc(1);
      border-radius: 50%;
    }

    &-basket::before {
      content: '';
      position: absolute;
      width: rem-calc(5);
      height: rem-calc(5);
      background-color: $noti-round;
      top: rem-calc(1);
      right: rem-calc(6);
      border-radius: 50%;
    }
  }





}
