#search-container {
  background-color: $white;
  border: 1px solid red;
  margin: 100px auto 0;
  max-width: rem-calc(600);

  .request-link {
    text-transform: uppercase;
    line-height: rem-calc(46);
    padding-left: rem-calc(30);
    font-size: rem-calc(14);
    color: $base-blue;
    transition: all .3s;

    &:hover {
      text-decoration: underline;
    }
  }

  .search-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: rem-calc(15 0);
    border-top: rem-calc(1) solid rgba(178, 178, 178, 0.2);
    transition: all .5s;
    font-size: rem-calc(14);
    line-height: rem-calc(18);

    &:hover {
      background-color: rgba(178, 178, 178, 0.1);
    }

    .product-img:first-of-type {
      //height: rem-calc(58);
    }
  }

  .product-container {

    & span {
      display: block;
      margin-top: rem-calc(6);
    }

    & span:first-of-type {
      margin-top: 0;
  }

    .product-name {
      color: $opacity-grey;
    }

    .product-number {
      color: $opacity-grey;
    }

    .product-descr {
      color: $base-black;
    }
  }

  .price {
    color: $opacity-grey;
  }

  .all-results {
    background-color: $base-black;

    .all-results-link {
      color: $white;
      font-size: rem-calc(14);
      line-height: rem-calc(40);
      text-transform: uppercase;
      display: block;
      background-image: url(../img/search/white.svg);
      background-position: 70% 50%;
      background-repeat: no-repeat;
      text-align: center;
    }
  }
}