#about-shop-page {
  padding-bottom: rem-calc(170);

  .shop-page {

    &-input-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: rem-calc(20);
    }

    &-search-field {
      display: none;

      @include breakpoint(large) {
        display: block;
        width: rem-calc(314);
        height: rem-calc(44);
        padding: rem-calc(15 40 15 20);
        font-size: rem-calc(14);
        color: $opacity-grey;
        background-image: url(../img/search_page/black-search.png);
        background-repeat: no-repeat;
        background-position: 94% 50%;
        border: none;
        transition: all .4s;
        margin-bottom: 0;
      }

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }

  .shop-page {

    &-img-container img {

      &:first-of-type {
        display: none;

        @include breakpoint(large) {
          display: block;
        }
      }

      &:last-of-type {
        display: block;
        margin: 0 auto;

        @include breakpoint(large) {
          display: none;
        }
      }
    }

    &-container {
      margin-top: rem-calc(34);

      @include breakpoint(large) {
        box-shadow: rem-calc(0 5 15 0) rgba(0, 0, 0, 0.15);
      }
    }

    &-info-container {
      margin-top: rem-calc(138);

      p:first-of-type {
        margin-bottom: 0;
        line-height: rem-calc(22);
      }

      p:not(:first-of-type) {
        font-size: rem-calc(12);
        color: rgba(26, 26, 26, 0.3);
        margin-top: rem-calc(70);
        margin-bottom: 0;
      }
    }

    &-years-container {
      margin-top: rem-calc(138);

      .black-point {
        display: inline-block;
        height: rem-calc(14);
        width: rem-calc(14);
        background-color: $opacity-grey;
        border-radius: 50%;
        color: $opacity-grey;
      }

      .year {
        margin-left: rem-calc(13);
        font-size: rem-calc(14);
      }
    }

    &-years-point:first-child {
      .black-point {
        width: rem-calc(18);
        height: rem-calc(18);
        background-color: $black;
        color: $black;
      }

      .year {
        margin-left: rem-calc(15);
        font-size: rem-calc(16);
      }
    }

    &-years-point {
      display: flex;
      height: rem-calc(90);
      align-items: center;
      justify-content: center;
      position: relative;
  }

    &-years-point:not(:first-of-type) {
      margin-top: rem-calc(45);

      &::before {
        content: "";
        position: absolute;
        height: rem-calc(114);
        width: rem-calc(1);
        background-color: $opacity-grey;
        left: 39%;
        top: -88%;
      }
    }


  }



}