#about-shop {
  padding: rem-calc(50 0);

  .about-shop {

    &-title {
      line-height: rem-calc(60);
      text-transform: uppercase;
      font-weight: bold;
    }

    &-text {
      font-size: rem-calc(14);
      color: rgba(48, 48, 48, 0.61);
    }
  }
}