#actions {

  .actions-title {
    text-transform: uppercase;
    font-weight: bold;
    line-height: rem-calc(50);
    letter-spacing: rem-calc(0.5);
    text-align: center;
    color: $base-light-gray;
  }

  .actions-container {
    display: flex;
    flex-direction: column;
    height: rem-calc(772);
    flex-wrap: wrap;

    @include breakpoint(small) {
      height: auto;
    }

    @include breakpoint(large) {
      height: rem-calc(772);
    }
  }

  .actions-left-side {
    //max-width: rem-calc(566);
    max-width: 45%;
    width: 100%;
    background-image: url("../img/actions/bitmap.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;

    @include breakpoint(small) {
      max-width: 100%;
      padding: rem-calc(0 10);
      background-image: url(../img/actions/bg-small.png);
    }
    
    @include breakpoint(medium) {
      background-image: url(../img/actions/bg-medium.png);
    }

    @include breakpoint(large) {
      max-width: 45%;
      padding: 0;
      background-image: url("../img/actions/bitmap.png");
    }

  }

  .offer {
    text-transform: uppercase;
    font-size: rem-calc(14);
    color: $black;
    font-weight: bold;
    display: block;
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(6);

    @include breakpoint(small) {
      display: none;
    }

    @include breakpoint(medium) {
      display: block;
    }

    @include breakpoint(large) {
      display: block;
    }
  }

  .days {
    padding: rem-calc(10 18);
    font-size: rem-calc(10);
    text-transform: uppercase;
    line-height: rem-calc(14);
    margin-bottom: 0;
    
    @include breakpoint(small) {
      display: none;
    }

    @include breakpoint(medium) {
      display: inline-block;
    }
    
    @include breakpoint(large) {
      display: inline-block;
    }
  }

  .huge-percent {
    display: block;
    font-size: rem-calc(150);
    color: rgba(255, 108, 107, 0.5);
    line-height: rem-calc(70);
    letter-spacing: rem-calc(1.4);
    margin-top: rem-calc(160);

    @include breakpoint(small) {
      display: none;
    }

    @include breakpoint(medium) {
      display: block;
      margin-top: rem-calc(110);
    }

    @include breakpoint(large) {
      display: block;
      margin-top: rem-calc(160);
    }
  }

  .left-side-title {
    text-transform: uppercase;
    letter-spacing: rem-calc(2.5);
    font-weight: bold;
    color: $white;
    margin-top: rem-calc(221);

    @include breakpoint(small) {
      margin-top: rem-calc(115);
    }

    @include breakpoint(medium) {
      margin-top: rem-calc(105);
    }

    @include breakpoint(large) {
      margin-top: rem-calc(221);
    }
  }

  .left-side-descr {
    color: $white;
    line-height: rem-calc(20);
    margin-bottom: rem-calc(20);

    @include breakpoint(small) {
      display: none;
    }

    @include breakpoint(medium) {
      display: block;
    }

    @include breakpoint(large) {
      display: block;
    }
  }


  .actions-right-side {
    //max-width: rem-calc(800);
    max-width: 55%;
    width: 100%;

  }

  .top-container {
    background-image: url("../img/actions/bitmap-1.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: rem-calc(1);
    text-align: center;
    width: 55%;

    @include breakpoint(small){
      width: 100%;
      padding: rem-calc(0 10);
    }

    //@include breakpoint(medium) {
    //  max-width: 100%;
    //}

    @include breakpoint(large) {
      max-width: 55%;
      padding-top: rem-calc(1);
    }
  }

  .top-container-title {
    line-height: rem-calc(36);
    letter-spacing: rem-calc(3);
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    margin-top: rem-calc(68);
  }

  .top-container-descr {
    color: $white;
    line-height: rem-calc(20);
    margin-bottom: rem-calc(20);
  }

  .watch-collection {
    margin-bottom: rem-calc(26);
  }

  
  .bottom-container {
    background-image: url("../img/actions/bitmap-2.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: rem-calc(40 0 0 28);
    width: 55%;

    @include breakpoint(small) {
      width: 100%;
      padding: rem-calc(40 10 10 10);
    }

    @include breakpoint(large) {
      max-width: 55%;
      padding: rem-calc(40 0 0 28);
    }
  }

  .timer-content {
    color: $white;
    text-align: left;
  }

  .timer {
    display: flex;
    justify-content: space-between;
    width: 57%;

    @include breakpoint(small) {
      width: 100%;
      justify-content: center;
    }

    @include breakpoint(large) {
      width: 57%;
      justify-content: space-between;
    }
  }

  .time {
    font-size: rem-calc(36);
    line-height: rem-calc(80);
    letter-spacing: rem-calc(0.3);
    display: block;
    width: rem-calc(80);
    height: rem-calc(80);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: $white;
  }

  .text {
    color: $white;
    display: block;
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    text-align: center;
    margin-top: rem-calc(2);
  }

  .bottom-container-title {
    font-size: rem-calc(30);
    text-transform: uppercase;
    color: $white;
    letter-spacing: rem-calc(2.5);
    font-weight: bold;
    margin-top: rem-calc(40);
  }

  .bottom-container-descr {
    color: $white;
    line-height: rem-calc(20);
    margin-bottom: rem-calc(20);
  }

}