#article {
  background-color: $white;
  .article {

    &-input-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: rem-calc(20);
      margin-bottom:  rem-calc(30);
      align-items: center;
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }


    &-back-link {
      display: inline-block;
      font-size: rem-calc(14);
      color: $base-black;

      &:hover {
        text-decoration: underline;
      }
    }
    
    &-top {
      background-image: url(../img/article/sunset.jpg);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      padding: rem-calc(200 0 46);

      &-view {
        display: inline-block;
        padding: rem-calc(10 50);
        font-size: rem-calc(14);
        text-transform: uppercase;
        color: $white;
        background-color: $base-light-gray;

        &:hover {
          text-decoration: underline;
        }
      }

      &-title {
        color: $white;
        font-weight: bold;
        letter-spacing: rem-calc(0.5);
        line-height: rem-calc(70);
        margin-top: rem-calc(10);
        max-width: rem-calc(900);
      }

      &-date {
        color: $white;
        font-size: rem-calc(12);
        text-transform: uppercase;
        padding-left: rem-calc(15);
        background-image: url(../img/article/ic-date.svg);
        background-repeat: no-repeat;
        background-position: rem-calc(0 2);
        letter-spacing: rem-calc(0.2);
      
      }
    }

  }
}