#brands-page {
  padding-bottom: rem-calc(50);
  background-color: $white;

  .brands-page {

    &-input-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: rem-calc(20);
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }

  .brands-wrapper {
    margin-top: rem-calc(54);
    background-color: rgba(48, 48, 48, 0.02);
    box-shadow: rem-calc(0 2 15 0) rgba(0, 0, 0, 0.15);

    .brands-container {
      display: flex;
      justify-content: space-between;

      &:not(:first-of-type) {
        margin-top: rem-calc(10);
      }
    }

    .brands-link {
      display: block;
      width: rem-calc(270);
      height: rem-calc(270);
      background-color: $white;
      text-align: center;
      line-height: rem-calc(270);
      transition: all .4s;

      &:hover {
        transform: scale(1.05);
        box-shadow: rem-calc(0 2 20 0) rgba(48, 48, 48, 0.2)
      }
    }
  }


}