#brands {
  padding: rem-calc(90 0 60);

  .brands-title {
    line-height: rem-calc(50);
    letter-spacing: rem-calc(0.5);
    font-weight: bold;
    color: $base-light-gray;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem-calc(25);
  }

  .brands-container {
    //display: flex;
    align-items: center;
    //justify-content: space-around;

    &:last-of-type {
      margin-top: rem-calc(10);
    }
  }

  .brands-link {
    display: block;
    text-align: center;

    @include breakpoint(small) {
      margin-top: rem-calc(20);
    }

    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  .all-brands {
    display: block;
    width: rem-calc(168);
    height: rem-calc(44);
    font-size: rem-calc(12);
    text-transform: uppercase;
    background-image: url(../img/brands-of-shop/black.svg);
    background-repeat: no-repeat;
    background-position: 75% 50%;
    padding-right: rem-calc(65);
    margin: rem-calc(24 auto 0);
  }

}