body {
  background-color: #fafafa;
}

#snowboard {
  display: flex;
  min-height: rem-calc(130);
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/category-list/bg-pic.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  @include breakpoint(medium) {
    min-height: rem-calc(300);
  }

  @include breakpoint(large) {
    background-image: url(../img/category-list/group.png);
    padding-top: rem-calc(100);
    padding-bottom: rem-calc(87);
    display: block;
    height: auto;
  }

  .snowboard-container {
    max-width: rem-calc(600);
    margin: 0 auto;
  }

  .snowboard {

    &-hr {
      display: none;
      height: rem-calc(3);
      width: rem-calc(50);
      background-color: $white;
      margin: rem-calc(66 auto 0);

      @include breakpoint(large) {
        display: block;
      }
    }

    &-title {
      color: $white;
      text-transform: uppercase;
      text-align: center;
      margin-top: rem-calc(10);
      font-weight: bold;
    }
  }

  .home-search {
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rem-calc(0 2 20 0) rgba(0, 0, 0, 0.5);
    border: none;
    color: $white;
    background-image: url(../img/home/search.svg);
    background-repeat: no-repeat;
    background-position: 550px 11px;
    padding: rem-calc(0 60 0 30);
    transition: all .4s;

    @include breakpoint(large) {
      display: block;
    }

    &:hover {
      background-color: $white;
      color: $black;
    }

    &:focus {
      background-color: $white;
      color: $black;
    }
  }
}

#snow-catalog {

  .nav-container {
    margin-top: rem-calc(30);
  }

}