#checkout {
  background-color: $white;

  & a:hover {
    text-decoration: underline;
  }

  .back-to-store {
    font-size:  rem-calc(14);
    padding-left: rem-calc(18);
    background-image: url(../img/checkout/triangle-4.svg);
    background-repeat: no-repeat;
    background-position: 0% 48%;
  }

  .checkout-title {
    text-transform: uppercase;
    font-size: rem-calc(30);
    line-height: rem-calc(50);
    letter-spacing: rem-calc(0.5);
    text-align: center;
    font-weight: bold;
    margin-top: rem-calc(40);
    margin-bottom: 0;
  }
}
