#comparison {
  background-color: $white;
  .comparison {

    &-input-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: rem-calc(20);
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }

    &-table {
      margin-top: rem-calc(34);
      box-shadow: rem-calc(0 2 20 0) rgba(0, 0, 0, 0.24);
      font-size: rem-calc(14);
      line-height: rem-calc(14);

      thead {
        background-color: $base-light-gray;
        color: $white;
        text-transform: uppercase;

        th {
          text-align: center;
          padding: rem-calc(18 0);
          position: relative;

          &:first-of-type {
            background-color: $white;
          }

          .cell-close {
            position: absolute;
            width: rem-calc(15);
            height: rem-calc(15);
            background-image: url(../img/comparison/white.svg);
            background-repeat: no-repeat;
            background-position: center;
            right: rem-calc(7);
            top: rem-calc(17);
            cursor: pointer;
            transition: all .4s;
            transition-delay: .2s;

            &:hover {
              transform: rotate(360deg);
            }
          }
        }
      }

      //product-row
      .product-row {

        td {
          padding: rem-calc(20);

          &:first-of-type {
            padding: rem-calc(20 68);

            .prod-count-label {
              display: block;
              margin-top: rem-calc(16);
            }

            .prod-count {
              font-size:rem-calc(50);
              line-height: rem-calc(70);
              font-weight: bold;
              display: block;
              text-align: center;
            }

            .with-arrows {
              display: flex;
              justify-content: space-around;
              margin-top: rem-calc(10);

              a:last-of-type {
                transform: rotate(180deg);
              }
            }
          }

          &:not(:first-of-type) {
            border: rem-calc(1) solid rgba(48, 48, 48, 0.05);
          }


          & > img {
            margin: rem-calc(24 auto 0);
            display: block;
          }
        }

        span {
          display: block;
          text-align: center;
        }

        .prod-name {
          font-weight: bold;
        }

        .prod-price {
          margin-top: rem-calc(14);
        }

        .reviews-count {
          margin-top: rem-calc(24);
        }

        .stars-img-container {
          text-align: center;
          margin-top: rem-calc(10);
        }
      }

      //descr-row
      .descr-row {

        td {
          text-align: center;
          border-right: rem-calc(1) solid rgba(48, 48, 48, 0.1);
          padding: rem-calc(0 20);
          color: rgba(26, 26, 26, 0.7);

          &:first-of-type {
            font-weight: bold;
            color: $base-black;
          }

          .td-content {
            padding: rem-calc(20);
            border-bottom: rem-calc(1) solid rgba(48, 48, 48, 0.1);
          }
        }

        .have-border {
          border-top: rem-calc(1) solid rgba(48, 48, 48, 0.1);
        }

        &-last {
          vertical-align: top;

          td {
            padding-top: rem-calc(20);
            padding-bottom: rem-calc(30);
          }
        }
      }

      .bottom-container {
        text-align: left;
        margin-bottom: rem-calc(40);

        .label-color , .label-size {
          color: $base-black;
          padding: 0;
          border-bottom: none;
        }

        select {
          height: rem-calc(30);
          color: $greyish;
          padding: rem-calc(7 20 7 10);
          font-size: rem-calc(16);
          line-height: rem-calc(16);
          margin-top: rem-calc(6);

          &:last-of-type {
            text-transform: uppercase;
          }
        }

        &-btn {
          display: block;
          text-transform: uppercase;
          height: rem-calc(50);
          width: rem-calc(150);
          padding-left: rem-calc(50);
          background-image: url(../img/comparison/white-bag.svg);
          background-repeat: no-repeat;
          background-position: 25% 50%;
          margin-bottom: 0;
          margin-top: rem-calc(30);
        }
      }

    }
  }
}