#contacts-page {
  background-color: $white;

  .contacts-grid {
    margin-top: rem-calc(20);

    @include breakpoint(medium) {
      box-shadow: rem-calc(0 5 15 0) rgba(0, 0, 0, 0.15);
    }

    @include breakpoint(large) {
      margin-top: rem-calc(35);
    }
  }

  .contacts-page {

    &-input-wrapper {
      display: none;
      justify-content: flex-end;
      margin-top: rem-calc(20);

      @include breakpoint(large) {
        display: flex;
      }
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }



    //content
    &-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: auto;
      margin-bottom: rem-calc(20);

      @include breakpoint(medium) {
        //margin: rem-calc(135 auto);
        flex-direction: row;
        max-width: 425px;
        margin: rem-calc(88 auto);
      }
    }

    &-content-wrapper {
      display: flex;
      flex-basis: 50%;
      text-align: center;
      padding: rem-calc(15 20);
      align-items: center;

      @include breakpoint(medium) {
        display: block;
        padding: rem-calc(10 40 30 40);
      }

      &:nth-child(2n) {

        @include breakpoint(medium) {
          padding-right: rem-calc(5);
        }
      }

      &:nth-child(-n+2) {

        @include breakpoint(medium) {
          border-bottom: rem-calc(1) solid rgba(48, 48, 48, 0.7);
        }
      }

      &:nth-child(odd) {

        @include breakpoint(medium) {
          border-right: rem-calc(1) solid rgba(48, 48, 48, 0.7);
        }
      }

      &:nth-child(3), &:nth-child(4) {

        @include breakpoint(medium) {
          padding-top: rem-calc(35);
        }
      }

      img {
        margin-right: rem-calc(20);

        @include breakpoint(medium) {
          margin-right: 0;
        }
      }

      span {
        display: block;
        color: #1a1a1a;
        letter-spacing: rem-calc(0.3);
        line-height: rem-calc(22);
      }

      &-1 {
        order:1;
      }

      &-2 {
        order: 4;
        text-align: right;

        @include breakpoint(medium) {
          order: 2;
          text-align: center;
        }

        & > img {
          order: 2;
          margin-right: 0;
          margin-left: rem-calc(20);

          @include breakpoint(medium) {
            margin-left: 0;
          }
        }

        & > div {
          text-align: right;

          @include breakpoint(medium) {
            text-align: center;
          }
        }
      }

      &-3 {
        order: 3;
      }

      &-4 {
        order: 2;
        text-align: right;

        @include breakpoint(medium) {
          order: 4;
          text-align: center;
        }

        & > img {
          order: 2;
          margin-right: 0;
          margin-left: rem-calc(20);

          @include breakpoint(medium) {
            margin-left: 0;
          }
        }

        & > div {
          text-align: right;

          @include breakpoint(medium) {
            text-align: center;
          }
        }
      }

    }

    &-content-info {
      width: 100%;
      text-align: left;

      @include breakpoint(medium) {
        width: auto;
        text-align: center;
      }
    }

  }


  .content-info-title {
    font-size: rem-calc(17);
    font-weight: bold;
    letter-spacing: rem-calc(0.3);
    margin-bottom: rem-calc(10);
    color: $base-light-gray;

    @include breakpoint(medium) {
      margin-top: rem-calc(24);
    }
  }

  .map-container {
    background-color: tomato;
    height: 500px;

    @include breakpoint(large) {
      height: 100%;
    }
  }
}