#feedback {
  background-color: $white;
  .feedback {

    &-input-wrapper {
      display: none;
      justify-content: flex-end;
      margin-top: rem-calc(20);

      @include breakpoint(large) {
        display: flex;
      }
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }

    &-form {
      padding: rem-calc(20 0 40 0);

      @include breakpoint(medium) {
        padding: rem-calc(20 35 40 35);

      }

      @include breakpoint(large) {
        padding: rem-calc(70 70 40 70);
        margin-top: rem-calc(35);
        box-shadow: rem-calc(0 5 15 0) rgba(0, 0, 0, 0.15);
      }
      
      .text-to-fb {
        display: block;
        background-color: $fb-btn-color-two;
        height: rem-calc(50);
        text-align: center;
        color: $white;
        text-transform: uppercase;
        line-height: rem-calc(50);
        font-size: rem-calc(14);
        padding: rem-calc(0 20);
        background-image: url(../img/feedback/messager-177.svg);
        background-repeat: no-repeat;
        background-position: 5% 50%;
        transition: all .3s;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        margin-top: rem-calc(20);
        margin-bottom: 0;
        font-size: rem-calc(14);
        text-align: center;
      }

      label  {
        margin-top: rem-calc(20);
        color: $greyish;
        margin-left: rem-calc(30);
      }

      input {
        height: rem-calc(44);
        padding: rem-calc(14 30);
        margin-bottom: 0;
      }

      .can-we-help {
        margin-top: rem-calc(20);
      }

      textarea {
        margin-top: rem-calc(20);
        margin-bottom: 0;
        height: rem-calc(170);
        padding: rem-calc(25 31);
      }

      .feedback-btn {
        display: block;
        height: rem-calc(50);
        text-transform: uppercase;
        font-size: rem-calc(14);
        margin-top: rem-calc(30);
        width: 100%;
        margin-bottom: 0;
        background-color: $base-black;
      }
    }
  }
}