#footer {
  padding: rem-calc(50 0 30);
  background-image: url(../img/footer/bitmap.png);
  background-repeat: no-repeat;
  background-position: center bottom;

  .about-shop {

    &-title {
      line-height: rem-calc(60);
      text-transform: uppercase;
      font-weight: bold;
      font-size: rem-calc(20);
    }

    &-text {
      font-size: rem-calc(14);
      color: rgba(48, 48, 48, 0.61);
    }
  }

  .bottom-part {
    display: flex;
    margin-top: rem-calc(150);
    justify-content: space-between;
    width: 100%;

    & a {
      display: block;
      color: $greyish;
      font-size: rem-calc(12);
      margin-top: rem-calc(10);
      transition: all .3s;

      &:first-child {
        font-size: rem-calc(14);
        font-weight: bold;
        color: $base-light-gray;
        line-height: rem-calc(14);
        letter-spacing: rem-calc(0.2);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .payment {
    flex-grow: 0.2;
  }

  .payment-link {
    display: block;
  }

  .payment-systems {
    //display: flex;
    //justify-content: space-between;
    margin-top: rem-calc(10);

    & img {
      margin: rem-calc(0 3);
    }
  }

  .social-link:not(:first-child) {
    display: inline-block;
    margin: rem-calc(10 3 0);
  }

  .copyright {
    text-align: right;
    color: rgba(36, 36, 36, 0.6);
    font-size: rem-calc(10);
    letter-spacing: rem-calc(0.3);
    width: 100%;
    margin-top: rem-calc(10);
  }

}