#greetings {
  background-image: url("../img/home/home-page-bg-top.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;

  .home-page {

    &-slider-arrow {
      display: flex;
      justify-content: space-between;
      width: rem-calc(70);
      position: absolute;
      top: rem-calc(66);
      right: rem-calc(16);

      @include breakpoint(large) {
        display: none;
      }

      &-link {
        display: block;
        width: rem-calc(26);
        height: rem-calc(22);
        background-color: $white;
        line-height: rem-calc(22);
        opacity: 0.5;

        &:first-of-type {
          margin-left: rem-calc(10);
          transform: rotate(180deg);
          line-height: rem-calc(18.5);
        }
      }
    }

    &-slider-nav {
      margin: 0 auto;
      text-align: center;

      @include breakpoint(large) {
        display: none;
      }

      &-link {
        display: inline-block;
        height: rem-calc(8);
        width: rem-calc(8);
        border-radius: 50%;
        background-color: $white;
        opacity: 0.5;
        margin: rem-calc(0 5);

        &-active {
          opacity: 1;
        }
      }
    }

  }


  .home-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh);
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;



    @include breakpoint(small) {
      justify-content: center;
      min-height: calc(100vh - 100px);
    }

    @include breakpoint(medium) {
      max-width: rem-calc(600);
      padding: rem-calc(100 0);
      min-height: calc(100vh - 100px);
      justify-content: center;
    }

    @include breakpoint(large) {
      //padding: rem-calc(200 0);
      min-height: calc(100vh);
      justify-content: space-between;
    }
  }

  .home-search {
    color: #fff;
    padding: rem-calc(0 60 0 30);
    background-image: url("../img/home/search.svg");
    background-repeat: no-repeat;
    background-position: rem-calc(550 14);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rem-calc(0 2 20 0) rgba(0, 0, 0, 0.5);
    border: none;
    transition: all .4s;

    @include breakpoint(large) {
       display: block;
     }
    /*
    @include breakpoint(medium) {
      display: none;
    }*/

    @include breakpoint(small) {
      display: none;
    }

    &:hover {
      background-color: $white;
      color: $base-black;

      &::-webkit-input-placeholder {
        color: $base-black;
      }
    }

    &:focus {
      background-color: $white;
      color: $base-black;
    }

    &::-webkit-input-placeholder {
      color: #fff;
    }

    &::-moz-input-placeholder {
      color: #fff;
    }
  }

  .home-page-title {
    @extend h1;
    margin: rem-calc(20 auto);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .watch-collection {

    @include breakpoint(large) {
      display: inline-block;
    }



    @include breakpoint(small) {
      display: none;
    }
  }

  .home-page-link-container {

    @include breakpoint(large) {
      display: block;
    }

    /*@include breakpoint(medium) {
      display: none;
    }*/

    @include breakpoint(small) {
      display: none;
    }
  }

  .home-page-link {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    transition: all .3s;
    font-size: 12px;
    margin: 0 19px;
    line-height: 1.17;
    letter-spacing: rem-calc(.2);
    position: relative;
    &:hover {
      color: #fff;
    }

    &:active {
      color: #fff;
    }

    &:active::before {
      background-color: #fff;
    }

    &:hover::before {
      background-color: #fff;
    }
  }

  .fishing, .new-collection, .crossfit, .the-best {

    &::before {
      content: "";
      display: block;
      height: rem-calc(2);
      width: rem-calc(100);
      background-color: rgba(255, 255, 255, 0.3);
      position: absolute;
      top: rem-calc(-8);
      transition: all .3s;
    }
  }

  .fishing::before {
    left: -14%;
  }

  .new-collection::before {
    left: 1%;
  }

  .crossfit::before {
    left: -36%
  }

  .the-best::before {
    left: 11%;
  }
}