#news {

  .news-title {
    line-height: rem-calc(50);
    letter-spacing: rem-calc(0.5);
    font-weight: bold;
    color: $base-light-gray;
    text-transform: uppercase;
    text-align: center;
  }

  .news-title-descr {
    text-align: center;
    margin-bottom: rem-calc(30);
    font-size: rem-calc(14);

    @include breakpoint(small) {
      display: none;
    }

    @include breakpoint(medium) {
      display: none;
    }

    @include breakpoint(large) {
      display: block;
    }
  }

  .news-container {
    display: flex;
    justify-content: space-evenly;

    @include breakpoint(small) {
      flex-direction: column;
      padding-left: rem-calc(11);
      padding-right: rem-calc(11);
    }

    @include breakpoint(medium) {
      flex-direction: column;
      padding-left: rem-calc(22);
      padding-right: rem-calc(104);
    }

    @include breakpoint(large) {
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .article-container {
    max-width: rem-calc(340);

    @include breakpoint(small) {
      margin-top: rem-calc(20);
      max-width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    @include breakpoint(medium) {
      margin-top: rem-calc(20);
      max-width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    @include breakpoint(large) {
      margin-top: 0;
      max-width: rem-calc(340);
      display: block;
    }
  }

  .article-img-container {
    position: relative;

    @include breakpoint(small) {
      max-width: rem-calc(120);
    }

    @include breakpoint(medium) {
      max-width: rem-calc(250);
    }

    @include breakpoint(large) {
      max-width: 100%;
    }
  }

  .article-text-container {

    @include breakpoint(small) {
      max-width: rem-calc(170);
      margin-left: rem-calc(10);
    }

    @include breakpoint(medium) {
      max-width: rem-calc(335);
      margin-left: 0;
    }

    @include  breakpoint(large) {
      width: auto;
    }
  }

  .article-link {
    display: block;
    width: rem-calc(147);
    height: rem-calc(40);
    line-height: rem-calc(40);
    text-align: center;
    text-transform: uppercase;
    color: $white;
    background-color: $base-light-gray;
    font-size: rem-calc(14);
    opacity: 0.8;
    position: absolute;
    left: 0;
    bottom: 0;
    letter-spacing: rem-calc(0.2);
    font-family: "Roboto";

    @include breakpoint(small) {
      width: rem-calc(70);
      height: rem-calc(30);
      font-size: rem-calc(12);
      line-height: rem-calc(30);
      bottom: rem-calc(31);
    }

    @include breakpoint(medium) {
      width: rem-calc(147);
      height: rem-calc(40);
      font-size: rem-calc(14);
      line-height: rem-calc(40);
      bottom: 0;
    }
  }

  .article-title {
    line-height: rem-calc(24);
    letter-spacing: rem-calc(0.3);
    font-weight: bold;
    margin: rem-calc(22 0 18);
    display: block;

    @include breakpoint(small) {
      font-size: rem-calc(14);
      line-height: rem-calc(14);
      margin: rem-calc(10 0 10);
    }

    @include breakpoint(medium) {
      margin: rem-calc(22 0 18);
      line-height: rem-calc(24);
      font-size: rem-calc(20);
    }

    //@include breakpoint(large) {
    //  margin: rem-calc(22 0 18);
    //  line-height: rem-calc(24);
    //}

    &:hover {
      text-decoration: underline;
    }

  }

  .article-text {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    color: rgba(26, 26, 26, 0.58);
    max-width: 67%;

    @include breakpoint(small) {
      font-size: rem-calc(14);
      max-width: 100%;
      margin-bottom: 0;
    }

    @include breakpoint(medium) {
      margin-bottom: rem-calc(16);
    }

    @include breakpoint(large) {
      max-width: 67%;
    }
  }

  .see-all-news {
    width: rem-calc(250);
    height: rem-calc(40);
    padding: rem-calc(13 0);
    text-transform: uppercase;
    margin: rem-calc(20 auto 0);
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    background-color: $base-light-gray;

    @include breakpoint(small) {
      display: block;
    }

    @include breakpoint(medium) {
      display: none;
    }
  }

  .under-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem-calc(10);

    @include breakpoint(small) {
      margin-top: rem-calc(5);
    }

    @include breakpoint(medium) {
      margin-top: rem-calc(10);
    }
  }

  .date {
    font-size: rem-calc(12);
    line-height: rem-calc(14);
    color: $greyish;
    padding-left: rem-calc(15);
    background-image: url("../img/news/date.svg");
    background-repeat: no-repeat;
    background-position: 0 26%;
    
  }

  .more {
    font-size: rem-calc(14);
    color: $base-light-gray;

    @include breakpoint(small) {
      display: none;
    }

    @include breakpoint(medium) {
      display: block;
    }
  }
}