#support {
  padding: rem-calc(62 0 140);

  .add-shadow {
    //box-shadow: rem-calc(-6 5 7 0) rgba(48, 48, 48, 0.13), rem-calc(5 -5 7) rgba(48, 48, 48, 0.13);
    box-shadow: rem-calc(0 0 20) rgba(48, 48, 48, 0.13);
    border: solid rem-calc(1) rgba(178, 178, 178, .5);
  }

  .support-container {
    text-align: center;
    padding: rem-calc(44 37 30);

    &:not(:last-of-type) {
    border-right: solid 1px rgba(178, 178, 178, 0.3);
  }

    &-title {
      text-transform: uppercase;
      line-height: rem-calc(22);
      font-size: rem-calc(16);
      letter-spacing: rem-calc(0.3);
      margin-top: rem-calc(25);
      margin-bottom: rem-calc(8);
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    &-descr {
      font-size: rem-calc(15);
      color: $greyish;
      line-height: rem-calc(20);
    }
    
    &-more {
      padding-right: rem-calc(25);
      background-image: url(../img/online_support/black.svg);
      background-repeat: no-repeat;
      background-position: 100% 60%;
      transition: all .3s;

      &:hover {
        background-position:  90% 60%;
        text-decoration: underline;
      }
    }

  }

}