#page-500 {
  padding: rem-calc(110 0);

  .page-500 {

    &-flex {
      display: flex;
      justify-content: space-between;
    }

    &-descr {
      text-align: center;
      padding: rem-calc(0 55);
    }

    &-number {
      font-size: rem-calc(100);
      font-weight: bold;
    }

    &-title {
      font-weight: bold;
      color: rgba(26, 26, 26, 0.7);
      margin-bottom: 0;
      margin-top: rem-calc(15);
    }

    &-text {
      font-size: rem-calc(20);
      color: rgba(48, 48, 48, 0.7);
      letter-spacing: rem-calc(0.3);
      margin-top: rem-calc(18);
      margin-bottom: 0;
    }

    &-go-home {
      margin-top: rem-calc(43);
      padding: rem-calc(20 84 18);
      text-transform: uppercase;
      border: none;
      transition: all .4s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}