#personal-account {
  background-color: $white;

  .personal-account {

    &-input-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: rem-calc(20);
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }

  .nav-container {
    a {
      margin-left: rem-calc(10);
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .personal-container {

    @include breakpoint(medium) {
      padding: rem-calc(0 20);
    }

    @include breakpoint(large) {
      padding: 0;
      box-shadow: rem-calc(0 2 14 0) rgba(0, 0, 0, 0.12);
    }
  }

  .tabs-ul {
    margin: 0;
    margin-top: rem-calc(35);
    list-style: none;

    .tabs-li {
      border: rem-calc(1) solid rgba(48, 48, 48, 0.1);
    }

    .tabs-a {
      display: block;
      padding: rem-calc(13 50);
      line-height: rem-calc(18);
      text-align: center;
      //border: rem-calc(1) solid rgba(48, 48, 48, 0.1);
      text-transform: uppercase;
      font-size: rem-calc(14);
    }
    
    .active-tab {
      background-color: $base-light-gray;
      color: $white;
    }
  }

  .tab-content {
    padding: rem-calc(0);

    @include breakpoint(large) {
      padding: rem-calc(50 0 65 55);
    }

    .top-flex {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      line-height: rem-calc(30);
      letter-spacing: rem-calc(0.3);
      margin-bottom: 0;
    }

    .left-side {
      display: none;

      @include breakpoint(large) {
        display: block;
        max-width: rem-calc(467);
      }

      p {
        font-size: rem-calc(14);
        color: $greyish;
        margin-top: rem-calc(20);
        margin-bottom: 0;
      }
    }

    .right-side {
      width: 100%;

      @include breakpoint(large) {
        width: auto;
      }
    }

    .right-side-content {
      background-color: $bg-search-page;
      text-transform: uppercase;
      font-size: rem-calc(14);
      display: flex;
      align-items: center;
      padding: rem-calc(0 15);
      justify-content: space-between;

      @include breakpoint(large) {
        padding: rem-calc(0 50);
      }

      span {
        font-size: rem-calc(20);
        line-height: rem-calc(50);
        letter-spacing: rem-calc(0.5);
        font-weight: bold;
        margin-left: rem-calc(10);

        @include breakpoint(large) {
          font-size: rem-calc(50);
          line-height: rem-calc(70);
        }
      }
    }
  }

  .contact-info {
    margin-top: rem-calc(20);

    @include breakpoint(large) {
      margin-top: rem-calc(50);
      padding-right: rem-calc(85);
    }

    .form-inp {
      display: block;
      width: 100%;
      margin-bottom: 0;
      padding: rem-calc(8 10);

      @include breakpoint(large) {
        width: rem-calc(300);
        padding-left: rem-calc(20);
      }
    }

    &-form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;

      @include breakpoint(large) {
        flex-direction: row;
      }

      label {
        color: $greyish;
        font-size: rem-calc(14);
        margin-left: rem-calc(20);
        margin-bottom: rem-calc(8);

        @include breakpoint(large) {
          margin-bottom: 0;
        }
      }

      .select-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: rem-calc(10);

        @include breakpoint(large) {
          width: rem-calc(300);
          margin-top: rem-calc(55);
        }

        select {
          color: $greyish;
          margin-bottom: 0;
        }

        select[name="month"] {
          margin: rem-calc(0 20);
        }
      }

      .input-wrapper {
        margin-top: rem-calc(10);

        @include breakpoint(large) {
          margin-top: rem-calc(30);
        }
      }

      .save-changes {
        text-transform: uppercase;
        margin-top: rem-calc(25);
        font-size:  rem-calc(14);
        line-height: rem-calc(14);
        padding: rem-calc(12 60);
        margin-bottom: 0;

        @include breakpoint(large) {
          margin-top: rem-calc(30);
          padding: rem-calc(17 60);
        }
      }
    }
  }
  //contact-info-end

  //social-network
  .social-network {
    margin-top: rem-calc(20);

    @include breakpoint(large) {
      margin-top: rem-calc(50);
    }

    &-title {
      font-size: rem-calc(14);
      font-weight: bold;
      text-transform: uppercase;
    }

    .social-link {
      display: block;
      font-size: rem-calc(14);
      line-height: rem-calc(18);
      letter-spacing: rem-calc(0.2);
      margin-top: rem-calc(10);
      text-align: center;

      @include breakpoint(large) {
        display: inline-block;
        margin-top: 0;
      }
    }

    .social-fb {
      padding: rem-calc(11 63);
      color: $white;
      text-transform: uppercase;
      background-color: $fb-btn-color;
      background-image: url(../img/personal-account/more/ic-fb.svg);
      background-repeat: no-repeat;
      background-position: 5% 45%;

      @include breakpoint(medium) {
        background-position: 2% 45%;
      }

      @include breakpoint(large) {
        margin-top: rem-calc(16);
        padding: rem-calc(16 63);
        background-position: 7% 45%;
      }
    }

    .social-gplus {
      padding: rem-calc(11 66);
      color: $white;
      text-transform: uppercase;
      background-color: $g-plus-btn-color;
      background-image: url(../img/personal-account/more/ic-g.svg);
      background-repeat: no-repeat;
      background-position: 5% 45%;

      @include breakpoint(medium) {
        background-position: 2% 45%;
      }


      @include breakpoint(large) {
        padding: rem-calc(16 66);
        margin-left: rem-calc(30);
        background-position: 7% 45%;
      }
    }

    input[type="checkbox"] {
      display: none;

      &:checked + label::before {
        background-image: url(../img/filter_part/selected.svg);
        background-repeat: no-repeat;
      }
    }

    label {
      display: block;
      font-size: rem-calc(14);
      line-height: rem-calc(20);
      position: relative;
      margin: 0;
      padding-left: rem-calc(25);

      &:first-of-type {
        margin-top: rem-calc(20);

        @include breakpoint(large) {
          margin-top: rem-calc(40);
        }
      }

      &:last-of-type {
        margin-top: rem-calc(10);
      }

      &::before {
        content: "";
        background-image: url(../img/filter_part/disabled.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: rem-calc(16);
        height: rem-calc(16);
        position: absolute;
        left: 0;
        top: rem-calc(1)
      }
    }
  }
  //social-network-end

  //edit-password
  .edit-password {
    max-width: 100%;
    margin-top: rem-calc(20);

    @include breakpoint(large) {
      max-width: rem-calc(630);
      margin-top: rem-calc(70);
    }

    &-title {
      margin-bottom: rem-calc(4);
      font-size: rem-calc(14);
      font-weight: bold;
      text-transform: uppercase;

      @include breakpoint(large) {
        margin-bottom: rem-calc(30);
      }
    }
    
    input[type="password"] {
      background-image: url(../img/personal-account/more/eye.svg);
      background-repeat: no-repeat;
      background-position: 98% 50%;
      padding: rem-calc(14 25);
      margin-bottom: 0;
      font-size: rem-calc(16);
      line-height: rem-calc(16);
    }

    label {
      display: block;
      font-size: rem-calc(14);
      line-height: rem-calc(20);
      padding-left: rem-calc(25);
      color: $greyish;
      margin-top: rem-calc(10);
      margin-bottom: rem-calc(4);

      @include breakpoint(large) {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .input-pass-wrapper {
      display: flex;
      flex-direction: column;

      @include breakpoint(large) {
        flex-direction: row;
      }
    }

    .input-pass-content {
      width: 100%;

      @include breakpoint(large) {
        max-width: rem-calc(300);
        margin-top: rem-calc(20);
      }

      &:last-of-type {

        @include breakpoint(large) {
          margin-left: rem-calc(30);

        }
      }
    }

    .save-pass {
      width: 100%;
      padding: rem-calc(12 60);
      margin-top: rem-calc(10);
      text-transform: uppercase;
      font-size:  rem-calc(14);
      line-height: rem-calc(14);
      margin-bottom: 0;

      @include breakpoint(large) {
        width: rem-calc(270);
        padding: rem-calc(17 60);
        margin-top: rem-calc(30);
      }
    }
  }
  //edit-password-end



  //order-history
    .order-history {
      padding: rem-calc(50 60 320 55);

      &-title-container {
        max-width: rem-calc(467);

        p {
          font-size: rem-calc(14);
          color: $greyish;
          line-height: rem-calc(18);
          margin-top: rem-calc(20);
        }
      }

      .about-order {

        &-container {
          margin-top: rem-calc(60);

          .left-side {

            span, a {
              display: inline-block;
            }

            span:first-of-type {
              font-weight: bold;
            }

            span:last-of-type {
              margin: rem-calc(0 30);
            }

            a {
              padding-left: rem-calc(22);
              background-image: url(../img/personal-account/more/fill-202.svg);
              background-repeat: no-repeat;
              background-position: 0% 50%;
              transition: all .4s;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .status {
            padding-left: rem-calc(32);
            color: $noti-ok;
            background-image: url(../img/personal-account/more/check.svg);
            background-repeat: no-repeat;
            background-position: 0% 50%;
          }

          .status-red {
            padding-left: rem-calc(32);
            color: $base-pink;
            background-image: url(../img/personal-account/more/ic-close.svg);
            background-repeat: no-repeat;
            background-position: 0% 50%;
          }
        }

        &-content {
          background-color: $bg-search-page;
          padding: rem-calc(50 65 40 50);
          margin-top: rem-calc(20);
        }

        &-general {
          display: flex;
          justify-content: space-between;
          font-size: rem-calc(14);
        }
      }

      .order-list {
        display: flex;
        justify-content: space-between;
        font-size: rem-calc(14);
        align-items: center;
        margin-top: rem-calc(25);

        &-img {
          flex-grow: 0.1;
        }

        &-descr {
          flex-grow: 0;
          display: flex;
          flex-direction: column;

          span {
            color: rgba(26, 26, 26, 0.7);
          }

          a:hover {
            text-decoration: underline;
          }
        }

        &-count {
          color: rgba(26, 26, 26, 0.7);
          flex-grow: 3;
          text-align: center;
        }

        &-price{
            flex-grow: 0;
            text-align: right;
        }
      }

      .total-info-container {
        display: flex;
        justify-content: space-between;
        font-size: rem-calc(14);
        margin-top: rem-calc(30);

        span {
          display: block;
        }

        &-left-side {
          flex-grow: 1;
          text-align: center;
        }

        &-discount {
          margin: rem-calc(20 0);
        }

        &-payment {
          font-weight: bold;
        }

        &-right-side {
          flex-grow: 1;
          text-align: right;

          span {
            color: rgba(26, 26, 26, 0.7);

            &:nth-child(2) {
              margin: rem-calc(20 0);
            }

            &:last-of-type {
              color: $base-black;
              font-weight: bold;
            }
          }
        }
      }

      .order-bottom-content {
        display: flex;
        margin-top: rem-calc(16);
        border-top: rem-calc(1) solid rgba(48, 48, 48, 0.1);
        font-size: rem-calc(14);

        &-left-side span {
          display: block;
          margin-top: rem-calc(20);
        }

        &-right-side {
          margin-left: rem-calc(30);

          & span {
            display: block;
            color: rgba(26, 26, 26, 0.7);
            margin-top: rem-calc(20);
          }
        }

        &-btn-wrap {
          text-align: right;

          .repeat-order {
            text-transform: uppercase;
            font-size: rem-calc(14);
            line-height: rem-calc(14);
            padding: rem-calc(18 84);
            margin-top: rem-calc(20);
            margin-bottom: 0;
          }
        }
      }

      .to-go-shopping-wrap {
        margin-top: rem-calc(35);
      }

      .to-go-shopping-btn {
        text-transform: uppercase;
        padding: rem-calc(18 64);
        line-height: rem-calc(14);
        margin-bottom: 0;
      }
    }
  //order-history-end

  //wish-list
  .wish-list {
    padding: 0;

    &-unit {
      padding: rem-calc(30 10 15 10);
      font-size: rem-calc(14);
      position: relative;

      &-close {
        position: absolute;
        left: rem-calc(10);
        top: rem-calc(15);
        width: rem-calc(20);
        height: rem-calc(20);
        background-image: url(../img/personal-account/wish-list/normal.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: all .4s;

        &:hover {
          transform: rotate(360deg);
        }
      }

      &-percent {
        position: absolute;
        width: rem-calc(50);
        height: rem-calc(30);
        background-color: $base-light-gray;
        color: $white;
        font-size: rem-calc(10);
        font-style: italic;
        text-align: center;
        top: rem-calc(15);
        right: rem-calc(10);
      }

      img {
        display: block;
        margin: 0 auto;
      }

      &-name {
        text-transform: uppercase;
        color: $greyish;
        display: block;
        margin-top: rem-calc(20);
      }

      &-descr {
        display: block;
      }

      &-price {
        margin-top: rem-calc(8);
      }

      .new-price {
        color: $base-pink;
      }
      
      .old-price {
        text-decoration: line-through;
        color: $greyish;
        margin-left: rem-calc(16);
      }
    }
  }
  //wish-list-end

  //pre-ordered
  .pre-ordered {
    padding: rem-calc(25);

    &-head {
      display: flex;
      justify-content: space-between;
      font-size: rem-calc(14);
      font-weight: bold;
      text-transform: uppercase;
      padding: rem-calc(20 0);
      border-bottom: rem-calc(1) solid rgba(48, 48, 48, 0.1);

      &-left-side {
        flex-grow: 0.4;
        display: flex;
        text-align: center;

        span {
          flex-grow: 1;
        }
      }

      &-right-side {
        flex-grow: 0.7;
        display: flex;
        justify-content: space-around;
        text-align: center;

        span {
          flex-grow: 1;
        }
      }
    }

    &-unit {
      display: flex;
      justify-content: space-around;
      flex-grow: 1;
      padding: rem-calc(15 0);
      transition: all .3s;
      align-items: center;

      &:hover {
        box-shadow: rem-calc(0 2 20 0) rgba(0, 0, 0, 0.1);
      }

      &-img {
        flex-grow: 1.5;

        img {
          display: block;
          margin: 0 auto;
        }
      }

      &-about {
        flex-grow: 1.3;

        span {
          display: block;
          color: rgba(26, 26, 26, 0.7);
          font-size: rem-calc(14);

          &:nth-of-type(2) {
            color: $base-black;
          }
        }
      }

      .right-span-wrapp {
        flex-grow: 6;
        justify-content: space-around;
        display: flex;
        text-align: center;

        span {
          flex-grow: 1;
        }
      }
    }
  }
  //pre-ordered-end


  //pre-ordered-empty
  .pre-ordered-empty {

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      font-size: rem-calc(20);
      line-height: rem-calc(30);
      letter-spacing: rem-calc(0.3);

      &-container {
        max-width: rem-calc(467);
      }
    }

    p {
      font-size: rem-calc(14);
      color: $greyish;
      margin-top: rem-calc(20);
    }

    .to-go-shopping-wrap {
      margin-top: rem-calc(34);
    }

    .to-go-shopping-btn {
      text-transform: uppercase;
      padding: rem-calc(18 64);
      line-height: rem-calc(14);
      margin-bottom: 0;
    }
  }

  //pre-ordered-empty-end


}