#popular {
  padding: rem-calc(50 0);

  @include breakpoint(medium) {
    background-color: $white;
  }

  @include breakpoint(small) {
    background-color: $white;
  }

  .popular-title {
    line-height: rem-calc(50);
    color: $base-light-gray;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: rem-calc(0.5);
    margin-bottom: 0;
  }

  .popular-flex {
    //justify-content: center;
    margin-top: rem-calc(30);
    height: 670px; //92vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include breakpoint(small) {
      margin-top: 0;
      flex-direction: row;
    }

    @include breakpoint(medium) {
      margin-top: 0;
      flex-direction: row;
    }

    @include breakpoint(large) {
      flex-direction: column;
    }


    &-left-side {
      //max-width: rem-calc(530);
      //width: 100%;
      padding: rem-calc(20);
      position: relative;
      transition: transform .3s;
      background-color: $white;
      width: 50%;

      @include breakpoint(small) {
        padding: rem-calc(10);
      }

      @include breakpoint(large) {
        padding: rem-calc(20);
      }

      &:hover {
        box-shadow: rem-calc(0 2 15 0) rgba(0, 0, 0, 0.24);
        transform: scale(1.1);
        z-index: 10;
      }

      &:hover .actions-with-product {
        display: block;
      }

      &:hover .product-colors {
        display: flex;
        visibility: visible;
      }
    }

    &-right-side {
      width: 50%;
      height: 672px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .product-img-right {
    display: block;
    margin: rem-calc(62 auto 0);

    @include breakpoint(small) {
      margin: 0 auto;
      max-width: rem-calc(132);
      height: rem-calc(124);
    }

    @include breakpoint(medium) {
      margin: 0 auto;
    }

    @include breakpoint(large) {
      max-width: 100%;
      height: auto;
    }

  }

  .pop-product {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    letter-spacing: rem-calc(0.2);
  }

  .product-title {
    text-transform: uppercase;
    color: $greyish;
    display: block;
    margin-top: rem-calc(26);
  }

  .product-descr {
    display: block;
    color: $black;
    margin-top: rem-calc(2);
  }

  .price {
    margin-top: rem-calc(8);
    display: inline-block;
  }

  .new-price {
    margin-top: rem-calc(8);
    display: inline-block;
    color: $base-pink;
  }

  .old-price {
    font-size: rem-calc(12);
    color: $greyish;
    display: inline-block;
    margin-left: rem-calc(16);
    text-decoration: line-through;

    @include breakpoint(small) {
      margin-left: 0;
    }

    @include breakpoint(medium) {
      margin-left: rem-calc(16);
    }

    @include breakpoint(large) {
      margin-left: rem-calc(16);
    }

  }

  .product-container {
    padding: rem-calc(16 20 8 12);
    transition: transform .3s;
    background-color: $white;
    width: 25%;

    @include breakpoint(small) {
      width: 50%;
      padding: rem-calc(10);
    }

    @include breakpoint(medium) {
      width: 50%;
      padding: rem-calc(10);
    }

    @include breakpoint(large) {
      width: 25%;
      padding: rem-calc(16 20 8 12);
    }


    &:hover {
      box-shadow: rem-calc(0 2 15 0) rgba(0, 0, 0, 0.24);
      transform: scale(1.1);
      z-index: 100;
    }

    &:hover .actions-with-product {
      display: block;
    }

    &:hover .product-colors {
      display: flex;
      visibility: visible;
    }

    &-first {
      order: 1;
    }

    &-second {
      order: 2;
    }

    &-third {
      order: 3;
    }

    &-fourth {
      order: 4;
    }
  }

  .actions-container {
    display: flex;
    justify-content: space-between;
  }

  .actions-with-product {
    display: none;
    padding-left: rem-calc(23);
    font-size: rem-calc(14);

    @include breakpoint(small) {
      font-size: rem-calc(12);
    }

    @include breakpoint(medium) {
      font-size: rem-calc(14);
    }
  }

  .to-desire {
    margin-bottom: rem-calc(2);
    background-image: url(../img/home/black.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .to-compare {
    background-image: url(../img/home/product-arrows.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .product-img {
    display: block;
    margin: rem-calc(0 auto);
  }

  .minus-percent {
    font-size: rem-calc(10);
    font-style: italic;
    color: $white;
    padding: rem-calc(9 14);
  }

  .product-colors {
    visibility: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .choose-color {
    display: none;

    &:checked + label {
      width: rem-calc(20);
      height: rem-calc(20);
      //padding: rem-calc(3);
      border: solid rem-calc(1) #0d0d0d;
    }

    &-label {
      display: block;
      width: rem-calc(15);
      height: rem-calc(15);
      border-radius: 50%;
      margin: rem-calc(3);
    }

    &-label:nth-of-type(1) {
      background-color: #641a1a;
    }
    &-label:nth-of-type(2) {
      background-color: #b7de3d;
    }
    &-label:nth-of-type(3) {
      background-image: linear-gradient(to left, #e67f02, #343533);
    }
  }

}