#product-page {
  background-color: $white;

  .border-bottom {
    padding-bottom: rem-calc(30);
    border-bottom: rem-calc(1) solid $base-light-gray;
  }

  .product-page {

    &-input-wrapper {
      display: none;
      justify-content: flex-end;
      margin-top: rem-calc(20);
      margin-bottom:  rem-calc(30);
      align-items: center;

      @include breakpoint(large) {
        display: flex;
      }
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-slider-nav {
      text-align: center;
      margin: rem-calc(32 auto 0);
      display: block;

      @include breakpoint(large) {
        display: none;
      }
    }

    &-slider-nav-link {
      display: inline-block;
      height: rem-calc(8);
      width: rem-calc(8);
      border-radius: 50%;
      background-color: $base-light-gray;
      opacity: 0.5;
      margin: rem-calc(0 5);

      &-active {
        opacity: 1;
      }
    }
  }

  //gallery
  .product-gallery {
    display: flex;
    justify-content: center;

    @include breakpoint(large) {
      justify-content: normal;
    }
  }

  .small-img {

    &-container {
      display: none;

      @include breakpoint(large) {
        display: block;
      }
    }

    &-link {
      display: block;

      &:not(:first-child) {
        margin-top: rem-calc(6);
      }
    }
  }

  .big-img-wrapper {
    position: relative;
    max-width: rem-calc(220);

    @include breakpoint(medium) {
      max-width: rem-calc(350);
    }

    @include breakpoint(large) {
      max-width: 100%;
    }
  }

  .big-img-container {
    position: relative;
  }

  .minus-percent {
    display: none;

    @include breakpoint(large) {
      display: inline-block;
      top: 0;
      right: 0;
      font-size: 0.625rem;
      font-style: italic;
      color: #fefefe;
      padding: 0.5625rem 0.875rem;
      position: absolute;
      z-index: 1;
    }
  }

  .zoom {
    display: none;
    background-color: $base-light-gray;
    width: rem-calc(48);
    height: rem-calc(48);
    background-image: url(../img/product-page/magnifier.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: rem-calc(50);
    left: rem-calc(50);

    @include breakpoint(large) {
      display: inline-block;
    }
  }

  //product-info
  .product-info {

    &-top-line {
      display: flex;
      justify-content: space-between;
      margin-top: rem-calc(30);
      align-items: center;

      @include breakpoint(large) {
        margin-top: 0;
      }
    }

    .something {
      text-transform: uppercase;
      color: $greyish;
      font-size: rem-calc(14);
    }

    .product-code {
      &-container {
        padding: rem-calc(6 14);
        background-color: #f4f4f4;
        font-size: rem-calc(14);
      }
    }

    .product-title {
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      font-size: rem-calc(18);
      line-height: rem-calc(20);
      margin-top: rem-calc(10);
      margin-bottom: 0;
      color: $base-black;

      @include breakpoint(medium) {
        font-size: rem-calc(20);
      }

      @include breakpoint(large) {
        font-weight: normal;
        font-size: rem-calc(30);
        line-height: rem-calc(50);
      }
    }

    .social-with-stars {
      display: flex;
      justify-content: space-between;
      margin-top: rem-calc(16);
      padding-bottom: rem-calc(10);
      border-bottom: rem-calc(1) solid rgba(48, 48, 48, 0.1);
    }

    .with-stars-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .stars-img-container {
      margin-right: rem-calc(16);

      &>a {
        vertical-align: middle;
      }
    }

    .count-reviews-container {
      display: block;
      font-size: rem-calc(14);
    }

    .social-links:first-child {
      margin-right: rem-calc(10);
    }

    .about-price {
      margin-top: rem-calc(17);
    }

    .price-title {
      color: #b2b2b2;
    }

    .price-container {
      display: flex;
      justify-content: right;
      align-items: baseline;
      margin-top: rem-calc(14);
      width: 100%;

      @include breakpoint(large) {
        justify-content: space-between;
        max-width: 50%;
      }

      .price-sum {
        font-size: rem-calc(18);
        letter-spacing: rem-calc(0.4);
        margin-right: rem-calc(10);

        @include breakpoint(large) {
          margin-right: 0;
          font-size: rem-calc(24);
        }
      }

      .old-price-sum {
        font-size: rem-calc(14);
        color: $greyish;
        text-decoration: line-through;
      }
    }

    .count-container {
      margin-top: rem-calc(10);
      font-size: rem-calc(14);
    }

    .stock {
      color: #62c48b;
      margin-left: rem-calc(40);
    }

    .size-color {
      margin-top: rem-calc(15);

      @include breakpoint(large) {
        margin-top: rem-calc(40);
      }

      & label {
        font-size: rem-calc(14);

        &[for="product-color"] {
          margin-top: rem-calc(10);

          @include breakpoint(large) {
            margin-top: 0;
          }
        }
      }

      & select {
        margin-top: rem-calc(10);
        border: rem-calc(1) solid rgba(48, 48, 48, 0.3);
        margin-bottom: 0;

        &:hover, &:focus {
          border: rem-calc(1) solid $base-light-gray;
        }

        &::-webkit-placeholder {
          color: $greyish;
        }

        &::-moz-placeholder {
          color: $greyish;
        }
      }
    }

    .table-size {
      margin-top: rem-calc(16);
      padding-bottom: rem-calc(16);
      border-bottom: rem-calc(1) solid rgba(48, 48, 48, 0.1);

      &-title {
        font-size: rem-calc(14);

        &:hover {
          text-decoration: underline;
        }
      }

      &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: rem-calc(10);
      }

      .to-basket {
        width: 100%;
        padding: rem-calc(16 53 16 78);
        text-transform: uppercase;
        color: $white;
        background-color: #323232;
        background-image: url(../img/product-page/bag.svg);
        background-repeat: no-repeat;
        background-position: 28% 46%;
        margin-bottom: 0;
        transition: all .4s;

        @include breakpoint(large) {
          width: auto;
        }

        &:hover {
          background-position: 20% 46%;
        }
      }

      .quick-order {
        width: 72%;
        height: rem-calc(40);
        display: inline-block;
        padding: 0;
        margin-top: rem-calc(10);
        text-transform: uppercase;
        color: $opacity-grey;
        font-size: rem-calc(14);
        border: rem-calc(1) solid $greyish;
        line-height: rem-calc(40);
        text-align: center;

        @include breakpoint(large) {
          width: auto;
          padding: rem-calc(14 51);
          margin-top: 0;
          height: rem-calc(50);
          line-height: normal;
        }

      }

      .privat {
        width: 18%;
        border: rem-calc(1) solid #979797;
        cursor: pointer;
        padding: 0;
        margin-top: rem-calc(10);

        @include  breakpoint(large) {
          width: auto;
          padding: rem-calc(0 6);
          margin-top: 0;
        }

        img {
          width: rem-calc(30);

          @include breakpoint(large) {
            width: rem-calc(40);
          }
        }
      }
    }

    .bottom-links {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      width: 100%;
      margin-top: rem-calc(12);

      @include breakpoint(medium) {
        flex-direction: row;
      }

      @include breakpoint(large) {
        justify-content: space-between;
        max-width: 80%;
      }

      a {
        margin-bottom: rem-calc(12);

        @include breakpoint(medium) {
          margin-bottom: 0;
        }
      }
    }

    .to-wish-list {
      padding-left: rem-calc(25);
      background-image: url(../img/product-page/heart.svg);
      background-repeat: no-repeat;
      background-position: 0 40%;
    }

    .to-compare {
      padding-left: rem-calc(25);
      background-image: url(../img/product-page/arrows.svg);
      background-repeat: no-repeat;
      background-position: 0 45%;

      @include breakpoint(medium) {
        padding-left: rem-calc(33);
      }
    }

    .follow-price {
      padding-left: rem-calc(22);
      background-image: url(../img/product-page/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: 0 45%;
    }

  }
  //product-info end

  //product-description
  .product-description {

    .tabs {
      border: none;
      max-width: rem-calc(440);
      margin: rem-calc(25 auto 20);

      @include breakpoint(large) {
        margin-bottom: rem-calc(40);
      }
    }

    .tabs>.is-active {
      font-weight: bold;
    }

    .tabs-panel {
      padding-top: 0;
      border: none;
    }

    .tab-title {
      font-weight: bold;
      font-size: rem-calc(14);
    }

    .tabs-title:nth-child(2) {
      border-left: rem-calc(1) solid rgba(151, 151, 151, 0.3);
      border-right: rem-calc(2) solid rgba(151, 151, 151, 0.3);
    }

    .tabs-content {
      border: none;
    }

    .character-table {
      & td:first-of-type {
        font-weight: bold;
      }

      & td:last-of-type {
        color: rgba(26, 26, 26, 0.7);
      }
    }

    .shipping-first {

      &-title {
        font-size: rem-calc(14);
        font-weight: bold;
      }

      &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: rem-calc(20);
        font-size: rem-calc(14);
        color: rgba(26, 26, 26, 0.7);
      }
    }

    .shipping-second {
      margin-top: rem-calc(40);

      &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: rem-calc(20);
        font-size: rem-calc(14);
        color: rgba(26, 26, 26, 0.7);
      }
    }
  }
  //product-description end

  //product-comments
  .product-comments {
    display: none;


    @include breakpoint(large) {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-top: rem-calc(125);
      font-size: rem-calc(14);
    }

    &-title {
      font-weight: bold;
    }

    &-container {
      max-width: rem-calc(450);
      width: 100%;
      margin: 0 auto;
    }
    
    .comment-card {
      background-color: $bg-search-page;
      padding: rem-calc(20 23 20 20);
      margin-top: rem-calc(10);
      font-size: rem-calc(14);

      &-title {
        margin-top: rem-calc(6);
      }

      &-text {
        margin-top: rem-calc(10);
        margin-bottom: 0;
      }

      &-from {
        color: $base-blue;
        margin-top: rem-calc(10);
      }
    }

    .with-stars {

      &-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-date {
        color: $greyish;
      }
    }

    .comment-card-links {
      margin-top: rem-calc(15);

      .to-answer {
        display: inline-block;
        padding: rem-calc(0 16 0 20);
        background-image: url(../img/product-page/arrow-left.svg);
        background-repeat: no-repeat;
        background-position: 0% 49%;
      }

      .how-many-answers {
        display: inline-block;
        padding: rem-calc(0 16 0 36);
        background-image: url(../img/product-page/mess.svg);
        background-repeat: no-repeat;
        background-position: 17% 49%;
        border-left: rem-calc(1) solid #979797;
      }


    }
    .survey-container {
      margin: rem-calc(20 auto 0);
      max-width: rem-calc(195);
      width: 100%;

      &-title {
        font-size: rem-calc(12);
        color: $greyish;
        display: block;
      }

      &-btns {
        margin-top: rem-calc(6);
        display: flex;
        justify-content: space-between;
      }

      .btn-yes {
        padding: rem-calc(4 34);
        margin-bottom: 0;
      }

      .btn-no {
        padding: rem-calc(4 30);
        background-color: transparent;
        border-color: #979797;
        margin-bottom: 0;
        color: $black;
      }
    }

    .more-reviews {
      padding: rem-calc(13 36 13 15);
      text-transform: uppercase;
      background-image: url(../img/product-page/arrow-down-white.svg);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      margin-top: rem-calc(10);

    }

  }

  //product-comments end

}