#questions-page {
  background-color: $white;

  .questions-page {

    &-input-wrapper {
      display: none;
      justify-content: flex-end;
      margin-top: rem-calc(20);

      @include breakpoint(large) {
        display: flex;
      }
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
    }

    &-content {
      padding: rem-calc(30 0 20 0);
      margin-top: rem-calc(10);
      box-shadow: rem-calc(0 5 15 0) rgba(0, 0, 0, 0.15);

      @include breakpoint(medium) {
        padding: rem-calc(30 40 70 67);
      }

      @include breakpoint(large) {
        padding: rem-calc(70 40 70 67);
        margin-top: rem-calc(35);
      }

      &-title {
        display: none;
        font-size: rem-calc(30);
        line-height: rem-calc(50);
        letter-spacing: rem-calc(0.5);
        font-weight: bold;
        margin-bottom: rem-calc(50);

        @include breakpoint(large) {
          display: block;
        }
      }

      &-title-paragraph {
        padding-left: rem-calc(35);
      }

      p {
        font-size: rem-calc(14);
      }

      .is-active {

        & > .accordion-title {
          padding: rem-calc(20 16);
          background-color: rgba(178, 178, 178, 0.1);
          transition: transform .4s;

          @include breakpoint(large) {
            padding: rem-calc(20 60 20 35);
          }

          &::before {
            transform: rotate(180deg);
          }
        }
      }

      .accordion-title {
        font-weight: bold;

        &::before {
          width: rem-calc(14);
          height: rem-calc(15);
          right: rem-calc(16);
          content: "";
          background-image: url(../img/questions-page/arrow-right.svg);
          background-repeat: no-repeat;
          background-position: center;

          @include breakpoint(large) {
            right: rem-calc(60);
          }
        }
      }

      .accordion-content {
        background-color: rgba(178, 178, 178, 0.1);
        padding: rem-calc(0 16 20 16);

        @include breakpoint(large) {
          padding: rem-calc(0 80 20 35);
        }
      }
    }
  }
}

