#black-friday {
  background-color: $white;
  padding-bottom: rem-calc(30);

  @include breakpoint(large) {
    padding-bottom: rem-calc(66);
  }

  .black-friday {

    &-input-wrapper {
      display: none;
      justify-content: flex-end;
      margin-top: rem-calc(20);

      @include breakpoint(large) {
        display: flex;
      }
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
  }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }

    &-right-container {
      margin-top: rem-calc(20);

      @include breakpoint(medium) {
        padding: rem-calc(0 35);
      }

      @include breakpoint(large) {
        margin-top: 0;
      }
    }
}

  .timer-title {
    font-size: rem-calc(14);
    font-weight: bold;

  }

  .timer {
    display: flex;
    justify-content: space-between;
    width: rem-calc(220);
    margin-top: rem-calc(10);

    @include breakpoint(large) {
      width: 57%;
      margin-top: rem-calc(10);
    }
  }

  .time {
    font-size: rem-calc(14);
    line-height: rem-calc(40);
    letter-spacing: rem-calc(0.3);
    display: block;
    width: rem-calc(40);
    height: rem-calc(40);
    background-color: $opacity-grey;
    text-align: center;
    color: $white;

    @include breakpoint(large) {
      font-size: rem-calc(36);
      line-height: rem-calc(80);
      width: rem-calc(80);
      height: rem-calc(80);
    }
  }

  .text {
    color: $base-light-gray;
    display: block;
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    text-align: center;
    margin-top: rem-calc(2);
  }

  .promotion-conditions {
    margin-top: rem-calc(20);

    @include breakpoint(medium) {
      padding: rem-calc(0 0 0 35);
    }

    @include breakpoint(large) {
      margin-top: rem-calc(58);
    }

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
    }

    &-descr {
      color: $opacity-grey;
      margin-bottom: 0;
      font-size: rem-calc(14);
      margin-top: rem-calc(10);

      @include breakpoint(large) {
        margin-top: rem-calc(20);
      }
    }
  }
}