#shipping-page {
  background-color: $white;

  .shipping-page {

    &-input-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: rem-calc(20);
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
    }

    &-content {
      margin-top: rem-calc(35);
      padding: rem-calc(70 70 70 100);
      box-shadow: rem-calc(0 5 15 0) rgba(0, 0, 0, 0.15);

      .first-container {
        max-width: rem-calc(560);
      }

      &-title {
        font-size: rem-calc(30);
        line-height: rem-calc(50);
        letter-spacing: rem-calc(0.5);
        font-weight: bold;
      }

      &-second-title {
        margin-top: rem-calc(70);
      }

      p {
        font-size: rem-calc(14);
        margin-top: rem-calc(25);
        margin-bottom: 0;
      }

      &-list {
        font-size: rem-calc(14);
        color: $base-black;
        list-style-image: url(../img/shipping-page/dot_black.svg);
        margin-left: rem-calc(45);

        li {
          margin-top: rem-calc(20);
        }
      }
    }
  }
}

