#size-chart {
  background-color: $white;
  padding-bottom: rem-calc(150);

  .second-title {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(35);
    font-weight: bold;
    font-size: rem-calc(20);
    letter-spacing: rem-calc(0.3);
    text-align: center;
    color: $base-black;
  }

  .size-chart {

    &-input-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: rem-calc(20);
    }

    &-search-field {
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: rem-calc(0.5);
      font-weight: bold;
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }

    &-top-filter {
      background-color: rgba(178, 178, 178, 0.3);
      display: flex;

      span {
        display: block;
        width: rem-calc(170);
        height: rem-calc(44);
        line-height: rem-calc(44);
        font-size: rem-calc(14);
        font-weight: bold;

        &:first-of-type {
          padding: rem-calc(0 64);
        }

        &:last-of-type {
          padding: rem-calc(0 43);
        }
      }

      select {
        height: rem-calc(44);
        margin-bottom: 0;
      }

      .top-filter-btn {
        height: rem-calc(44);
        margin-bottom: 0;
        line-height: 0;
        text-transform: uppercase;
        font-size: rem-calc(14);
      }
    }
  }

  .size-chart-table {
    margin-top: rem-calc(50);
    margin-bottom: 0;
    font-size: rem-calc(14);
    
    thead {
      background-color: $base-light-gray;
      color: $white;

      th {
        text-align: center;
        height: rem-calc(60);
        padding: rem-calc(6 25);

        &:not(:last-of-type) {
          border-right: rem-calc(1) solid rgba(151, 151, 151, 0.1);
        }
      }
    }

    td {
      text-align: center;
      height: rem-calc(60);
      padding: rem-calc(6 25);
      border-right: rem-calc(1) solid rgba(151, 151, 151, 0.1);
      border-left: rem-calc(1) solid rgba(151, 151, 151, 0.1);
    }
  }

  .bottom-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: rem-calc(0.5);
    margin-top: rem-calc(70);
    margin-bottom: 0;
  }

  .how-check {
    margin-top: rem-calc(50);
    font-size: rem-calc(14);
    line-height: rem-calc(18);

    span {
      font-weight: bold;
    }

    p {
      margin: 0;
    }
  }

}