#subscription {
  padding: rem-calc(150 0 50);

  @include breakpoint(small) {
    padding: 0;
  }

  .get-news {
    background-color: rgba(216, 216, 216, 0.15);
    text-align: center;
    padding: rem-calc(0 92 126);

    @include breakpoint(small) {
      padding: rem-calc(0 12 20);
    }

    @include breakpoint(medium) {
      padding: rem-calc(0 10 50)
    }

    @include breakpoint(large) {
      padding: rem-calc(0 92 126);
    }

    &-title {
      text-transform: uppercase;
      margin-top: rem-calc(144);
      letter-spacing: rem-calc(3);
      font-weight: bold;
      font-family: 'PT Sans Narrow';
      font-size: rem-calc(36);
      color: $base-light-gray;

      @include breakpoint(small) {
        margin: rem-calc(20 0);
        font-size: rem-calc(18);
      }

      @include breakpoint(medium) {
        margin: rem-calc(50 0 30);
        font-size: rem-calc(24);
      }

      @include breakpoint(large) {
        margin: rem-calc(144 0 15);
        font-size: rem-calc(36);
      }
    }

    &-text {
      font-size: rem-calc(14);
      line-height: rem-calc(20);
      color: $base-light-gray;

      @include breakpoint(small) {
        display: none;
      }

      @include breakpoint(large) {
        display: block;
      }
    }

    &-form {
      display: flex;

      @include breakpoint(small) {
        width: rem-calc(293);
        margin: 0 auto;
      }

      @include breakpoint(large) {
        width: auto;
      }

      &-email {
        height: rem-calc(50);
        border: none;
        box-shadow: none;
        padding: rem-calc(0 34);
        color: rgba(36, 36, 36, 0.6);
        transition: all .3s;
        margin-bottom: 0;

        @include breakpoint(small) {
          height: rem-calc(44);
        }

        @include breakpoint(large) {
          height: rem-calc(50);
        }

        &:hover,&:focus {
          box-shadow: rem-calc(-5 5 7) rgba(10, 10, 10, 0.1);
        }
      }
    }

    &-btn {
      width: rem-calc(56);
      height: rem-calc(50);
      background-image: url(../img/subscription/white-arrow.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: all .3s;
      margin-bottom: 0;

      @include breakpoint(small) {
        height: rem-calc(44);
      }

      @include breakpoint(large) {
        height: rem-calc(50);
      }

      &:hover {
        background-position: 70% 50%;
      }
    }
  }

  .get-help {
    background-color: $base-black;
    text-align: center;
    padding: rem-calc(0 82 126);
    color: $white;

    @include breakpoint(small) {
      display: none;
    }

    @include breakpoint(large) {
      display: block;
    }

    &-title {
      text-transform: uppercase;
      margin-top: rem-calc(144);
      letter-spacing: rem-calc(3);
      font-weight: bold;
      font-family: 'PT Sans Narrow';
      font-size: rem-calc(36);
      color: $white;
    }

    &-text {
      font-size: rem-calc(14);
      line-height: rem-calc(20);
      color: $white;
    }

    button {
      width: rem-calc(220);
      height: rem-calc(50);
      text-align: center;
      text-transform: uppercase;
      background-repeat: no-repeat;
      font-size: rem-calc(14);
    }

    &-call-back {
      background-color: $white;
      color: $black;
      background-image: url(../img/subscription/black-fillel.svg);
      background-position: 16% 47%;
      margin-right: rem-calc(5);
    }

    &-ask-question {
      background-image: url(../img/subscription/white.svg);
      background-position: 20% 47%;
      color: $white;
      border-color: $white;
      margin-left: rem-calc(5);
    }
  }
  
  
}