#news-page {

  .news-page {

    &-input-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: rem-calc(20);
      margin-bottom: rem-calc(30);
      align-items: center;
    }

    &-search-field {
      display: none;
      width: rem-calc(314);
      height: rem-calc(44);
      padding: rem-calc(15 40 15 20);
      font-size: rem-calc(14);
      color: $opacity-grey;
      background-image: url(../img/search_page/black-search.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
      border: none;
      transition: all .4s;
      margin-bottom: 0;

      @include breakpoint(large) {
        display: block;
      }

      &:hover, &:focus {
        box-shadow: rem-calc(0 2 9 0) rgba(0, 0, 0, 0.13);
      }
    }

    &-back-link {
      display: inline-block;
      font-size: rem-calc(14);
      color: $base-black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .news-page-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: $base-black;
    margin-bottom: 0;
  }

  .mg-top-26 {
    margin-top: rem-calc(26) !important;
  }
  
  .news-search {
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin-top: rem-calc(30);

    @include breakpoint(large) {
      display: flex;
    }
  }

  .news-sort {
    display: block;
    font-size: rem-calc(14);
    font-weight: bold;
    color: $base-black;
    margin-right: rem-calc(33);
  }

  .news-search-field {
    width: rem-calc(300);
    height: rem-calc(44);
    padding: rem-calc(0 20);
    border: rem-calc(1) solid $greyish;
    margin-bottom: 0;
  }

  a {
    transition: all .4s;

    &:hover {
      text-decoration: underline;
    }
  }

  .news-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;

    @include breakpoint(medium) {
      width: 70%;

    }

    @include breakpoint(large) {
      width: auto;
    }
  }

  .news-container {
    display: flex;
    width: 100%;
    margin-top: rem-calc(26);

    @include breakpoint(medium) {
      width: 47%;
      display: block;
    }

    @include breakpoint(large) {
      max-width: rem-calc(340);
      margin-top: rem-calc(70);
    }
  }


  .news-img-container {
    position: relative;
    margin-right: rem-calc(10);

    @include breakpoint(medium) {
      margin-right: 0;
    }
  }

  .news-img-link {
    display: block;
  }

  .news-link {
    display: block;
    width: 65%;
    height: rem-calc(30);
    line-height: rem-calc(30);
    text-align: center;
    text-transform: uppercase;
    color: $white;
    background-color: $base-light-gray;
    font-size: rem-calc(12);
    opacity: 0.8;
    position: absolute;
    left: 0;
    bottom: rem-calc(15);
    letter-spacing: rem-calc(0.2);
    font-family: "Roboto";

    @include breakpoint(medium) {
      width: rem-calc(147);
      height: rem-calc(40);
      line-height: rem-calc(40);
      bottom: 0;
      font-size: rem-calc(14);
    }
  }

  .news-title {
    display: block;
    margin: rem-calc(10 0);
    font-weight: bold;
    line-height: rem-calc(14);

    @include breakpoint(medium) {
      margin: rem-calc(22 0 18);
      letter-spacing: rem-calc(0.3);
      line-height: rem-calc(24);

    }
  }

  .news-text {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    color: rgba(26, 26, 26, 0.58);
    width: 100%;
    margin-bottom: 0;

    @include breakpoint(large) {
      max-width: 67%;
      margin-bottom: rem-calc(16);
    }
  }

  .under-news {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(medium) {
      margin-top: rem-calc(10);
    }
  }

  .date-of-published {
    font-size: rem-calc(12);
    line-height: rem-calc(14);
    color: $greyish;
    padding-left: rem-calc(15);
    background-image: url("../img/news/date.svg");
    background-repeat: no-repeat;
    background-position: 0 26%;

  }

  .news-more {
    font-size: rem-calc(14);
    color: $base-light-gray;
  }
}