<section id="search-part">
    <div class="grid-container">
        <div class="search-part-input-wrapper">
            <input class="search-part-search-field input-common input-common-size-14 input-common-light-grey" type="text" placeholder="Что Вы ищите?">
        </div>
        <!-- /.search-part-input-wrapper -->
        <h2 class="search-part-title title title-bold title-uppercase">Результаты поиска по запросу
            "Футболка"</h2>
        <div class="nav-container">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная</a></li>
                    <li><span class="show-for-sr">Current: </span> Поиск</li>
                </ul>
            </nav>
        </div>
        <!-- /.nav-container -->
        {{> filter_top_line}}
        <div class="grid-x">
            {{> filter_part}}
            <div class="medium-offset-2 medium-8 large-offset-0 large-9 cell flex-for-medium-down">
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-1.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-2.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-3.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-4.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-5.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-6.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-1.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-2.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-3.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-4.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-5.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
                <div class="search-list">
                    <div class="search-img-wrapper">
                        <img src="../../assets/img/search_page/bitmap-6.png" alt="img" class="search-list-img">
                    </div>
                    <!-- /.search-img-wrapper -->
                    <div class="product-container">
                        <a href="#" class="product-container-name">Сноуборд</a>
                        <a href="#" class="product-container-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </a>
                        <span class="product-container-number">Арт. 18080813</span>
                    </div>
                    <div class="actions">
                        <span class="price">184 800.00 грн</span>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-arrows.svg" alt="img" class="actions-link-arrow" /></a>
                        <a href="#" class="actions-link"><img src="../../assets/img/search_page/black-heart.svg" alt="img" class="actions-link-heard" /></a></a>
                        <a href="/product_page.html" class="actions-link read-more">Подробнее</a>
                    </div>
                    <!-- /.links -->
                </div>
            </div>
            <!-- /.medium-9 large-9 cell -->
            <div class="pagination-container">
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <li class="pagination-previous disabled">Пред.</li>
                    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                    <li><a href="#" aria-label="Page 2">2</a></li>
                    <li><a href="#" aria-label="Page 3">3</a></li>
                    <li class="ellipsis"></li>
                    <li><a href="#" aria-label="Page 182">182</a></li>
                    <li class="pagination-next"><a href="#" aria-label="Next page">След.</a></li>
                </ul>
            </div>
            <!-- /.pagination-container -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#search-part -->