<div class="grid-x marg-top-45 top-line-show-only-for-large">
    <div class="medium-3 large-3 cell">
        <div class="filter-container">
            <span class="filter-title">Фильтр</span>
        </div>
        <!-- /.filter-container -->
    </div>
    <div class="medium-9 large-9 cell">
        <div class="results-flex">
            <div class="all-results">Всего <span class="all-results-count">128</span>
                результатов</div>
            <!-- /.all-results -->
            <div class="positions"><span class="position-count">12</span> позиций</div>
            <!-- /.positions -->
            <div class="from-expensive">От дорогих к дешевым</div>
            <!-- /.from-expensive -->
            <div class="view">
                <button class="view-btn"><img src="../../assets/img/search_page/normal.svg" alt="norm">
                </button>
                <button class="view-btn"><img src="../../assets/img/search_page/selected.svg" alt="selected">
                </button>
            </div>
            <!-- /.view -->
        </div>
        <!-- /.results-flex -->
    </div>
</div>
<!-- /.grid-x -->
