<div class="medium-3 large-3 cell show-only-for-large">
    <div class="left-sidebar">
        <div class="category">
            <span class="category-span">Категория</span>
            <div class="slideOne">
                <input type="checkbox" value="None" id="slideOne" name="check" checked />
                <label for="slideOne"></label>
            </div>
        </div>
        <!-- /.category -->
        <ul class="category-list">
            <li class="category-list-li"><a href="#" class="category-list-link">Зимний спорт</a></li>
            <li class="category-list-li"><a href="#" class="category-list-link">Велоспорт</a></li>
            <li class="category-list-li"><a href="#" class="category-list-link">Одежда</a></li>
            <li class="category-list-li"><a href="#" class="category-list-link">Обувь</a></li>
            <li class="category-list-li"><a href="#" class="category-list-link">Тактическое сняряжение</a></li>
            <li class="category-list-li"><a href="#" class="category-list-link">Снаряжение</a></li>
        </ul>
        <!-- /.category-list -->
        <div class="colors">
            <span class="colors-title">Цвет</span>
            <div class="colors-container">
                <div class="color-wrap">
                    <input type="checkbox" id="color-1">
                    <label for="color-1">
                        <img src="../../assets/img/search_page/colors/color-1.png" alt="color" class="colors-img" />
                    </label>
                </div>
                <div class="color-wrap">
                    <input type="checkbox" id="color-2">
                    <label for="color-2">
                        <img src="../../assets/img/search_page/colors/color-2.png" alt="color"
                             class="colors-img" />
                    </label>
                </div>
                <div class="color-wrap">
                    <input type="checkbox" id="color-3">
                    <label for="color-3">
                        <img src="../../assets/img/search_page/colors/color-2.png" alt="color"
                             class="colors-img" />
                    </label>
                </div>
                <div class="color-wrap">
                    <input type="checkbox" id="color-4">
                    <label for="color-4">
                        <img src="../../assets/img/search_page/colors/color-4.png" alt="color"
                             class="colors-img" />
                    </label>
                </div>
                <div class="color-wrap">
                    <input type="checkbox" id="color-5">
                    <label for="color-5">
                        <img src="../../assets/img/search_page/colors/color-5.png" alt="color"
                             class="colors-img" />
                    </label>
                </div>
                <div class="color-wrap">
                    <input type="checkbox" id="color-6">
                    <label for="color-6">
                        <img src="../../assets/img/search_page/colors/color-6.png" alt="color"
                             class="colors-img" />
                    </label>
                </div>
                <div class="color-wrap">
                    <input type="checkbox" id="color-7">
                    <label for="color-7">
                        <img src="../../assets/img/search_page/colors/color-7.png" alt="color"
                             class="colors-img" />
                    </label>
                </div>
                <div class="color-wrap">
                    <input type="checkbox" id="color-8">
                    <label for="color-8">
                        <img src="../../assets/img/search_page/colors/color-8.png" alt="color"
                             class="colors-img" />
                    </label>
                </div>
                <div class="color-wrap">
                    <input type="checkbox" id="color-9">
                    <label for="color-9">
                        <img src="../../assets/img/search_page/colors/color-9.png" alt="color"
                             class="colors-img" />
                    </label>
                </div>

            </div>
        </div>
        <!-- /.colors -->
        <div class="size">
            <span class="size-title">Размер</span>
            <div class="size-container">
                <div class="size-wrapper">
                    <input type="checkbox" id="1">
                    <label for="1">XXL</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="2">
                    <label for="2">3XL</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="3" checked>
                    <label for="3">XS</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="4">
                    <label for="4">3XL</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="5">
                    <label for="5">XXL</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="6">
                    <label for="6">M</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="7" checked>
                    <label for="7">11,5</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="8">
                    <label for="8">32,5</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="9">
                    <label for="9">44,5</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="10">
                    <label for="10">44,5</label>
                </div>
                <div class="size-wrapper">
                    <input type="checkbox" id="11">
                    <label for="11">44,5</label>
                </div>
            </div>
            <!-- /.size-container -->
        </div>
        <!-- /.size -->
        <div class="price-slider">
            <span class="price-slider-title">Цена</span>
            <div class="slider" data-slider data-initial-start="25" data-initial-end="75">
                <span class="slider-handle" data-slider-handle role="slider" aria-controls="sliderOutput-1"      tabindex="1"></span>
                <span class="slider-fill" data-slider-fill></span>
                <span class="slider-handle" data-slider-handle role="slider" aria-controls="sliderOutput-2"
                      tabindex="1"></span>
                <div class="under-slider">
                    <input type="number" id="sliderOutput-1">
                    <input type="number" id="sliderOutput-2">
                </div>
                <!-- /.under-slider -->
            </div>
            <button class="button price-ok">OK</button>
        </div>
        <!-- /.price-slider -->
        <div class="brand">
            <span class="brand-title">Бренд</span>
            <div class="brand-container">
                <div class="brand-point">
                    <input id="robotics" class="brand-checkbox" type="checkbox">
                    <label for="robotics">3D Robotics</label>
                </div>
                <div class="brand-point">
                    <input id="arva" class="brand-checkbox" type="checkbox" checked>
                    <label for="arva">ARVA</label>
                </div>
                <div class="brand-point">
                    <input id="atlas" class="brand-checkbox" type="checkbox" checked>
                    <label for="atlas">Atlas</label>
                </div>
                <div class="brand-point">
                    <input id="analog" class="brand-checkbox" type="checkbox">
                    <label for="analog">Analog</label>
                </div>
                <div class="brand-point">
                    <input id="adidas" class="brand-checkbox" type="checkbox">
                    <label for="adidas">Adidas</label>
                </div>
            </div>
        </div>
        <!-- /.brands -->
        <div class="material">
            <span class="material-title">Материал</span>
            <div class="material-container">
                <div class="material-point">
                    <input id="tree" class="material-checkbox" type="checkbox" checked>
                    <label for="tree">Дерево</label>
                </div>
                <div class="material-point">
                    <input id="carbon" class="material-checkbox" type="checkbox">
                    <label for="carbon">Carbon</label>
                </div>
                <div class="material-point">
                    <input id="tree-carbon" class="material-checkbox" type="checkbox" checked>
                    <label for="tree-carbon">Дерево+карбон</label>
                </div>
                <div class="material-point">
                    <input id="plastic" class="material-checkbox" type="checkbox">
                    <label for="plastic">Пластик</label>
                </div>
                <div class="material-point">
                    <input id="metal" class="material-checkbox" type="checkbox" checked>
                    <label for="metal">Металл</label>
                </div>
            </div>
        </div>
        <!-- /.material -->
        <div class="promotional-items">
            <div class="promotional-items-container">
                <span class="promotional-items-title">Акционные товары</span>
                <div class="slideTwo">
                    <input type="checkbox" value="None" id="slideTwo" name="check" checked />
                    <label for="slideTwo"></label>
                </div>
            </div>
        </div>
        <!-- /.promotional-items -->
        <div class="liters-slider">
            <span class="liters-slider-title">Литраж</span>
            <div class="slider" data-slider data-initial-start="25" data-initial-end="75">
                <span class="slider-handle" data-slider-handle role="slider" aria-controls="sliderOutput-3"      tabindex="1"></span>
                <span class="slider-fill" data-slider-fill></span>
                <span class="slider-handle" data-slider-handle role="slider" aria-controls="sliderOutput-4"
                      tabindex="1"></span>
                <div class="under-liters">
                    <input type="number" id="sliderOutput-3">
                    <input type="number" id="sliderOutput-4">
                </div>
                <!-- /.under-slider -->
            </div>
            <button class="button liters-ok">OK</button>
        </div>
        <!-- /.liters-slider -->
    </div>
    <!-- /.left-sidebar -->
</div>