<div id="header-mobile">
    <div class="header-mobile-left-controls">
        <a href="#" class="header-mobile-show-nav">
            <img src="../../assets/img/header-mobile/menu-list-1527.svg" alt="show-nav">
        </a>
        <a href="#" class="header-mobile-show-search">
            <img src="../../assets/img/header-mobile/black.svg" alt="show-search">
        </a>
    </div>
    <!-- /.header-mobile-left-controls -->
    <div class="header-mobile-logo-container">
        <a href="/">
            <img src="../../assets/img/header-mobile/shambala-logo-jpg.png" alt="logo">
        </a>
    </div>
    <!-- /.header-mobile-logo-container -->
    <div class="header-mobile-right-controls">
        <a href="#" class="header-mobile-show-basket">
            <img src="../../assets/img/header-mobile/white.svg" alt="show-basket">
        </a>
    </div>
    <!-- /.header-mobile-right-controls -->
</div>
<!-- /#header-mobile -->