<div id="header-dark" class="header-container">
    <div class="header-logo">
        <a class="header-logo-link" href="/">
            <img class="header-logo-img" src="../assets/img/home/bitmap.png" alt="logo"/>
        </a>
    </div>

    {{> top_menu}}

    <!-- /.header-nav -->
    <div class="header-phones">
        <a class="header-phones-number" href="#">8 800 888 88 88</a>
        <a class="header-phones-callback" href="#">Перезвоните мне</a>
    </div>
    <!-- /.header-phones -->
    <div class="user-info">
        <div class="user-info-content">
            <a class="user-info-link user-info-person" href="/personal_account.html">
                <img class="user-info-img" src="../assets/img/home/person.svg" alt="person"/>Мой
                аккаунт
            </a>
        </div>
        <div class="user-info-content">
            <a class="user-info-link user-info-heart" href="#"><img class="user-info-img"
                                                                    src="../assets/img/home/heart.svg" alt="heart"/>Желания
            </a>
        </div>
        <div class="user-info-content">
            <a class="user-info-link user-info-basket" href="/checkout.html"><img class="user-info-img" src="../assets/img/home/basket.svg" alt="basket"/>Корзина</a>
        </div>
    </div>
    <!-- /.user-info -->

    <div id="open-catalogue-menu" class="reveal" data-reveal>
        <div class="pop-up-container ul-container">
            <ul class="categories-ul">
                <li class="categories-li">
                    <a href="#" class="categories-link">Одежда</a>
                    <div class="li-container clothes">
                        <div class="li-container-left-side">
                            <div class="left-side-flex-li">
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Велосипеды</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велосипеды горные (МТВ)</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Шоссейные велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Двухподвесы</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Циклокросс</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">E-bike</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Женские велосипеды</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Городские велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Детские велосипеды</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                    <a href="#" class="title-link title-mg-top">Велоодежда</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велошорты</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Веловетровки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велоперчатки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велотуфли</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Компоненты</a>
                                    <ul class="components">
                                        <li class="components-li"><a href="#" class="components-link">Тормоза</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Покрышки,
                                            камеры</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Выноса</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Кассеты</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Цепи</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Каретки</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Педали</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Ремонтные
                                            запчасти</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Гидролинии</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Звезды</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Колодки
                                            тормозные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Эксцентрики</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Петухи
                                            велосипедные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Рога</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Троссы</a></li>
                                    </ul>
                                    <!-- /.components -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Аксессуары</a>
                                    <ul class="accessories">
                                        <li class="accessories-li"><a href="#" class="accessories-link">Каски</a></li>
                                        <li class="accessories-li"><a href="#"
                                                                      class="accessories-link">Велокомпьютеры</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Сёдла</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Велосумки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Подножки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Багажники</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Защита цепи,
                                            рамы, ободов</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Звонки,
                                            сигналы</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Средства по
                                            уходу</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Фляги</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Разное</a></li>
                                    </ul>
                                    <!-- /.accessories -->
                                </div>
                            </div>
                            <!-- /.left-side-flex-li -->
                            <div class="left-side-brands">
                                <ul class="brands">
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-1.png" alt="1"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-2.png" alt="2"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-3.png" alt="3"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-4.png" alt="4"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-5.png" alt="5"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-6.png" alt="6"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-7.png" alt="7"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link all-brands">Все бренды</a></li>
                                </ul>
                                <!-- /.brands -->
                            </div>
                            <!-- /.left-side-brands -->
                        </div>
                        <!-- /.li-container-left-side -->
                        <div class="li-container-right-side">
                            <a href="#" class="button sale-1">Распродажа</a>
                            <h2 class="right-side-title">Гигантские скидки <br>на парки <br>The
                                North Face</h2>
                            <a href="#" class="know-more">Узнать больше</a>
                            <img class="jacket-img" src="../assets/img/home/jacket.png" alt="jacket">
                        </div>
                        <!-- /.li-container-right-side -->
                    </div>
                    <!-- /.li-container -->
                </li>

                <li class="categories-li">
                    <a href="#" class="categories-link">Обувь</a>
                    <div class="li-container shoes">
                        <div class="li-container-left-side">
                            <div class="left-side-flex-li">
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Аксессуары</a>
                                    <ul class="accessories">
                                        <li class="accessories-li"><a href="#" class="accessories-link">Каски</a></li>
                                        <li class="accessories-li"><a href="#"
                                                                      class="accessories-link">Велокомпьютеры</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Сёдла</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Велосумки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Подножки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Багажники</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Защита цепи,
                                            рамы, ободов</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Звонки,
                                            сигналы</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Средства по
                                            уходу</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Фляги</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Разное</a></li>
                                    </ul>
                                    <!-- /.accessories -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Велосипеды</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велосипеды горные (МТВ)</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Шоссейные велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Двухподвесы</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Циклокросс</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">E-bike</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Женские велосипеды</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Городские велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Детские велосипеды</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                    <a href="#" class="title-link title-mg-top">Велоодежда</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велошорты</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Веловетровки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велоперчатки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велотуфли</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Компоненты</a>
                                    <ul class="components">
                                        <li class="components-li"><a href="#" class="components-link">Тормоза</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Покрышки,
                                            камеры</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Выноса</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Кассеты</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Цепи</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Каретки</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Педали</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Ремонтные
                                            запчасти</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Гидролинии</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Звезды</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Колодки
                                            тормозные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Эксцентрики</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Петухи
                                            велосипедные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Рога</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Троссы</a></li>
                                    </ul>
                                    <!-- /.components -->
                                </div>
                            </div>
                            <!-- /.left-side-flex-li -->
                            <div class="left-side-brands">
                                <ul class="brands">
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-1.png" alt="1"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-2.png" alt="2"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-3.png" alt="3"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-4.png" alt="4"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-5.png" alt="5"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-6.png" alt="6"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-7.png" alt="7"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link all-brands">Все бренды</a></li>
                                </ul>
                                <!-- /.brands -->
                            </div>
                            <!-- /.left-side-brands -->
                        </div>
                        <!-- /.li-container-left-side -->
                        <div class="li-container-right-side">
                            <a href="#" class="button action">Акция</a>
                            <h2 class="right-side-title">Cкидки до <span class="percents">50%</span>
                                <br>на обувь Salomon </h2>
                            <a href="#" class="know-more">Узнать больше</a>
                            <!--<img class="dont-know-what" src="../assets/img/home/bitmap@1x.png" alt="bike">-->
                        </div>
                        <!-- /.li-container-right-side -->
                    </div>
                    <!-- /.li-container -->
                </li>

                <li class="categories-li">
                    <a href="#" class="categories-link">Рюкзаки и сумки</a>
                    <div class="li-container bags">
                        <div class="li-container-left-side">
                            <div class="left-side-flex-li">
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Компоненты</a>
                                    <ul class="components">
                                        <li class="components-li"><a href="#" class="components-link">Тормоза</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Покрышки,
                                            камеры</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Выноса</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Кассеты</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Цепи</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Каретки</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Педали</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Ремонтные
                                            запчасти</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Гидролинии</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Звезды</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Колодки
                                            тормозные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Эксцентрики</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Петухи
                                            велосипедные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Рога</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Троссы</a></li>
                                    </ul>
                                    <!-- /.components -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Аксессуары</a>
                                    <ul class="accessories">
                                        <li class="accessories-li"><a href="#" class="accessories-link">Каски</a></li>
                                        <li class="accessories-li"><a href="#"
                                                                      class="accessories-link">Велокомпьютеры</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Сёдла</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Велосумки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Подножки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Багажники</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Защита цепи,
                                            рамы, ободов</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Звонки,
                                            сигналы</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Средства по
                                            уходу</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Фляги</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Разное</a></li>
                                    </ul>
                                    <!-- /.accessories -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Велосипеды</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велосипеды горные (МТВ)</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Шоссейные велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Двухподвесы</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Циклокросс</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">E-bike</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Женские велосипеды</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Городские велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Детские велосипеды</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                    <a href="#" class="title-link title-mg-top">Велоодежда</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велошорты</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Веловетровки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велоперчатки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велотуфли</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                </div>
                            </div>
                            <!-- /.left-side-flex-li -->
                            <div class="left-side-brands">
                                <ul class="brands">
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-1.png" alt="1"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-2.png" alt="2"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-3.png" alt="3"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-4.png" alt="4"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-5.png" alt="5"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-6.png" alt="6"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-7.png" alt="7"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link all-brands">Все бренды</a></li>
                                </ul>
                                <!-- /.brands -->
                            </div>
                            <!-- /.left-side-brands -->
                        </div>
                        <!-- /.li-container-left-side -->
                        <div class="li-container-right-side">
                            <a href="#" class="button action">Акция</a>
                            <h2 class="right-side-title">Cкидки до <span class="percents">50%</span>
                                <br>на обувь Salomon </h2>
                            <a href="#" class="know-more">Узнать больше</a>
                        </div>
                        <!-- /.li-container-right-side -->
                    </div>
                    <!-- /.li-container -->
                </li>

                <li class="categories-li">
                    <a href="#" class="categories-link">Туризм и кэмпинг</a>
                    <div class="li-container tourism">
                        <div class="li-container-left-side">
                            <div class="left-side-flex-li">
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Велосипеды</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велосипеды горные (МТВ)</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Шоссейные велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Двухподвесы</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Циклокросс</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">E-bike</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Женские велосипеды</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Городские велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Детские велосипеды</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                    <a href="#" class="title-link title-mg-top">Велоодежда</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велошорты</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Веловетровки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велоперчатки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велотуфли</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Компоненты</a>
                                    <ul class="components">
                                        <li class="components-li"><a href="#" class="components-link">Тормоза</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Покрышки,
                                            камеры</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Выноса</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Кассеты</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Цепи</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Каретки</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Педали</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Ремонтные
                                            запчасти</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Гидролинии</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Звезды</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Колодки
                                            тормозные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Эксцентрики</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Петухи
                                            велосипедные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Рога</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Троссы</a></li>
                                    </ul>
                                    <!-- /.components -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Аксессуары</a>
                                    <ul class="accessories">
                                        <li class="accessories-li"><a href="#" class="accessories-link">Каски</a></li>
                                        <li class="accessories-li"><a href="#"
                                                                      class="accessories-link">Велокомпьютеры</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Сёдла</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Велосумки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Подножки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Багажники</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Защита цепи,
                                            рамы, ободов</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Звонки,
                                            сигналы</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Средства по
                                            уходу</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Фляги</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Разное</a></li>
                                    </ul>
                                    <!-- /.accessories -->
                                </div>
                            </div>
                            <!-- /.left-side-flex-li -->
                            <div class="left-side-brands">
                                <ul class="brands">
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-1.png" alt="1"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-2.png" alt="2"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-3.png" alt="3"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-4.png" alt="4"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-5.png" alt="5"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-6.png" alt="6"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-7.png" alt="7"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link all-brands">Все бренды</a></li>
                                </ul>
                                <!-- /.brands -->
                            </div>
                            <!-- /.left-side-brands -->
                        </div>
                        <!-- /.li-container-left-side -->
                        <div class="li-container-right-side">
                            <a href="#" class="button action">Акция</a>
                            <h2 class="right-side-title">Cкидки до 50%
                                <br>на обувь Salomon </h2>
                            <a href="#" class="know-more">Узнать больше</a>
                            <!--<img class="dont-know-what" src="../assets/img/home/bitmap@1x.png" alt="bike">-->
                        </div>
                        <!-- /.li-container-right-side -->
                    </div>
                    <!-- /.li-container -->
                </li>

                <li class="categories-li">
                    <a href="#" class="categories-link">Снаряжение</a>
                    <div class="li-container equipment">
                        <div class="li-container-left-side">
                            <div class="left-side-flex-li">
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Аксессуары</a>
                                    <ul class="accessories">
                                        <li class="accessories-li"><a href="#" class="accessories-link">Каски</a></li>
                                        <li class="accessories-li"><a href="#"
                                                                      class="accessories-link">Велокомпьютеры</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Сёдла</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Велосумки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Подножки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Багажники</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Защита цепи,
                                            рамы, ободов</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Звонки,
                                            сигналы</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Средства по
                                            уходу</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Фляги</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Разное</a></li>
                                    </ul>
                                    <!-- /.accessories -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Велосипеды</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велосипеды горные (МТВ)</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Шоссейные велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Двухподвесы</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Циклокросс</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">E-bike</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Женские велосипеды</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Городские велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Детские велосипеды</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                    <a href="#" class="title-link title-mg-top">Велоодежда</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велошорты</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Веловетровки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велоперчатки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велотуфли</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Компоненты</a>
                                    <ul class="components">
                                        <li class="components-li"><a href="#" class="components-link">Тормоза</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Покрышки,
                                            камеры</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Выноса</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Кассеты</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Цепи</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Каретки</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Педали</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Ремонтные
                                            запчасти</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Гидролинии</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Звезды</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Колодки
                                            тормозные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Эксцентрики</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Петухи
                                            велосипедные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Рога</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Троссы</a></li>
                                    </ul>
                                    <!-- /.components -->
                                </div>
                            </div>
                            <!-- /.left-side-flex-li -->
                            <div class="left-side-brands">
                                <ul class="brands">
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-1.png" alt="1"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-2.png" alt="2"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-3.png" alt="3"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-4.png" alt="4"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-5.png" alt="5"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-6.png" alt="6"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-7.png" alt="7"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link all-brands">Все бренды</a></li>
                                </ul>
                                <!-- /.brands -->
                            </div>
                            <!-- /.left-side-brands -->
                        </div>
                        <!-- /.li-container-left-side -->
                        <div class="li-container-right-side">
                            <h2 class="right-side-title">Cкидки до <span class="percents">50%</span>
                                <br>на обувь Salomon </h2>
                            <a href="#" class="know-more">Узнать больше</a>
                        </div>
                        <!-- /.li-container-right-side -->
                    </div>
                    <!-- /.li-container -->
                </li>

                <li class="categories-li">
                    <a href="#" class="categories-link">Лыжи и сноуборд</a>
                    <div class="li-container ski">
                        <div class="li-container-left-side">
                            <div class="left-side-flex-li">
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Компоненты</a>
                                    <ul class="components">
                                        <li class="components-li"><a href="#" class="components-link">Тормоза</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Покрышки,
                                            камеры</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Выноса</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Кассеты</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Цепи</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Каретки</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Педали</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Ремонтные
                                            запчасти</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Гидролинии</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Звезды</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Колодки
                                            тормозные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Эксцентрики</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Петухи
                                            велосипедные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Рога</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Троссы</a></li>
                                    </ul>
                                    <!-- /.components -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Велосипеды</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велосипеды горные (МТВ)</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Шоссейные велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Двухподвесы</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Циклокросс</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">E-bike</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Женские велосипеды</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Городские велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Детские велосипеды</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                    <a href="#" class="title-link title-mg-top">Велоодежда</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велошорты</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Веловетровки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велоперчатки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велотуфли</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                </div>

                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Аксессуары</a>
                                    <ul class="accessories">
                                        <li class="accessories-li"><a href="#" class="accessories-link">Каски</a></li>
                                        <li class="accessories-li"><a href="#"
                                                                      class="accessories-link">Велокомпьютеры</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Сёдла</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Велосумки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Подножки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Багажники</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Защита цепи,
                                            рамы, ободов</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Звонки,
                                            сигналы</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Средства по
                                            уходу</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Фляги</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Разное</a></li>
                                    </ul>
                                    <!-- /.accessories -->
                                </div>
                            </div>
                            <!-- /.left-side-flex-li -->
                            <div class="left-side-brands">
                                <ul class="brands">
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-1.png" alt="1"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-2.png" alt="2"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-3.png" alt="3"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-4.png" alt="4"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-5.png" alt="5"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-6.png" alt="6"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-7.png" alt="7"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link all-brands">Все бренды</a></li>
                                </ul>
                                <!-- /.brands -->
                            </div>
                            <!-- /.left-side-brands -->
                        </div>
                        <!-- /.li-container-left-side -->
                        <div class="li-container-right-side">
                            <h2 class="right-side-title">Cкидки до <span class="percents">50%</span>
                                <br>на обувь Salomon </h2>
                            <a href="#" class="know-more">Узнать больше</a>
                        </div>
                        <!-- /.li-container-right-side -->
                    </div>
                    <!-- /.li-container -->
                </li>

                <li class="categories-li">
                    <a href="#" class="categories-link">Велоспорт</a>
                    <div class="li-container cycling">
                        <div class="li-container-left-side">
                            <div class="left-side-flex-li">
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Аксессуары</a>
                                    <ul class="accessories">
                                        <li class="accessories-li"><a href="#" class="accessories-link">Каски</a></li>
                                        <li class="accessories-li"><a href="#"
                                                                      class="accessories-link">Велокомпьютеры</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Сёдла</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Велосумки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Подножки</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Багажники</a>
                                        </li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Защита цепи,
                                            рамы, ободов</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Звонки,
                                            сигналы</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Средства по
                                            уходу</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Фляги</a></li>
                                        <li class="accessories-li"><a href="#" class="accessories-link">Разное</a></li>
                                    </ul>
                                    <!-- /.accessories -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Компоненты</a>
                                    <ul class="components">
                                        <li class="components-li"><a href="#" class="components-link">Тормоза</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Покрышки,
                                            камеры</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Выноса</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Кассеты</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Цепи</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Каретки</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Педали</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Ремонтные
                                            запчасти</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Гидролинии</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Звезды</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Колодки
                                            тормозные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Эксцентрики</a>
                                        </li>
                                        <li class="components-li"><a href="#" class="components-link">Петухи
                                            велосипедные</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Рога</a></li>
                                        <li class="components-li"><a href="#" class="components-link">Троссы</a></li>
                                    </ul>
                                    <!-- /.components -->
                                </div>
                                <div class="left-side-flex-li-container">
                                    <a href="#" class="title-link">Велосипеды</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велосипеды горные (МТВ)</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Шоссейные велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Двухподвесы</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Циклокросс</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">E-bike</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Женские велосипеды</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Городские велосипеды</a>
                                        </li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Детские велосипеды</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                    <a href="#" class="title-link title-mg-top">Велоодежда</a>
                                    <ul class="cycle">
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велошорты</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Веловетровки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велоперчатки</a></li>
                                        <li class="cycle-li"><a href="#" class="cycle-link">Велотуфли</a></li>
                                    </ul>
                                    <!-- /.cycle -->
                                </div>
                            </div>
                            <!-- /.left-side-flex-li -->
                            <div class="left-side-brands">
                                <ul class="brands">
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-1.png" alt="1"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-2.png" alt="2"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-3.png" alt="3"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-4.png" alt="4"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-5.png" alt="5"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-6.png" alt="6"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link"><img
                                            src="../assets/img/home/bitmap-7.png" alt="7"></a></li>
                                    <li class="brands-li"><a href="#" class="brands-link all-brands">Все бренды</a></li>
                                </ul>
                                <!-- /.brands -->
                            </div>
                            <!-- /.left-side-brands -->
                        </div>
                        <!-- /.li-container-left-side -->
                        <div class="li-container-right-side">
                            <a href="#" class="button sale">Распродажа</a>
                            <h2 class="right-side-title">Велосипеды <br>Crocus и Titan</h2>
                            <a href="#" class="know-more">Узнать больше</a>
                            <img class="bike-bg" src="../assets/img/home/bike-copy-origin.png" alt="bike">
                        </div>
                        <!-- /.li-container-right-side -->
                    </div>
                    <!-- /.li-container -->
                </li>

                <li class="categories-li">
                    <a href="#" class="categories-link">Акции</a>
                </li>

                <li class="categories-li">
                    <a href="#" class="categories-link">Бренды</a>
                </li>

                <li class="categories-li">
                    <a href="#" class="categories-link">Полный каталог</a>
                </li>

            </ul>
            <!-- /.categories-ul -->
        </div>
        <!--<div class="pop-up-container content-container">-->
        <!--vneovnewovnowev-->
        <!--</div>-->
    </div>
    <!-- /.reveal -->
</div>
<!-- /.header-container -->