<div id="search-container">
    <div class="request"><a class="request-link" href="#">найдено по вашему запросу:</a></div>
    <a class="search-content">
        <img class="product-img" src="../assets/img/search/bitmap-1.png" alt="bitmap-1" />
        <div class="product-container">
            <span class="product-name">Сноуборд</span>
            <span class="product-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
            <span class="product-number">Арт. 18080813</span>
        </div>
        <span class="price">184 800.00 грн</span>
    </a>
    <a class="search-content">
        <img class="product-img" src="../assets/img/search/bitmap-2.png" alt="bitmap-2" />
        <div class="product-container">
            <span class="product-name">Сноуборд</span>
            <span class="product-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
            <span class="product-number">Арт. 18080813</span>
        </div>
        <span class="price">184 800.00 грн</span>
    </a>
    <a class="search-content">
        <img class="product-img" src="../assets/img/search/bitmap-3.png" alt="bitmap-3" />
        <div class="product-container">
            <span class="product-name">Сноуборд</span>
            <span class="product-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
            <span class="product-number">Арт. 18080813</span>
        </div>
        <span class="price">184 800.00 грн</span>
    </a>
    <a class="search-content">
        <img class="product-img" src="../assets/img/search/bitmap-4.png" alt="bitmap-4" />
        <div class="product-container">
            <span class="product-name">Сноуборд</span>
            <span class="product-descr">Norrøna Lofoten 30 Removable Airbag 3.0 Ready </span>
            <span class="product-number">Арт. 18080813</span>
        </div>
        <span class="price">184 800.00 грн</span>
    </a>
    <div class="all-results">
        <a href="#" class="all-results-link">Все
            результаты поиска (<span class="all-results-count">128</span>)</a>
    </div>
    <!-- /.all-results -->
</div>
<!-- /.search-container -->