#checkout-left-side {

  .step {
    box-shadow: rem-calc(0 2 14 0) rgba(0, 0, 0, 0.12);
  }

  //tabs option first
  .option-first {

    .tabs-title:first-of-type {
      width: 31%;
      position: absolute;
      height: rem-calc(48);

      & a {
        height: rem-calc(48);
        vertical-align: middle;
        line-height: rem-calc(22);
      }
    }

    .tabs-title:last-of-type {
      width: 100%;
      text-align: right;
    }
  }
  //tabs option first end


  //tabs option second
  .option-second {
    margin-top: rem-calc(15);
    position: relative;
    margin-bottom: rem-calc(15);

    .tabs-title:last-of-type {
      width: 56%;
      position: absolute;
      height: rem-calc(48);
      right: 0;

      & a {
        height: rem-calc(48);
        vertical-align: middle;
        line-height: rem-calc(22);
      }
    }

    .tabs-title:first-of-type {
      width: 100%;
      text-align: left;
    }
  }

  //tabs option second end


  .step-tabs {
    border: none;
    border-bottom: 1px solid rgba(48, 48, 48, 0.1);
    margin-bottom: 0;
  }

  .tabs-title {
    width: 50%;
    text-align: center;
  }

  .tabs-title > a {
    text-transform: uppercase;
    font-size: rem-calc(14);
    padding: rem-calc(14 97);
  }

  .is-active > a {
    background-color: $base-light-gray;
    color: $white;
  }

  .step-title {
    padding: rem-calc(15 20 0 20);
    font-size: rem-calc(20);
    font-weight: bold;
    line-height: rem-calc(30);
    letter-spacing: rem-calc(0.3);

    & img {
      margin-left: rem-calc(20);
    }
  }

  .tabs-panel {
    padding: 0;
  }

  .tabs-content {
    border: none;
    padding: rem-calc(30 20 35 20);
  }

  //regular-customer-container
  .regular-customer-container {
    display: flex;
    justify-content: center;

    & form {
      width: rem-calc(334);
    }

    & input {
      font-size: rem-calc(16);
    }

    & input, & button {
      font-size: rem-calc(14);
      display: block;
      width: rem-calc(334);
      height: rem-calc(44);
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);
    }

    & label {
      display: block;
      margin-left: rem-calc(22);
      color: $greyish;
      font-size: rem-calc(14);
      margin-top: rem-calc(14);
    }

    & button {
      text-transform: uppercase;
      color: $white;
      margin: 0;
    }

    & span {
      display: block;
      text-align: center;
      color: $greyish;
      font-size: rem-calc(14);
      margin-top: rem-calc(20);
    }

    .btn-entrance {
      margin-top: rem-calc(30);
      background-color: $base-light-gray;
    }

    .btn-entrance-fb {
      margin-top: rem-calc(20);
      background-color: $fb-btn-color;
      background-image: url(../img/checkout/ic-fb.svg);
      background-repeat: no-repeat;
      background-position: 5% 50%;

    }

    .btn-entrance-g-plus {
      margin-top: rem-calc(10);
      background-color: $g-plus-btn-color;
      background-image: url(../img/checkout/ic-g.svg);
      background-repeat: no-repeat;
      background-position: 5% 50%;
    }
  }
  //regular-customer-container-end


  //new-customer-container
  .new-customer-container {

    & form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    & input {
      width: rem-calc(250);
      height: rem-calc(44);
      box-sizing: border-box;
      padding: rem-calc(0 17);
      margin-bottom: 0;
      border-color: $greyish;
    }

    & label {
      display: inline-block;
      width: rem-calc(250);
      margin-top: rem-calc(20);
      padding-left: rem-calc(17);
      color: $greyish;
    }

    .new-next {
      padding: rem-calc(18 84);
      text-transform: uppercase;
      font-size: rem-calc(16);
      background-color: $base-light-gray;
      margin-top: rem-calc(50);
      margin-bottom: 0;
    }
  }

  .new-btn-wrapper {
    padding-left: rem-calc(47);
    width: 100%;
  }
  //new-customer-container-end

  //step-2
  .step-2 {
    padding: rem-calc(30 20 40);
    margin-top: rem-calc(20);


    & .step-title {
      padding: 0;
    }

    &-content {
      padding: rem-calc(30 0 0 38);
    }

    input[type="radio"] {
      display: none;

      &:checked + label::before {
        background-image: url(../img/checkout/selected.svg);
        background-repeat: no-repeat;
      }
    }

    .select-container {
      padding-left: 10px;
      display: flex;
      justify-content: space-evenly;
      margin-top: rem-calc(20);
    }

    #city-post {
      width: rem-calc(210);
      height: rem-calc(44);
      box-sizing: border-box;
      padding-left: rem-calc(14);
      margin-bottom: 0;
    }

    #post-office {
      width: rem-calc(304);
      height: rem-calc(44);
      box-sizing: border-box;
      padding-left: rem-calc(14);
      margin-bottom: 0;
    }

    label {
      display: block;
      font-size: rem-calc(14);
      padding-left: rem-calc(30);
      background-repeat: no-repeat;
      background-position: 0 50%;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: rem-calc(2);
        left: 0;
        background-image: url(../img/checkout/unselected.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: rem-calc(21);
        height: rem-calc(21);
      }

      &:not(:first-of-type) {
        margin-top: rem-calc(20);
      }

      &:last-of-type {
        display: inline-block;
      }
    }

    .show-on-map {
      font-size: rem-calc(14);
      color: $greyish;
    }

    .btn-next {
      display: block;
      padding: rem-calc(18 84);
      text-transform: uppercase;
      font-size: 1rem;
      background-color: $base-light-gray;
      margin-top: 3.125rem;
      margin-bottom: 0;
    }
  }
  //step-2-end

  //step-3
  .step-3 {
    padding: rem-calc(30 20 40);
    margin-top: rem-calc(20);

    label {
      display: block;
      font-size: rem-calc(14);
      padding-left: rem-calc(30);
      background-repeat: no-repeat;
      background-position: 0 50%;
      position: relative;
      margin-top: rem-calc(30);

      &::before {
        content: "";
        position: absolute;
        top: rem-calc(2);
        left: 0;
        background-image: url(../img/checkout/unselected.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: rem-calc(21);
        height: rem-calc(21);
      }
    }


    & .step-title {
      padding: 0;
    }

    &-content {
      padding: rem-calc(0 0 0 38);
    }

    input[type="radio"] {
      display: none;

      &:checked + label::before {
        background-image: url(../img/checkout/selected.svg);
        background-repeat: no-repeat;
      }
    }

  .img-container {
    padding-left: rem-calc(20);
    margin-top: rem-calc(30);
  }
  }
  //step-3-end
}