#checkout-right-side {
  padding: rem-calc(40 20);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.12);
  margin-left: rem-calc(20);

  .checkout-right-side {

    &-title {
      padding-left: rem-calc(25);
      text-transform: uppercase;
      font-size: rem-calc(14);
      font-weight: bold;
    }

  }

  .right-side-top-line {
    margin-top: rem-calc(30);
    color: rgba(26, 26, 26, 0.7);
    padding-bottom: rem-calc(10);
    border-bottom: rem-calc(1) solid rgba(48, 48, 48, 0.1);
    display: flex;
    justify-content: space-around;
  }

  .your-order-container {
    margin-top: rem-calc(10);
    padding-bottom: rem-calc(30);
    border-bottom: rem-calc(1) solid rgba(48, 48, 48, 0.1);

    &-content {
      display: flex;
      justify-content: space-around;
      font-size: rem-calc(14);
      align-items: center;

      &:not(:first-of-type) {
        margin-top: rem-calc(30);
      }
    }

    .your-order-describe {
      width: rem-calc(200);

      span, a {
        display: block;
      }

      .order-descr, .order-count {
        color: $greyish;
      }
    }
  }
  // your-order-container-end

  //to-order-container
  .to-order-container {
    padding: rem-calc(28 16 0);
    font-size: rem-calc(14);


    .total-sum-container {
      display: flex;
      justify-content: space-between;
    }

    .total-sum {
      color: rgba(26, 26, 26, 0.7);
    }

    a {
      text-decoration: underline;
      display: block;
    }

    .have-promo {
      margin-top: rem-calc(16);
    }

    .have-card {
      margin-top: rem-calc(10);
    }

    .promo-container {
      display: flex;
      margin-top: rem-calc(14);
    }

    .promo-input {
      padding: rem-calc(9 15);
      font-size: rem-calc(14);
      height: rem-calc(36);
      border-color: $black;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 0;
    }
    
    .btn-promo {
      background-color: $black;
      height: rem-calc(36);
      width: 13%;
      background-image: url(../img/checkout/white.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-position: 80% 50%;
      }
    }

    .last-sum-container {
      display: flex;
      justify-content: space-between;
      font-size: rem-calc(18);
      font-weight: bold;
      align-items: center;
      margin-top: rem-calc(23);
    }

    .check-container {
      font-size: rem-calc(14);
      margin-top: rem-calc(32);

      input[type="checkbox"] {
        display: none;

        &:checked + label::before {
          background-image: url(../img/checkout/selected-checkbox.svg);
          background-repeat: no-repeat;
        }
      }

      label {
        color: rgba(26, 26, 26, 0.7);
        position: relative;
        padding-left: rem-calc(25);
        
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: rem-calc(5);
          background-image: url(../img/checkout/disabled.svg);
          background-repeat: no-repeat;
          height: rem-calc(16);
          width: rem-calc(15);
        }
      }
    }

    .btn-send-order {
      margin: rem-calc(30 auto 0);
      font-size: rem-calc(14);
      text-transform: uppercase;
      padding: rem-calc(18 84);
      width: rem-calc(370);
      display: block;
    }
  }
  //to-order-container-end

}

//have-questions
.have-questions {
  margin: rem-calc(20 0 0 20);
  padding: rem-calc(24 40);
  background-color: $bg-search-page;

  &-title {
    font-size: rem-calc(14);
    font-weight: bold;
    text-transform: uppercase;
  }

  &-text {
    margin-top: rem-calc(16);
    font-size: rem-calc(14);
  }
}
//have-questions-end