<ul class="header-nav">
    <li class="header-nav-li">
        <a href="#" class="directory header-nav-link" data-open="open-catalogue-menu">Каталог товаров</a>
    </li>
    <li class="header-nav-li"><a href="/brands_page.html" class="header-nav-link">Бренды</a></li>
    <li class="header-nav-li"><a href="/" class="header-nav-link">Новинки</a></li>
    <li class="header-nav-li"><a href="/sale_list.html" class="header-nav-link">Скидки</a></li>
    <li class="header-nav-li"><a href="/blog.html" class="header-nav-link">Новости</a></li>
</ul>
<!-- /.header-nav -->
