#buy-with-it {
  background-color: $white;
  padding-bottom: rem-calc(50);
  .buy-with-it {

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      //font-size: rem-calc(30);
      line-height: rem-calc(66);
      letter-spacing: rem-calc(0.5);
      text-align: center;
      margin-bottom: 0;
    }
  }

  .marg-top-20 {
    margin-top: rem-calc(20);
  }

  .product-container {
    padding: rem-calc(30 8 20);
    transition: all .4s;
    background-color: $white;

    &:hover {
      transform: scale(1.1);
      box-shadow: rem-calc(0 2 20 0) rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      //padding: rem-calc(30 35 22);
      z-index: 10;
    }

    &:hover .to-order {
      display: block;
    }

    & img {
      display: block;
      margin: 0 auto;
    }

    & select {
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }

  .product-name {
    text-transform: uppercase;
    font-size: rem-calc(12);
    color: $greyish;
    display: block;
  }

  .product-descr {
    font-size: rem-calc(14);
    display: block;
    margin-top: rem-calc(6);
  }

  .product-price {
    color: $greyish;
    font-size: rem-calc(14);
    display: block;
    margin-top: rem-calc(6);
  }

  .to-order {
    margin-top: rem-calc(36);
    text-align: center;
    margin-bottom: rem-calc(22);
    display: none;
    transition: all .4s;

    input[type="checkbox"] {
      display: none;

      &:checked + label::before {
        background-image: url(../img/product-page/selected.svg);
        background-repeat: no-repeat;
      }
    }

    & label {
      color: #303030;
      position: relative;
      margin: 0;
      padding-left: rem-calc(21);
      font-size: rem-calc(14);
      color: rgba(12, 12, 12, 0.61);

      &::before {
        content: "";
        position: absolute;
        top: rem-calc(4);
        left: 0;
        background-image: url(../img/product-page/disabled.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: rem-calc(16);
        height: rem-calc(16);
      }
    }
  }

  .total {
    margin-top: rem-calc(40);
    text-align: center;
    font-size: rem-calc(14);
    color: $black;

    &-sum {
      color: $greyish;
      margin-left: rem-calc(10);
    }
  }

  .buy-set-container {
    text-align: center;
    margin-top: rem-calc(45);
  }

  .buy-set {
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: rem-calc(14);
    padding: rem-calc(16 61 16 84);
    background-color: #323232;
    color: $white;
    text-transform: uppercase;
    background-image: url(../img/product-page/bag.svg);
    background-repeat: no-repeat;
    background-position: 28% 46%;
    transition: all .4s;

    @include breakpoint(large) {
      display: inline;
    }

    &:hover {
      background-position: 22% 46%;
    }
  }

}