#maybe-you-found {
  background-color: $bg-search-page;
  padding: rem-calc(40 0 70);

  .maybe-you-found {

    &-title {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      line-height: rem-calc(40);
      letter-spacing: rem-calc(0.5);

      @include breakpoint(large) {
        text-align: left;
      }
    }
  }

  .maybe-flex {
    display: flex;
    justify-content: space-evenly;
  }

  .you-found-container {
    width: 50%;
    background-color: $white;
    padding: rem-calc(30 10 12 10);
    position: relative;

    @include breakpoint(medium) {
      width: rem-calc(265);
    }

    & img {
      display: block;
      margin: 0 auto;
    }
  }

  .you-found-name {
    display: block;
    margin-top: rem-calc(20);
    color: $greyish;
    font-size: rem-calc(14);
    text-transform: uppercase;
  }

  .you-found-descr {
    font-size: rem-calc(14);
    display: block;
  }

  .you-found-price {
    font-size: rem-calc(14);
  }

  .new-price {
    color: $base-pink;
  }

  .old-price {
    display: block;
    color: $greyish;
    font-size: rem-calc(12);
    text-decoration: line-through;

    @include breakpoint(medium) {
      margin-left: rem-calc(16);
      display: inline-block;
    }
  }

  .minus-percent {
    font-size: rem-calc(10);
    font-style: italic;
    color: #fefefe;
    padding: rem-calc(9 14);
    position: absolute;
    right: rem-calc(20);
    top: rem-calc(20);
  }
}