#same-category {
  background-color: $white;
  padding-top: rem-calc(50);
  padding-bottom: rem-calc(50);
  display: none;

  @include breakpoint(large) {
    display: block;
  }

  .same-category-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem-calc(30);
    line-height: rem-calc(66);
    letter-spacing: rem-calc(0.5);
    text-align: center;
    margin-bottom: 0;
  }

  .same-category-container {
    display: flex;
    justify-content: center;
    font-size: rem-calc(14);
    margin-top: rem-calc(30);
  }

  .photo {

    &-title {
      background-color: $base-black;
      text-transform: uppercase;
      color: $white;
      padding: rem-calc(13 28);
      border-right: rem-calc(1) solid $white;
    }

    &-content {
      height: rem-calc(75);
      border: rem-calc(1) solid $opacity-grey-1;
      border-top: none;
      border-right: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .name {

    &-title {
      background-color: $base-black;
      text-transform: uppercase;
      color: $white;
      padding: rem-calc(13 97);
      text-align: center;
      border-right: rem-calc(1) solid $white;
    }

    &-content {
      padding: rem-calc(0 65);
      border: rem-calc(1) solid $opacity-grey-1;
      border-top: none;
      border-right: none;
      height: rem-calc(75);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .art {

    &-title {
      background-color: $base-black;
      text-transform: uppercase;
      color: $white;
      padding: rem-calc(13 39);
      border-right: rem-calc(1) solid $white;
    }

    &-content {
      padding: rem-calc(0 31);
      border: rem-calc(1) solid $opacity-grey-1;
      border-top: none;
      border-right: none;
      height: rem-calc(75);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .price {

    &-title {
      background-color: $base-black;
      text-transform: uppercase;
      color: $white;
      padding: rem-calc(13 69);
      border-right: rem-calc(1) solid $white;
    }

    &-content {
      padding: rem-calc(0 37);
      border: rem-calc(1) solid $opacity-grey-1;
      border-top: none;
      border-right: none;
      height: rem-calc(75);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .rating {

    &-title {
      background-color: $base-black;
      text-transform: uppercase;
      color: $white;
      padding: rem-calc(13 67);
    }

    &-content {
      border: rem-calc(1) solid $opacity-grey-1;
      border-top: none;
      height: rem-calc(75);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
    }
  }
}