<section id="article-text">
    <div class="grid-container">
        <div class="grid-x">
            <div class="medium-12 large-8 cell">
                <div class="text-container">
                    <div class="social-links">
                        <a href="#" class="social"><img src="../../assets/img/article/fb.svg" alt="fb"></a>
                        <a href="#" class="social"><img src="../../assets/img/article/google-plus.svg" alt="gplus"></a>
                    </div>
                    <!-- /.social-links -->
                    <p class="text-container-text"><span class="huge-letter">П</span>роснувшись
                        довольно поздно в прошлую субботу, я встретил своего соседа на кухне, собирающим рюкзак в горы. Клэй работает в аэропорту Кеннеди 6 дней в неделю и большинство зимних выходных проводит катаясь на лыжах и сноуборде. Я недолго думав, напросился поехать с ним. Мне повезло: у моего соседа полная кладовка экипировки и сноуборд, как раз под мой рост. Так что мне оставалось только арендовать ботинки по размеру и заплатить за подъемник.</p>

                    <p class="text-container-text">Горнолыжный курорт Кэмэлбек, который мы выбрали, находится в штате Пенсильвания, в 200 километрах на запад от Нью-Йорка, что примерно в 3 часах езды по скоростной трассе. Клэй пристегивает свой огромный шестой с плюсом айфон на фиксатор на лобовом стекле, время от времени болтает с Сири (приложение, которое позволяет получать ответы и рекомендации в виде голоса), узнавая телефоны проката экипировки, места ближайшего старбакса и достопримечательностей округи, ставит музыку в жанре блюграсс из своего родного штата Кентаки. За окном чуть ниже нуля, идет снег — нам определенно повезло с погодой.</p>

                    <p class="text-container-text">Проснувшись довольно поздно в прошлую субботу, я встретил своего соседа на кухне, собирающим рюкзак в горы. Клэй работает в аэропорту Кеннеди 6 дней в неделю и большинство зимних выходных проводит катаясь на лыжах и сноуборде. Я недолго думав, напросился поехать с ним. Мне повезло: у моего соседа полная кладовка экипировки и сноуборд, как раз под мой рост. Так что мне оставалось только арендовать ботинки по размеру и заплатить за подъемник.
                    </p>

                    <p class="text-container-text">Горнолыжный курорт Кэмэлбек, который мы выбрали, находится в штате Пенсильвания, в 200 километрах на запад от Нью-Йорка, что примерно в 3 часах езды по скоростной трассе. Клэй пристегивает свой огромный шестой с плюсом айфон на фиксатор на лобовом стекле, время от времени болтает с Сири (приложение, которое позволяет получать ответы и рекомендации в виде голоса), узнавая телефоны проката экипировки, места ближайшего старбакса и достопримечательностей округи, ставит музыку в жанре блюграсс из своего родного штата Кентаки. За окном чуть ниже нуля, идет снег — нам определенно повезло с погодой.</p>

                    <p class="text-container-text">Горнолыжный курорт Кэмэлбек, который мы выбрали, находится в штате Пенсильвания, в 200 километрах на запад от Нью-Йорка, что примерно в 3 часах езды по скоростной трассе. Клэй пристегивает свой огромный шестой с плюсом айфон на фиксатор на лобовом стекле, время от времени болтает с Сири (приложение, которое позволяет получать ответы и рекомендации в виде голоса), узнавая телефоны проката экипировки, места ближайшего старбакса и достопримечательностей округи, ставит музыку в жанре блюграсс из своего родного штата Кентаки. За окном чуть ниже нуля, идет снег — нам определенно повезло с погодой.</p>

                    <p class="text-container-text">Горнолыжный курорт Кэмэлбек, который мы выбрали, находится в штате Пенсильвания, в 200 километрах на запад от Нью-Йорка, что примерно в 3 часах езды по скоростной трассе. Клэй пристегивает свой огромный шестой с плюсом айфон на фиксатор на лобовом стекле, время от времени болтает с Сири (приложение, которое позволяет получать ответы и рекомендации в виде голоса), узнавая телефоны проката экипировки, места ближайшего старбакса и достопримечательностей округи, ставит музыку в жанре блюграсс из своего родного штата Кентаки. За окном чуть ниже нуля, идет снег — нам определенно повезло с погодой.</p>

                    <div class="img-container">
                        <img src="../../assets/img/article/group-4.png" alt="img">
                        <span class="img-label">Горнолыжный курорт Кэмэлбек</span>
                    </div>
                    <!-- /.img-container -->

                    <p class="text-container-text">Горнолыжный курорт Кэмэлбек, который мы выбрали, находится в штате Пенсильвания, в 200 километрах на запад от Нью-Йорка, что примерно в 3 часах езды по скоростной трассе. Клэй пристегивает свой огромный шестой с плюсом айфон на фиксатор на лобовом стекле, время от времени болтает с Сири (приложение, которое позволяет получать ответы и рекомендации в виде голоса), узнавая телефоны проката экипировки, места ближайшего старбакса и достопримечательностей округи, ставит музыку в жанре блюграсс из своего родного штата Кентаки. За окном чуть ниже нуля, идет снег — нам определенно повезло с погодой.</p>

                    <p class="text-container-text">Проснувшись довольно поздно в прошлую субботу, я встретил своего соседа на кухне, собирающим рюкзак в горы. Клэй работает в аэропорту Кеннеди 6 дней в неделю и большинство зимних выходных проводит катаясь на лыжах и сноуборде. Я недолго думав, напросился поехать с ним. Мне повезло: у моего соседа полная кладовка экипировки и сноуборд, как раз под мой рост. Так что мне оставалось только арендовать ботинки по размеру и заплатить за подъемник.</p>

                </div>
                <!-- /.text-container -->
                <div class="text-container">
                    <p class="text-container-quote">“Проснувшись довольно поздно в прошлую субботу, я встретил своего соседа на кухне, собирающим рюкзак в горы. Клэй работает в аэропорту Кеннеди 6 дней в неделю и большинство зимних выходных проводит катаясь на лыжах и сноуборде.”</p>
                    <!-- /.text-container-quote -->

                    <p class="text-container-text">Горнолыжный курорт Кэмэлбек, который мы выбрали, находится в штате Пенсильвания, в 200 километрах на запад от Нью-Йорка, что примерно в 3 часах езды по скоростной трассе. Клэй пристегивает свой огромный шестой с плюсом айфон на фиксатор на лобовом стекле, время от времени болтает с Сири (приложение, которое позволяет получать ответы и рекомендации в виде голоса), узнавая телефоны проката экипировки, места ближайшего старбакса и достопримечательностей округи, ставит музыку в жанре блюграсс из своего родного штата Кентаки. За окном чуть ниже нуля, идет снег — нам определенно повезло с погодой.</p>

                    <p class="text-container-text">Проснувшись довольно поздно в прошлую субботу, я встретил своего соседа на кухне, собирающим рюкзак в горы. Клэй работает в аэропорту Кеннеди 6 дней в неделю и большинство зимних выходных проводит катаясь на лыжах и сноуборде. Я недолго думав, напросился поехать с ним. Мне повезло: у моего соседа полная кладовка экипировки и сноуборд, как раз под мой рост. Так что мне оставалось только арендовать ботинки по размеру и заплатить за подъемник.</p>

                    <p class="text-container-text">Горнолыжный курорт Кэмэлбек, который мы выбрали, находится в штате Пенсильвания, в 200 километрах на запад от Нью-Йорка, что примерно в 3 часах езды по скоростной трассе. Клэй пристегивает свой огромный шестой с плюсом айфон на фиксатор на лобовом стекле, время от времени болтает с Сири (приложение, которое позволяет получать ответы и рекомендации в виде голоса), узнавая телефоны проката экипировки, места ближайшего старбакса и достопримечательностей округи, ставит музыку в жанре блюграсс из своего родного штата Кентаки. За окном чуть ниже нуля, идет снег — нам определенно повезло с погодой.</p>

                    <p class="text-container-text">Проснувшись довольно поздно в прошлую субботу, я встретил своего соседа на кухне, собирающим рюкзак в горы. Клэй работает в аэропорту Кеннеди 6 дней в неделю и большинство зимних выходных проводит катаясь на лыжах и сноуборде. Я недолго думав, напросился поехать с ним. Мне повезло: у моего соседа полная кладовка экипировки и сноуборд, как раз под мой рост. Так что мне оставалось только арендовать ботинки по размеру и заплатить за подъемник.</p>
                </div>
                <!-- /.text-container -->
            </div>
            <!-- /.medium-8 large-8 cell -->
            <div class="medium-12 large-4 more-flex cell">
                <div class="more-articles-container">
                    <span class="more-articles-title">Статьи по теме:</span>
                    <div class="more-articles-preview">
                        <img src="../../assets/img/article/pic-back-3.png" alt="preview">
                        <div class="preview-info">
                            <span class="preview-info-title">Доступна услуга сезонного хранения
                                велосипеда</span>
                            <a href="#" class="preview-info-link">Перейти к статье</a>
                        </div>
                        <!-- /.preview-info -->
                    </div>
                    <div class="more-articles-preview">
                        <img src="../../assets/img/article/pic-back-3.png" alt="preview">
                        <div class="preview-info">
                            <span class="preview-info-title">Доступна услуга сезонного хранения
                                велосипеда</span>
                            <a href="#" class="preview-info-link">Перейти к статье</a>
                        </div>
                        <!-- /.preview-info -->
                    </div>
                    <div class="more-articles-preview">
                        <img src="../../assets/img/article/pic-back-2.png" alt="preview">
                        <div class="preview-info">
                            <span class="preview-info-title">Доступна услуга сезонного хранения
                                велосипеда</span>
                            <a href="#" class="preview-info-link">Перейти к статье</a>
                        </div>
                        <!-- /.preview-info -->
                    </div>
                </div>
                <!-- /.more-article-container -->
                <div class="more-products">
                    <span class="more-products-title">Сопутствующие товары</span>
                    <div class="grid-x small-up-2 medium-up-2 large-up-1">
                        <div class="more-products-product-container cell">
                            <div class="actions-container">
                                <div class="action-container-link">
                                    <a class="actions-with-product to-desire" href="#">В желания</a>
                                    <a class="actions-with-product to-compare" href="#">Сравнить</a>
                                </div>
                                <button class="button primary minus-percent">-30%</button>
                            </div>
                            <img src="../../assets/img/article/bitmap.png" alt="prod">
                            <a class="product-title pop-product">Under armour</a>
                            <a class="product-descr pop-product">Raid Solid 8in Short - Men’s</a>
                            <span class="price pop-product">12 000.00 грн.</span>
                            <span class="old-price">12 000.00 грн.</span>
                        </div>
                        <!-- /.product-container cell -->
                        <div class="more-products-product-container cell">
                            <div class="actions-container">
                                <div class="action-container-link">
                                    <a class="actions-with-product to-desire" href="#">В желания</a>
                                    <a class="actions-with-product to-compare" href="#">Сравнить</a>
                                </div>
                                <button class="button primary minus-percent">-30%</button>
                            </div>
                            <img src="../../assets/img/article/bitmap.png" alt="prod">
                            <a class="product-title pop-product">Under armour</a>
                            <a class="product-descr pop-product">Raid Solid 8in Short - Men’s</a>
                            <span class="price pop-product">12 000.00 грн.</span>
                            <span class="old-price">12 000.00 грн.</span>
                        </div>
                        <!-- /.product-container cell -->
                        <div class="more-products-product-container cell">
                            <div class="actions-container">
                                <div class="action-container-link">
                                    <a class="actions-with-product to-desire" href="#">В желания</a>
                                    <a class="actions-with-product to-compare" href="#">Сравнить</a>
                                </div>
                                <button class="button primary minus-percent">-30%</button>
                            </div>
                            <img src="../../assets/img/article/bitmap.png" alt="prod">
                            <a class="product-title pop-product">Under armour</a>
                            <a class="product-descr pop-product">Raid Solid 8in Short - Men’s</a>
                            <span class="price pop-product">12 000.00 грн.</span>
                            <span class="old-price">12 000.00 грн.</span>
                        </div>
                        <!-- /.product-container cell -->
                    </div>
                    <!-- /.grid-x medium-up-1 large-up-1 -->
                </div>
                <!-- /.more-products -->
            </div>
            <!-- /.medium-4 large-4 cell -->
        </div>
        <div class="social-links-bottom">
            <span class="social-links-bottom-title">Поделиться:</span>
            <a href="#" class="social"><img src="../../assets/img/article/fb.svg" alt="fb"></a>
            <a href="#" class="social"><img src="../../assets/img/article/google-plus.svg" alt="gplus"></a>
        </div>
    </div>
    <!-- /.grid-container -->
</section>
<!-- /#article-text -->