<section id="get-news">
    <div class="get-news-container">
        <h2 class="get-news-title title title-2 title-bold title-uppercase">Будьте в курсе новостей</h2>
        <p class="get-news-text">BPS Company предлагает всем велолюбителям простое обновление велосипедов –воспользоваться
            программой трейд-ин.BPS Company предлагает всем велолюбителям простое обновление </p>
        <form class="get-news-form">
            <input type="email" class="get-news-form-email" placeholder="E-mail" name="email">
            <button class="button get-news-btn"></button>
        </form>
        <!-- /.get-news-form -->
    </div>
    <!-- /.get-news-container -->
</section>
<!-- /#get-news -->