#article-text {
  padding: rem-calc(40 0 44);
  background-color: $white;

  .text-container {
    position: relative;

    &-quote {
      font-size: rem-calc(24);
      line-height: rem-calc(32);
      letter-spacing: rem-calc(0.4);
      font-style: italic;
      margin-bottom: rem-calc(50);
    }
  }

  .social-links {
    display: flex;
    flex-direction: column;
    width: rem-calc(20);
    align-items: center;
    position: absolute;
    top: rem-calc(5);
    left: rem-calc(-30);
  }

  .text-container-text {
    font-size: rem-calc(14);
    line-height: rem-calc(32);
    margin-bottom: rem-calc(50);
    color: rgba(26, 26, 26, 0.8);
  }

  .huge-letter {
    font-size: rem-calc(36);
  }

  .img-label {
    display: block;
    font-size: rem-calc(14);
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(20);
    text-align: center;
  }

  .more-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .more-articles {

    &-container {
      background-color: rgba(178, 178, 178, 0.1);

      @include breakpoint(large) {
        margin-left: rem-calc(45);
        padding: rem-calc(40 35 40);
      }
    }

    &-preview {
      text-align: center;
      margin-top: rem-calc(10);
      position: relative;

      &:first-of-type {
        margin-top: rem-calc(30);
      }
    }

    &-title {
      text-transform: uppercase;
      font-size: rem-calc(20);
      font-weight: bold;
      letter-spacing: rem-calc(0.3);
      display: block;
      text-align: center;
    }
  }

  .preview-info {
    position: absolute;
    bottom: 0;
    padding: rem-calc(0 20 20);
    text-align: left;

    &-title {
      color: $white;
      font-size: rem-calc(20);
      line-height: rem-calc(24);
      letter-spacing: rem-calc(0.3);
      display: block;
    }

    &-link {
      display: inline-block;
      text-transform: uppercase;
      font-size: rem-calc(14);
      padding-right: rem-calc(30);
      color: $white;
      margin-top: rem-calc(20);
      background-image: url(../img/article/white.svg);
      background-repeat: no-repeat;
      background-position: right rem-calc(4);
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social-links-bottom {
    display: flex;
    max-width: rem-calc(120);
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: rem-calc(14);
      font-weight: bold;
    }
  }

  .more-products {
    background-color: rgba(178, 178, 178, 0.1);
    padding-top: rem-calc(35);

    @include breakpoint(large) {
      margin-left: 2.8125rem;
      padding: 2.5rem 2.1875rem 2.5rem;
    }

    &-title {
      text-transform: uppercase;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 0.01875rem;
      display: block;
      text-align: left;

      @include breakpoint(large) {
        text-align: center;
      }
    }

    &-product-container {
      padding: 1rem 1.25rem 0.5rem 0.75rem;
      position: relative;
      transition: all .3s;
      background-color: $white;
      margin-top: rem-calc(10);

      &:first-of-type {

        @include breakpoint(large) {
          margin-top: rem-calc(40);
        }
      }

      &:hover {
        box-shadow: rem-calc(0 2 15 0) rgba(0, 0, 0, 0.24);
        transform: scale(1.1);
        z-index: 10;
      }

      &:hover .actions-with-product {
        display: block;
      }

      &:hover .product-colors {
        display: flex;
      }

      & img {
        display: block;
        margin: 0 auto;
      }
    }

    .product-title {
      text-transform: uppercase;
      color: #b2b2b2;
      display: block;
      margin-top: 1.625rem;
    }

    .product-descr {
      display: block;
      color: #0a0a0a;
      margin-top: 0.125rem;
    }

    .price {
      margin-top: 0.5rem;
      display: inline-block;
      color: #ff6c6b;
    }

    .old-price {
      font-size: 0.75rem;
      color: #b2b2b2;
      display: inline-block;
      text-decoration: line-through;

      @include breakpoint(medium) {
        margin-left: 1rem;
      }
    }

  }

  .actions-container {
    display: flex;
    justify-content: space-between;
  }

  .actions-with-product {
    display: none;
    padding-left: rem-calc(23);
    font-size: rem-calc(14);
    transition: all .3s;
  }

  .to-desire {
    margin-bottom: rem-calc(2);
    background-image: url(../img/home/black.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .to-compare {
    background-image: url(../img/home/product-arrows.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .minus-percent {
    font-size: rem-calc(10);
    font-style: italic;
    color: $white;
    padding: rem-calc(9 14);
    //position: absolute;
    //top: rem-calc(20);
    //right: rem-calc(20);
  }

  .pop-product {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    letter-spacing: rem-calc(0.2);
  }


}