#get-news {
  background-color: rgba(216, 216, 216, 0.15);
  padding: rem-calc(130 0 126);

  .get-news {

    &-container {
      max-width: rem-calc(650);
      margin: 0 auto;
      text-align: center;
    }

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: rem-calc(36);
      letter-spacing: rem-calc(3);
    }

    &-text {
      font-size: rem-calc(14);
      line-height: rem-calc(20);
      margin-top: rem-calc(20);
    }

    &-form {
      display: flex;
    }

    &-form-email {
      height: 3.125rem;
      border: none;
      box-shadow: none;
      padding: 0 2.125rem;
      color: rgba(36, 36, 36, 0.6);
      transition: all .3s;
      margin-bottom: 0;

      &:hover, &:focus {
        box-shadow: rem-calc(2 2 10) $greyish, rem-calc(-1 -1 10) $greyish;
      }
    }

    &-btn {
      width: rem-calc(56);
      height: rem-calc(50);
      background-image: url(../img/article/white.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: all .4s;
      border: none;
      padding: 0;

      &:hover {
        background-position: 70% 50%;
      }
    }

  }
}